{% load static %}
<!DOCTYPE html>
<html>
<head>
         <!-- Primary Meta Tags -->
         <title>Class Planit</title>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <meta name="title" content="Helping teachers create, share, and assess more engaging lessons">
         <meta name="author" content="Class Planit">
         <meta name="description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
         <meta name="keywords" content="lesson plans, teacher pay teachers, worksheets" />
         <link rel="canonical" href="www.classplanit.co">
         
         <!-- Open Graph / Facebook -->
         <meta property="og:type" content="website">
         <meta property="og:url" content="www.classplanit.co">
         <meta property="og:title" content="Class Planit - helping teachers create, share, and assess more engaging lessons.">
         <meta property="og:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
         <meta property="og:image" content="www.classplanit.co">
         
         <!-- Twitter -->
         <meta property="twitter:card" content="summary_large_image">
         <meta property="twitter:url" content="www.classplanit.co">
         <meta property="twitter:title" content="Class Planit - helping teachers create, share, and assess more engaging lessons.">
         <meta property="twitter:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
         <meta property="twitter:image" content="{% static 'images/dashboard/twitter_image.png' %}">
         
         <!-- Favicon -->
         <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/dashboard/icon_120.png' %}">
         <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mages/icon_40.png' %}">
         <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/dashboard/icon_40.png' %}">
         
         <link rel="mask-icon" href="{% static 'images/dashboard/icon.svg' %}" color="#ffffff">
         <meta name="msapplication-TileColor" content="#ffffff">
         <meta name="theme-color" content="#ffffff">
         
         <!-- Fontawesome -->
         <link type="text/css" href="{% static 'vendor/dashboard/fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
         
         <!-- Prism -->
         <link type="text/css" href="{% static 'vendor/dashboard/prismjs/themes/prism.css' %}" rel="stylesheet">
         
         <!-- VectorMap -->
         <link rel="stylesheet" href="{% static 'vendor/dashboard/jqvmap/dist/jqvmap.min.css' %}">
         
         <!-- Rocket CSS -->
         <link type="text/css" href="{% static 'css/dashboard/rocket.css' %}" rel="stylesheet">
     
  <script src="https://cdn.tiny.cloud/1/0ak6ftt9ng9va9e98pl0iwxwwh0rb1tipwsg8it4mjmcbkjb/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body>
    <div class="preloader bg-soft flex-column justify-content-center align-items-center">
        <img class="loader-element" src="{% static 'images/dashboard/circle_logo.svg' %}" height="50" alt="Rocket logo">
    </div>
    
            <nav class="navbar navbar-dark navbar-theme-primary col-12 d-md-none">
        <a class="navbar-brand mr-lg-5" href="../../index.html">
            <img class="navbar-brand-dark" src="../../assets/img/brand/light.svg" alt="Pixel logo" /> <img class="navbar-brand-light" src="../../assets/img/brand/dark.svg" alt="Pixel Logo Dark" />
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
 
            <div class="container-fluid bg-soft">
                <div class="row">
                    <div class="col-12">
    
    <div class="bg-white">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar">
                <a href="{% url 'Dashboard' week_of='Current' %}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-arrow-left"></i> Back to Dashboard</a>
    
    
            </div>
            <div class="btn-group mr-2">
                
    
                <button  onclick="window.print();return false;" type="button" class="btn btn-sm btn-outline-secondary">Share with Colleague</button>
           
    
            </div>
        </div>
        <div class="row">
       
            <div class="col-lg-5">

              
            <div class='container'>
            <div class="row justify-content-between  align-items-center bg-white ">
                <div class="col-12">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {% if 'Preview' in page %}
                        <a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page='Preview' worksheet_id=0 act_id='False' question_id=0 %}#heading" type="button" class="btn btn-primary">Worksheet Preview</a>
                        <a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page='Current' worksheet_id=0 act_id='False' question_id=0 %}#heading" type="button" class="btn btn-outline-primary">Add New Question</a>
                        {% else %}
                        <a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page='Preview' worksheet_id=0 act_id='False' question_id=0 %}#heading" type="button" class="btn btn-outline-primary">Worksheet Preview</a>
                        <a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page='Current' worksheet_id=0 act_id='False' question_id=0 %}#heading" type="button" class="btn btn-primary">Add New Question</a>
                        
                        {% endif %}
                        <a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page='Current' worksheet_id=0 act_id='False' question_id=0 %}#heading" type="button" class="btn btn-success"><i class="fas fa-check"></i> Assign to Classroom</a>
                        
                    </div>
                    
                    <hr>
                   
                    {% if 'Preview' in page %}
                            {% for quest in worksheet_preview %}
                        

                            {% if quest.Incorrect_One %}
                             <!-----------| Multiple CHoice |------->
                             <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ forloop.counter }} <span style="color:purple"><i class="fas fa-cog"></i></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Delete</a>
                                  <a class="dropdown-item" href="#">Move</a>
                                  <a class="dropdown-item" href="#">Edit</a>
                                </div>
                              </div>
                                <h5>{{ quest.Question }} </h5>

                                <div class='row'>
                                    <div class='col'>
                                    <p>A. {{ quest.Correct }}</p>  
                                    </div>
                                    <div class='col'>
                                        p>B. {{ quest.Incorrect_One }}</p> 
                                    </div>
                                </div>
                                        {% if quest.Incorrect_Two %}
                                        <div class='row'>
                                            <div class='col'>
                                                p>C. {{ quest.Incorrect_Two }}</p> 
                                            </div>
                                            <div class='col'>
                                                p>D. {{ quest.Incorrect_Three }}</p> 
                                            </div>
                                        </div>
                                        <br>
                                    {% endif %}
                            {% elif quest.Correct %}
                            <!-----------| FIll in Blank/ Short Asnwer  |------->
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ forloop.counter }} <span style="color:purple"><i class="fas fa-cog"></i></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Delete</a>
                                  <a class="dropdown-item" href="#">Move</a>
                                  <a class="dropdown-item" href="#">Edit</a>
                                </div>
                              </div>
                            <h5>{{ quest.Question }} (<small style="color:orange">{{ quest.Correct }}</small>)</h5>

                             <br>
                             {% else  %}
                             <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ forloop.counter }} <span style="color:purple"><i class="fas fa-cog"></i></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Delete</a>
                                  <a class="dropdown-item" href="#">Move</a>
                                  <a class="dropdown-item" href="#">Edit</a>
                                </div>
                              </div>
                            <!-----------| Short Answer Not Answer |------->
                            <h5>{{ quest.Question }}</h5>
                            <br>
                            <!-----------| End Short Answer |------->
                              <!-------------========================-->
                             {% endif %}
                            
                            {% endfor %}
                    {% else %}
                    <form>
                        <div class="row">
                            {% if question_match.Question_Image %}
                            <div class='col-4'>
                                
                                <figure><img class="xv-superimage" style="max-height:200px;max-width:200px;" src="{{ question_match.Question_Image.url }}" alt=""></figure>
                                
                            </div>
                            <div class='col-8'>
                                {% else %}
                                <div class='col-12'>
                                {% endif %} 

                                
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1"><h4>Question: | <span class="badge badge-primary"><a href="{% url 'lesson_pdf_upload' user_id=user_profile.id  class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id %}#heading"><i class="fas fa-image"></i></a></span></h4></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">{{ question_match.Question }}</textarea>
                                  </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            {% if question_match.correct_image %}
                            <div class='col-4'>
                                
                                <figure><img class="xv-superimage" style="max-height:200px;max-width:200px;" src="{{ question_match.correct_image.url }}" alt=""></figure>
                                
                            </div>
                            <div class='col-8'>
                                <br>
                                <br>
                                {% else %}
                                <div class='col-12'>
                                {% endif %} 

                                
                                <label ><h5>Correct Answer | <span class="badge badge-success"><a href="{% url 'lesson_pdf_upload' user_id=user_profile.id  class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id %}#heading"><i class="fas fa-image"></i></a></span></h5></label>
                                <div class="input-group mb-3">
                                    
                                    <input type="text" class="form-control" placeholder="" aria-label="" value='{{ question_match.Correct }}' aria-describedby="basic-addon1">
                                 
                                  </div>
                            </div>
                        </div>
                   
                        <hr>
                        <div class="row">
                           {% if question_match.in_one_image %} 
                           <div class='col-4'>
                                
                                <figure><img class="xv-superimage" style="max-height:200px;max-width:200px;" src="{{ question_match.in_one_image.url }}" alt=""></figure>
                                
                            </div>
                            <div class='col-8'>
                                <br>
                                <br>
                                {% else %}
                                <div class='col-12'>
                                {% endif %} 
                             
                                <label ><h5>Incorrect Option One | <span class="badge badge-secondary"><a href="{% url 'lesson_pdf_upload' user_id=user_profile.id  class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id %}#heading"><i class="fas fa-image"></i></a></span></h5></label>
                                <div class="input-group mb-3">
                                    
                                    <input type="text" class="form-control" placeholder="" aria-label="" value='{% if question_match.Incorrect_One %}{{ question_match.Incorrect_One }}{% endif %}' aria-describedby="basic-addon1">
                                  
                                  </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            {% if question_match.in_two_image %}
                            <div class='col-4'>
                               
                                <figure><img class="xv-superimage" style="max-height:200px;max-width:200px;" src="{{ question_match.in_two_image.url }}" alt=""></figure>
                            
                            </div>
                            <div class='col-8'>
                                <br>
                                <br>
                                {% else %}
                                <div class='col-12'>
                                {% endif %} 
                              
                                <label ><h5>Incorrect Option Two | <span class="badge badge-secondary"><a href="{% url 'lesson_pdf_upload' user_id=user_profile.id  class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id %}#heading"><i class="fas fa-image"></i></a></span></h5></label>
                                <div class="input-group mb-3">
                                    
                                    <input type="text" class="form-control" placeholder="" aria-label="" value='{% if question_match.Incorrect_Two %}{{ question_match.Incorrect_Two }}{% endif %}' aria-describedby="basic-addon1">
                                 
                                  </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            {% if question_match.in_three_image %}
                            <div class='col-4'>
                                
                                <figure><img class="xv-superimage" style="max-height:200px;max-width:200px;" src="{{ question_match.in_three_image.url }}" alt=""></figure>
                             
                            </div>
                            <div class='col-8'>
                                <br>
                                <br>
                                {% else %}
                                <div class='col-12'>
                                {% endif %}
                                
                                <label ><h5>Incorrect Option Three | <span class="badge badge-secondary"><a href="{% url 'lesson_pdf_upload' user_id=user_profile.id  class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id %}#heading"><i class="fas fa-image"></i></a></span></h5></label>
                                <div class="input-group mb-3">
                                    
                                    <input type="text" class="form-control" placeholder="" aria-label="" value='{% if question_match.Incorrect_Three %}{{ question_match.Incorrect_Three }}{% endif %}' aria-describedby="basic-addon1">
                                   
                                  </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Add to Worksheet </button>
                      </form>

                  
                   
                    <hr>
                    {% endif %}
                            <!----End Form Option -->
                        
            
            
                </div>
                
            </div>
            </div>  
                       
  
            </div>
            <div class="col-lg-4">
                {% if 'Upload' in page %}
                <div class="col-12">
                    <button type="button" class="btn btn-light btn-sm"> <i class="fas fa-window-close"></i></button>
                   
                    <div class="card border-light shadow-sm">
                        <div class="card-header"><h5>Multiple Choice:</h5></div>
                        <div class="card-body">
                            <h5>Add relevant text to build a worksheet in minutes!</h5>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    
                                <a href="#" data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-outline-secondary">Upload Pdf</a>
                                <a href="{% url 'lesson_pdf_upload' user_id=user_profile.id  class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id %}#heading" type="button" class="btn btn-outline-secondary">Copy and Paste</a>
                                <a href="{% url 'lesson_pdf_upload' user_id=user_profile.id  class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id %}#heading" type="button" class="btn btn-outline-secondary">Pull from Website</a>
                                </div>
                                <hr>
                            {% for value, text, selected in activity_choices %}
                            <div class="card hover-state border-bottom rounded-0 py-3">
                                
                                <div class="card-body d-sm-flex align-items-center flex-wrap flex-lg-nowrap py-0 pl-sm-0">
                                
                                <div class="col-10 col-lg-10 d-block px-0 mb-4 mb-md-0">
                                    <div class="mb-2">
                                        <h3 class="h5">
                                            
                                            {% for word in text %}
                                                
                                    
                                            {% if 'NNP' in word.1 %}
                                            <span>{{ word.0 }}</span>
                                            {% else %}
                                            {{ word.0 }}
                                            {% endif %}
                                                
                                            {% endfor %}
                                        
                                        </h3>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-10 col-sm-2 col-lg-2 col-xl-2 d-none d-lg-block d-xl-inline-flex align-items-center ml-lg-auto text-right justify-content-end px-md-0">
                                    {% if selected_two == 1 %}
                                    <a href="#" class="btn btn-sm btn-secondary">Add to Key Words</a>
                                    {% else %}
                                    <a href="#" class="btn btn-sm btn-outline-secondary">Add to Key Words</a>
                                    {% endif %}
                                    
                                    {% if selected == 1 %}
                                    <a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id page='Current' worksheet_id=worksheet_id act_id=value question_id=0 %}" class="btn btn-sm btn-success">Add to Worksheet</a>
                                    {% else %}
                                    <a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id page='Current' worksheet_id=worksheet_id act_id=value question_id=0 %}" class="btn btn-sm btn-outline-success">Add to Worksheet</a>
                                    {% endif %}
                                </div>
                                
                            </div>
                            
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-12" id="newcontenctDiv"  style="display:none;">
                    <button type="button"  onclick="hidenewcontenctDiv()" class="btn btn-light btn-sm"> <i class="fas fa-window-close"></i></button>
                   
                    <div class="card border-light shadow-sm">
                        <div class="card-header"><h5>Multiple Choice:</h5></div>
                        <div class="card-body">
                            <h5>Add relevant text to build a worksheet in minutes!</h5>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="#" data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-outline-secondary">Upload Pdf</a>
                                <a href="{% url 'lesson_pdf_upload' user_id=user_profile.id  class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id %}#heading" type="button" class="btn btn-outline-secondary">Copy and Paste</a>
                                <a href="{% url 'lesson_pdf_upload' user_id=user_profile.id  class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id %}#heading" type="button" class="btn btn-outline-secondary">Pull from Website</a>
                                </div>
                                <hr>
                            {% for value, text, selected in activity_choices %}
                            <div class="card hover-state border-bottom rounded-0 py-3">
                                
                                <div class="card-body d-sm-flex align-items-center flex-wrap flex-lg-nowrap py-0 pl-sm-0">
                                
                                <div class="col-10 col-lg-10 d-block px-0 mb-4 mb-md-0">
                                    <div class="mb-2">
                                        <h3 class="h5">
                                            
                                            {% for word in text %}
                                                
                                    
                                            {% if 'NNP' in word.1 %}
                                            <span>{{ word.0 }}</span>
                                            {% else %}
                                            {{ word.0 }}
                                            {% endif %}
                                                
                                            {% endfor %}
                                        
                                        </h3>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-10 col-sm-2 col-lg-2 col-xl-2 d-none d-lg-block d-xl-inline-flex align-items-center ml-lg-auto text-right justify-content-end px-md-0">
                                    {% if selected_two == 1 %}
                                    <a href="#" class="btn btn-sm btn-secondary">Add to Key Words</a>
                                    {% else %}
                                    <a href="#" class="btn btn-sm btn-outline-secondary">Add to Key Words</a>
                                    {% endif %}
                                    
                                    {% if selected == 1 %}
                                    <a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id page='Current' worksheet_id=worksheet_id act_id=value question_id=0 %}" class="btn btn-sm btn-success">Add to Worksheet</a>
                                    {% else %}
                                    <a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=subject_match_full.id page='Current' worksheet_id=worksheet_id act_id=value question_id=0 %}" class="btn btn-sm btn-outline-success">Add to Worksheet</a>
                                    {% endif %}
                                </div>
                                
                            </div>
                            
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12" id="mcDiv"  style="display:none;">
                    <button type="button"  onclick="hidemcDiv()" class="btn btn-light btn-sm"> <i class="fas fa-window-close"></i></button>
                   
                    <div class="card border-light shadow-sm">
                        <div class="card-header"><h5>Multiple Choice:</h5></div>
                        <div class="card-body">

  
                        {% for quest in question_lists %}
                        {% ifchanged quest.Question %}
                        <li><a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page='Current' worksheet_id=worksheet_id act_id='False' question_id=quest.id %}#heading" class="card-link">{{ quest.Question }}</a> </li>
                        <h5><small style="color:orange">Answer: {{ quest.Correct }}</small></h5>
           
                        <figure><img class="xv-superimage" style="max-height:200px;max-width:200px;" src="{{ quest.correct_image.url }}" alt=""></figure>
                        <br>

                        {% endifchanged %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-12" id="saDiv"  style="display:none;">
                    <button type="button"  onclick="hidesaDiv()" class="btn btn-light btn-sm"> <i class="fas fa-window-close"></i></button>
                   
                    <div class="card border-light shadow-sm">
                        <div class="card-header"><h5>Short Answer:</h5></div>
                        <div class="card-body">

                        {% for quest in text_questions %}
                        <li><a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page='Current' worksheet_id=worksheet_id act_id='False' question_id=quest.id %}#heading" class="card-link">{{ quest.Question }}</a></li>
                        <br>
                        {% endfor %}
                        </div>
                    </div>
                 
                </div>
                <br>
                <div class="col-12" id="filDiv" style="display:none;">
                    <button type="button" onclick="hidefilDiv()" class="btn btn-light btn-sm"> <i class="fas fa-window-close"></i></button>
                   
                    <div class="card border-light shadow-sm">
                        <div class="card-header"><h5>Fill in The Blanks:</h5></div>
                        <div class="card-body">

  
                        {% for quest in generated_questions %}
                       
                        <li><a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page='Current' worksheet_id=worksheet_id act_id='False' question_id=quest.id %}#heading" class="card-link">{{ quest.Question }} (<small style="color:orange">{{ quest.Correct }}</small>)</a></li>
                        <br>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-12" id="tfDiv" style="display:none;">
                    <button type="button" onclick="hidetfDiv()" class="btn btn-light btn-sm"> <i class="fas fa-window-close"></i></button>
                   
                    <div class="card border-light shadow-sm">
                        <div class="card-header"><h5>True or False:</h5></div>
                        <div class="card-body">
                         <p>None</p>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="col-lg-3">
                <div class="col-12 px-0 mb-4">
                    <div class="card border-light shadow-sm">
                       
                        <div class="card-body">
                            <h2 class="h5">Links:</h2>
                            <li><a href="{% url 'activity_builder' user_id=1 class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page=0 %}#heading" class="card-link">Lesson Plan</a></li>
                           
                            <li><a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page='Preview' worksheet_id=worksheet_id act_id='False' question_id=0 %}#heading" class="card-link">Digital Worksheet</a></li>
                        
                            <li><a href="{% url 'digital_study_guide' user_id=1 class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 %}#heading" class="card-link">Student Performance</a></li>
                            <li><a href="{% url 'digital_study_guide' user_id=1 class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 %}#heading" class="card-link">Standards Tracking</a></li>
    
                    </div>
                    </div>
                </div>
                <div class="col-12 px-0 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                    
                            <button type="button" class="btn btn-link" onclick="showsaDiv()"><i class="fas fa-angle-left"></i> Short Answer (3)</button>
                         
                             <hr>
                            <button type="button" class="btn btn-link" onclick="showfilDiv()" ><i class="fas fa-angle-left"></i> Fill in the Blank (1)</button>
                            <hr>
                            <button type="button" class="btn btn-link" onclick="showmcDiv()"><i class="fas fa-angle-left"></i> Multiple Choice (2)</button>
                            <hr>
                            <button type="button" class="btn btn-link" onclick="showtfDiv()" ><i class="fas fa-angle-left"></i> True or False (0)</button>
                            <hr>
                            <button type="button" class="btn btn-link" onclick="shownewcontenctDiv()" ><i class="fas fa-angle-left"></i> Add Text from PDF or Website</button>
                        

                            
                            <hr>
                         
                        </div>
                    </div>
                </div>
                <div class="col-12 px-0 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                <h2 class="h5">Key Terms:</h2>
                                </div>
                                <div class="col text-right">
                                    <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                        <div class="tagcloud">
                            {% for topic in topic_lists_selected %}
                            {% ifchanged topic.item %}
                            <a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=6 item_id=topic.id action=0 %}" data-toggle="tooltip" data-placement="top" title="{{ topic }} - {% for item in topic.description.all%}{{item }} ; {% endfor %}" class="btn btn-sm btn-outline-success">{{ topic.item }}</a>
                          
                            {% endifchanged %}
                            {% endfor %}
                            {% if topic_match %}
                                {% for line in topic_lists_matched %}
                                    {% if line.item %}
                                    {% ifchanged line.item %}
                                    <a class="btn btn-sm btn-outline-secondary selecttopic" id="like{{line.id}}" href="#" data-topid="{{ line.id }}" data-lessid="{{ lesson_match.id }}" data-toggle="tooltip" data-placement="top" title="{{ line.item }} - {% for item in line.description.all%}{{item }} ; {% endfor %}" >{{ line.item }}</a>
                                    {% endifchanged %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for topic in topic_lists %}
                                {% ifchanged topic.0.id %}
                            
                                <a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=6 item_id=topic.0.id action=1 %}" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="{{ topic.0 }} - {% for item in topic.0.description.all%}{{item }} ; {% endfor %}" >{{ topic.0.item }}</a>
                            
                                {% endifchanged %}
                                {% endfor %}
                            {% endif %}
    
                            {% if match_topic_text %}
                                {% for section in match_topic_text %}
                                    {% for line in section %}
                                        {% if line.item %}
                                        {% ifchanged line.id %}
                                        <a class="btn btn-sm btn-outline-secondary selecttopic" id="like{{line.id}}" href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=6 item_id=line.id action=1 %}" data-topid="{{ line.id }}" data-lessid="{{ lesson_match.id }}" data-toggle="tooltip" data-placement="top" title="{{ line.item }} - {% for item in line.description.all%}{{item }} ; {% endfor %}" >{{ line.item }}</a>
                                        {% endifchanged %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
             
                {% if uploaded_images %}
                <div class="col-12 px-0 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                <h2 class="h5">Picture Library:</h2>
                                </div>
                                <div class="col text-right">
                                    <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                                </div>
                            </div>
                        </div>
    
                        {% for image in uploaded_images %}
                        <div class="main_image">
                         <img class="img-fluid" src="{{ image.image_image.url }}" alt="" width="200"/>
                     </div>
                         {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
   
      <br>

    </div>
     <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload a PDF Worksheet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            {% if form2.errors %}
            {% for field in form2 %}
                {% for error in field.errors %}
                    <h4 style="color:#cb6318"> {{ error }} </h4>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if form2 %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Add PDF Document:</p>
            {{ form2.pdf_doc.errors }}
            {{ form2.pdf_doc }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
        {% endif %}
        </div>

    </div>
    </div>
</div>

  <script>
    tinymce.init({
        selector: 'textarea#permanent-pen',
        plugins: 'permanentpen print',
        contextmenu: 'configurepermanentpen',
        toolbar: 'permanentpen print',
        menubar: 'file edit view format table tools help',
        menu: {
            format: {
            title: 'Format',
            items: 'configurepermanentpen | bold italic underline strikethrough ' +
                'superscript subscript codeformat | formats blockformats fontformats ' +
                'fontsizes align | forecolor backcolor | removeformat'
            }
        },
        permanentpen_properties: {
            fontname: 'arial,helvetica,sans-serif',
            forecolor: '#E74C3C',
            fontsize: '12pt',
            hilitecolor: '',
            bold: true,
            italic: false,
            strikethrough: false,
            underline: false
        },
        height: 1300,
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });
  </script>
  <script>
    function showsaDiv() {
        document.getElementById('saDiv').style.display = "block";
    }
    function hidesaDiv() {
        document.getElementById('saDiv').style.display = "none";
    }
    function showfilDiv() {
        document.getElementById('filDiv').style.display = "block";
    }
    function hidefilDiv() {
        document.getElementById('filDiv').style.display = "none";
    }
   function showmcDiv() {
        document.getElementById('mcDiv').style.display = "block";
   }
   function hidemcDiv() {
        document.getElementById('mcDiv').style.display = "none";
    }
   function showtfDiv() {
        document.getElementById('tfDiv').style.display = "block";
    }
    function hidetfDiv() {
        document.getElementById('tfDiv').style.display = "none";
    }

    function shownewcontenctDiv() {
        document.getElementById('newcontenctDiv').style.display = "block";
    }
    function hidenewcontenctDiv() {
        document.getElementById('newcontenctDiv').style.display = "none";
    }
    
  </script>
 <script src="{% static 'base/js/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'base/js/tinymce/custom.js' %}" ></script>
  <!-- Core -->
  <script src="{% static 'vendor/dashboard/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/headroom.js/dist/headroom.min.js' %}"></script>
  
  <!-- Vendor JS -->
  <script src="{% static 'vendor/dashboard/countup.js/dist/countUp.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/prismjs/prism.js' %}"></script>
  
  <!-- Chartist -->
  <script src="{% static 'vendor/dashboard/chartist/dist/chartist.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
  
  <!-- Vector Maps -->
  <script src="{% static 'vendor/dashboard/jqvmap/dist/jquery.vmap.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
  
  <!-- Rocket JS -->
  <script src="{% static 'js/dashboard/rocket.js' %}"></script>
      <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{% static 'forms_ajaxified/js/forms_ajaxified.js' %}"></script>

</body>
</html>