
{% load static %}
<!DOCTYPE html>
<html>
<head>
         <!-- Primary Meta Tags -->
         <title>Class Planit</title>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <meta name="title" content="Helping teachers create, share, and assess more engaging lessons">
         <meta name="author" content="Class Planit">
         <meta name="description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
         <meta name="keywords" content="lesson plans, teacher pay teachers, worksheets" />
         <link rel="canonical" href="www.classplanit.co">
         
         <!-- Open Graph / Facebook -->
         <meta property="og:type" content="website">
         <meta property="og:url" content="www.classplanit.co">
         <meta property="og:title" content="Class Planit - helping teachers create, share, and assess more engaging lessons.">
         <meta property="og:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
         <meta property="og:image" content="www.classplanit.co">
         
         <!-- Twitter -->
         <meta property="twitter:card" content="summary_large_image">
         <meta property="twitter:url" content="www.classplanit.co">
         <meta property="twitter:title" content="Class Planit - helping teachers create, share, and assess more engaging lessons.">
         <meta property="twitter:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
         <meta property="twitter:image" content="{% static 'images/dashboard/twitter_image.png' %}">
         
         <!-- Favicon -->
         <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/dashboard/icon_120.png' %}">
         <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mages/icon_40.png' %}">
         <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/dashboard/icon_40.png' %}">
         
         <link rel="mask-icon" href="{% static 'images/dashboard/icon.svg' %}" color="#ffffff">
         <meta name="msapplication-TileColor" content="#ffffff">
         <meta name="theme-color" content="#ffffff">
         
         <!-- Fontawesome -->
         <link type="text/css" href="{% static 'vendor/dashboard/fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
         
         <!-- Prism -->
         <link type="text/css" href="{% static 'vendor/dashboard/prismjs/themes/prism.css' %}" rel="stylesheet">
         
         <!-- VectorMap -->
         <link rel="stylesheet" href="{% static 'vendor/dashboard/jqvmap/dist/jqvmap.min.css' %}">
         
         <!-- Rocket CSS -->
         <link type="text/css" href="{% static 'css/dashboard/rocket.css' %}" rel="stylesheet">
     
  <script src="https://cdn.tiny.cloud/1/0ak6ftt9ng9va9e98pl0iwxwwh0rb1tipwsg8it4mjmcbkjb/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
    .tooltip {
      border-bottom: 1px dotted #000000;
      color: #000000; outline: none;
      cursor: help; text-decoration: none;
      position: relative;
    }
    .tooltip span {
      margin-left: -999em;
      position: absolute;
    }
    </style>
    <style>
    .demo-dfree {
    position: relative;

    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: #626262;
    font-size: 14px;
    padding: 20px;
    }
    .demo-dfree *[contentEditable="true"]:hover {
    outline: 1px solid #1976D2;
    }
    .demo-dfree h1 {
    color: #1976D2;
    font-size: 2em;
    }
    .demo-dfree h2 {
    color: #1976D2;
    font-size: 2em;
    }
    .demo-dfree h3 {
    font-size: 1.5em;
    color: #403f42;
    color: inherit;
    }
    .demo-dfree h2,
    .demo-dfree h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 40px;
    }
    .demo-dfree ul,
    .demo-dfree ol {
    padding-left: 20px;
    }
    .demo-dfree ul {
    list-style: disc;
    }
    .demo-dfree ol {
    list-style: decimal;
    }
    .demo-dfree a {
    text-decoration: underline;
    }
    .demo-dfree textarea {
    display: none;
    }
    .demo-dfree .dfree-header {
    font-size: 2.4em;
    text-align: center;
    margin: 10px;
    }
    .demo-dfree .dfree-body {
    padding: 20px;
    padding-top: 0px;
    }
    .demo-dfree .dfree-body p {
    margin-bottom: 10px;
    }
    .demo-dfree .dfree-body blockquote {
    margin-left: 30px;
    padding-left: 10px;
    margin-right: 40px;
    font-style: italic;
    border-left: 1px solid #696969;
    }
    .demo-dfree .dfree-body a {
    text-decoration: underline;
    }
    .demo-dfree .dfree-body td,
    .demo-dfree .dfree-body tr {
    border: 1px solid #696969;
    }


    </style>
    <style>
        .border-button {
            outline: solid 1px #4A5073;
            transition: outline 0.3s linear;
            margin: 0.5em; /* Increased margin since the outline expands outside the element */
    }

    .border-button:hover { outline-width: 5px; }
    </style>
<style>
   .showme {
  display: none;
}

.showhim:hover .showme {
  display: block;
}
</style>
</head>
<body>
    <div class="preloader bg-soft flex-column justify-content-center align-items-center">
        <img class="loader-element" src="{% static 'images/dashboard/circle_logo.svg' %}" height="50" alt="Rocket logo">
    </div>
    
            <nav class="navbar navbar-dark navbar-theme-primary col-12 d-md-none">
        <a class="navbar-brand mr-lg-5" href="../../index.html">
            <img class="navbar-brand-dark" src="../../assets/img/brand/light.svg" alt="Pixel logo" /> <img class="navbar-brand-light" src="../../assets/img/brand/dark.svg" alt="Pixel Logo Dark" />
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
 
            <div class="container-fluid bg-soft">
                <div class="row">
                    <div class="col-12">
    
    <div class="bg-white">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar">
                <a href="{% url 'Dashboard' week_of='Current' %}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-arrow-left"></i> Back to Dashboard</a>
    
    
            </div>
            <div class="btn-group mr-2">
                <button  onclick="window.print();return false;" type="button" class="btn btn-sm btn-outline-secondary">Share with Colleague</button>
           
    
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-6">
                <div id="time-update"></div>
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-warning btn-sm savetext"><i class="material-icons" style="color:white">save</i></button>
                    <button type="button" class="btn btn-warning btn-sm"><i class="material-icons" style="color:white">print</i></button>
                  </div>
                
                <br>
                <form  method="POST">
                    {% csrf_token %}
                    
                    {% if new_text.is_initial %}
                    <div class='demo-dfree myDivToPrint' id='demo-dfree'>
                        
                        <h2 class="dfree-header mce-content-body" id='objective' contenteditable="true" style="position: relative;" spellcheck="false">
                        {{ lesson_match.subject }} | {{ user_profile.first_name }} {{ user_profile.last_name }}
                        </h2>
                        <br/>

                        <div class="dfree-body mce-content-body" contenteditable="true" style="position: relative;" spellcheck="false">
                       
                        <br/>
                        <h4>
                            {{ lesson_match.teacher_objective }}
                        </h4>
                        <p id="standard">
                            {% for stand in lesson_match.objectives_standards.all %}
                            <li id='standard-item'>{{ stand }}</li>
                            {% endfor %}
                        </p>
                    
                       
                        
                        <h3>Activities</h3>
                        <h5>
                            <ul id='activity-div'>
                                <li id='activity'> </li>
                                {% for act in selected_activities %}
                                <li id='activity'> {{ act.lesson_text }}</li>
                                {% endfor %}    
                            </ul>      
                        </h5>

                        <hr>
                            <div>
                            <h3>Key Terms:</h3>
                            <table class="table" >
                                <thead>
                                  <tr>
                                    <th scope="col">Term</th>
                                    <th scope="col">Description</th>
                                  </tr>
                                </thead>
                                <tbody id="key-term-section">
                                    <tr>
                                        <th scope="row"></th>
                                        <td>
                                          <ul>
                                              <li>
                                                  
                                              </li>
                                          </ul>
                                        </td>
                                  
                                      </tr>
                                    {% for term in lesson_topics %}
                                  <tr>
                                    <th scope="row">{{ term.item }}</th>
                                    <td>
                                        {% for item in term.description.all %} 
                                            {% ifchanged item.description %}
                                            <li id='description'>{{ item }}</li>
                                            {% endifchanged %}
                                        {% endfor %}
                                    </td>
                              
                                  </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                  
                            </div>
                        <hr>
                        </div>

                    </div>
                    {% else %}
                    <div class='demo-dfree myDivToPrint' id='demo-dfree'>
                        
                       {{ new_text.overview|safe }}
                    </div>
                    {% endif %}
                </form>
            </div>
            <div class="col-lg-3">
               
                <div id='standard-list'>
                    

                </div>
                <div class='col-lg-12' id="stanDiv" style="display:none;">
                    
                    <div class="card border-light shadow-sm">
                        <div>
                            <button type="button" onclick="hideStanDiff()" class="btn btn-link btn-sm"> 
                                <i class="material-icons" style="color:lightgray">close</i>
                            </button>
                        </div>
                        <div class="card-body">
                            {% if standards_matches %}
                            <div class="row d-block d-xl-flex align-items-center">
                                <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                    <div class="icon icon-shape icon-lg icon-shape-primary rounded mr-4 mr-sm-0">20%</div>
                                    <div class="d-sm-none">
                                        <h2 class="h5">Standards Alignment</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-7 px-xl-0">
                                 
                                    <div class="d-none d-sm-block">
                                        <h2 class="h5">Standards Alignment</h2>
                                    </div>
                                
                                    <small>Feb 1 - Apr 1,  <span class="icon icon-small"></span> Last Addressed</small> 
                                    <div class="small mt-2">                               
                                        <span class="fas fa-angle-up text-success"></span>                                   
                                        <span class="text-success font-weight-bold">18.2%</span> <br>previous student performance
                                    </div>
                                    
                                   
                                </div>
                            </div>
                         
                        {% endif %}
                        </div>
                    </div>
                </div>
        <br>
                <div class='col-lg-12' id="rateDiv" style="display:none;">
                   
                    
                    <div class="card border-light shadow-sm">
                        <div>
                            <button type="button" onclick="hideRateDiff()" class="btn btn-link btn-sm"> 
                                <i class="material-icons" style="color:lightgray">close</i>
                            </button>
                        </div>  
                        <div id='retention-rate'></div>
                        
                    </div>
                </div>
           <br>
           
                <div class="col-12 mb-4" id="depthDiv"  style="display:none;"  >
                   
                   
                    <div class="card border-light shadow-sm">
                        <div>
                            <button type="button" onclick="hideDepthDiff()" class="btn btn-link btn-sm"> 
                                <i class="material-icons" style="color:lightgray">close</i>
                            </button>
                        </div>
                        <div class="card-body">
                                <div class="row d-block d-md-flex align-items-center">
    
                                    <div class="col-12" id='bloomsDiv'>
                                        <h2 class="h5 mb-1" style="text-align:right;">Blooms Summary</h2>
                                    
                                       
                                        <div id='blooms-summ'></div>
                                       
                                        <!-- end row -->
                                      
                                </div>
                                </div>
                        </div>
                        </div>
                </div>
             <br>
                <div class="col-12" id="diffDiv" style="display:none;">
                    
                    <div class="card border-light shadow-sm">
                        <div>
                            <button type="button" onclick="hideDivDiff()" class="btn btn-link btn-sm"> 
                                <i class="material-icons" style="color:lightgray">close</i>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="row d-block d-md-flex align-items-center">

                                <div class="col-12" id='miDiv'>
                                    <h2 class="h5 mb-1" style="text-align:right;">Learning Styles</h2>
                                
                                   
                                    <div id='mi-summ'></div>
                                   
                                    <!-- end row -->
                                  
                            </div>
                            </div>
                    </div>
                    </div>
                </div>
                <br>
         
                </div>
            <div class="col-lg-3">
                <div class="col-12 px-0 mb-4">
                    <div class="card border-light shadow-sm">
                       
                        <div class="card-body">
                            <h2 class="h5">Links:</h2>
                            <li><a href="{% url 'activity_builder' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page=0 %}#heading" class="card-link">Lesson Plan</a></li>
                           
                            <li><a href="{% url 'digital_activities' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=1 page='Preview' worksheet_id=0 act_id='False' question_id=0 %}#heading" class="card-link">Digital Worksheet</a></li>
                           
                            <li><a href="#" class="card-link">Student Performance</a></li>
                            <li><a href="#" class="card-link">Standards Tracking</a></li>
    
                    </div>
                    </div>
                </div>
            
                <div class="col-12 px-0 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-body" id="activity-summary">
                    
                            <button type="button" class="btn btn-link" onclick="showDivDiff()"><i class="fas fa-angle-left"></i> Differentiation:</button>
                            <br>
                            <div class="progress">
                            <div
                                class="progress-bar  bg-success"
                                role="progressbar"
                                style="width: {{ lesson_analytics.3 }}%"
                                aria-valuenow="{{ lesson_analytics.3 }}"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            ></div>
                            </div>
                              <button type="button" class="btn btn-link" onclick="showDepthDiff()" ><i class="fas fa-angle-left"></i> Depth of Understanding:</button>
                              <div class="progress">
                                <div
                                  class="progress-bar bg-info"
                                  role="progressbar"
                                  style="width: {{ lesson_analytics.1 }}%"
                                  aria-valuenow="{{ lesson_analytics.1 }}"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <button type="button" class="btn btn-link" onclick="showRateDiff()"><i class="fas fa-angle-left"></i> Retention Rate:</button>
                              <div class="progress">
                                <div
                                  class="progress-bar bg-warning"
                                  role="progressbar"
                                  style="width: {{ lesson_analytics.0 }}%"
                                  aria-valuenow="{{ lesson_analytics.0 }}"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <button type="button" class="btn btn-link" onclick="showStanDiff()" ><i class="fas fa-angle-left"></i> Standards Alignment:</button>
                            <div class="progress">
                                <div
                                class="progress-bar bg-danger"
                                role="progressbar"
                                style="width: {{ lesson_analytics.3 }}%"
                                aria-valuenow="{{ lesson_analytics.3 }}"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                ></div>
                            </div>

                        </div>
                    </div>
                </div>
             
                <div class="col-12 px-0 mb-4">
                    
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                <h2 class="h5">Recomended Activities:</h2>
                                </div>
                                
                            </div>
                        </div>
                        <div id='not-selected-activities'></div>
                       
                        
                    </div>
                </div>
                
                
                <div class="col-12 px-0 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                              
                                <div class="showhim"><h2 class="h5">Key Terms:</h2>
                                    <div class="showme"><a class="remove-standard" href="#" >load more terms</a></div>
                                  </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tagcloud" id='not-selected-topics'>
                               
                           <p style="color:lightgray">Generating Key Terms...<i class="fas fa-spinner fa-spin"></i></p>
                            </div>
                    </div>

                    </div>
                </div>
             

               
                {% for vid in vid_id_list %}
                            <!--Card-->
           
                    <div class="card">

                        
                        <!--Card image-->
                        <iframe
                            src="https://www.youtube.com/embed/{{ vid.vid_id }}">
                            </iframe>
                        <!--Card content-->
                        <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">{{ vid.title }}</h4>
                        <!--Text-->
                        
                        {% if vid.is_selected %}
                        <a href="#" class="btn btn-secondary btn-sm btn-has-icon"><i class="fa fa-check"></i> Selected</a>
                        {% else %}
                        <a href="#" class="btn btn-success selectvideo btn-sm btn-has-icon" id="like{{item.id }}" href="#" data-vidid="{{ vid.id  }}" data-lessid="{{ lesson_match.id }}"><i class="fa fa-check"></i> Add to Lesson</a>
                        {% endif %}
                    </div>
                        </div>
           
                    <!--/.Card-->
                    {% endfor %}
            </div>
        </div>
   
      <br>

    </div>



                
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


<!--| highcharts |-->
<script>
    Highcharts.chart('container-2', {
        chart: {
            
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Learning Styles:'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>'
                }
            }
        },
        series: [{
            name: 'Learning Styles',
            colorByPoint: true,
            data: [{
                name: 'Logical',
                y: {{ lesson_analytics.4.Logical|safe }}
            }, {
                name: 'Verbal',
                y: {{ lesson_analytics.4.Verbal|safe }}
            }, {
                name: 'Musical',
                y: {{ lesson_analytics.4.Musical|safe }}
            }, {
                name: 'Visual',
                y: {{ lesson_analytics.4.Visual|safe }}
            }, {
                name: 'Movement',
                y: {{ lesson_analytics.4.Movement|safe }}
            }]
        }]
    });
</script>

<!----| Select Interval Save TinyMce Text |-->
<script type="text/javascript">
    setInterval(function(){
   
    var overview = document.getElementById('demo-dfree');
    htmlContent = overview.innerHTML,
    $.ajax(
    {
        type:"GET",
        url: "/save-text/{{ lesson_match.id }}",
        data:{
            overview: htmlContent,
        },
        success: function (response) {
        $('#time-update').empty();
        $("#time-update").append('<h6> Last Saved: ' + response.data + '</h6>');
        }

    })
}, 40000);
</script> 

<!----| Select TinyMce Text |-->
<script type="text/javascript">
    $('.savetext').click(function(){
   
    var overview = document.getElementById('demo-dfree');
    htmlContent = overview.innerHTML,
    $.ajax({
        type:"GET",
        url: "/save-text/{{ lesson_match.id }}",
        data:{
            overview: htmlContent,
        },
        success: function (response) {
        $('#time-update').empty();
        $("#time-update").append('<h6> Last Saved: ' + response.data + '</h6>');
        }

    })
});
</script> 

<!----| Select Activity |-->
<script type="text/javascript">
    $(document).on("click", ".selectactivity", function(){
    var elm = $(this);
    var id = elm.data('id');
    var actpid;
    actid = $(this).attr("data-actid");
    var lessid;
    lessid = $(this).attr("data-lessid");
    $.ajax(
    {
        type:"GET",
        url: "/sel-activity",
        data:{
                activity_id: actid,
                lesson_id: lessid
        },
        success: function(response) {
        elm.remove();
        $("#activity-div").append("<li id='activity'>" + response.text + "</li>");
    }

})
});

</script> 

<!----| Select Standard |-->
<script type="text/javascript">
    $(document).on("click", ".sel-standard", function(){
    var elm = $(this);
    var id = elm.data('id');
    var standid;
    standid = $(this).attr("data-standid");

    $.ajax(
    {
        type:"GET",
        url: "/sel-standard/{{ lesson_match.id }}/",
        data:{
                stand_id: standid,
        },
        success: function(response) {
        document.getElementById('standard-list').style.display = "none";
        $("#standard").append(
            "<li id='standard-item'>"  + response.data + "</li>"
         
        );
         
    }

    })
});
</script> 

<!----| Select Topic |-->
<script type="text/javascript">
        $(document).on("click", ".selecttopic", function(){
        var elm = $(this);
        var id = elm.data('id');
        var topid;
        topid = $(this).attr("data-topid");
        var lessid;
        lessid = $(this).attr("data-lessid");
        $.ajax(
        {
            type:"GET",
            url: "/sel-topic",
            data:{
                    topic_id: topid,
                    lesson_id: lessid
            },
            success: function(response) {
            elm.remove();
            $("#key-term-section").append(
                "<tr><th scope='row'>"  + response.term + "</th><td>" + response.description + "</td></tr>"
                
            );
                
        }

        })
    });
</script> 



<!----| Select Video |-->
<script type="text/javascript">
    $(document).on("click", ".selectvideo", function(){
    var elm = $(this);
    var id = elm.data('id');
    var vidid;
    vidid = $(this).attr("data-vidid");
    var lessid;
    lessid = $(this).attr("data-lessid");
    $.ajax(
    {
        type:"GET",
        url: "/add-youtube-video/",
        data:{
                video_id: vidid,
                lesson_id: lessid
        },
        success: function(response) {
        $("#key-term-section").append(
            "<tr><th scope='row'>"  + response.term + "</th><td>" + response.description + "</td></tr>"
            
        );
            
    }

    })
});
</script> 

<!----| Update Term Options |-->
<script type="text/javascript">
    setInterval(function(){
    var overview = document.getElementById('not-selected-topics');
    htmlContent = overview.innerHTML,
    $.ajax(
    {
        type:"GET",
        url: "/updated-term-options/{{ lesson_match.id}}/{{ classroom_profile.id }}/",
        
        success: function(response) {
        $("#not-selected-topics").empty(); 
        $.each(response.data, function (i, item) {
    	$("#not-selected-topics").append(
            '<a class="btn btn-sm btn-outline-secondary selecttopic myDIV" id="like'
            + item.id +
            '" href="#" data-topid="'
            + item.id +
            '" data-lessid="{{ lesson_match.id }}" data-toggle="tooltip" data-placement="top" title="'
            + item.descriptions + 
            '" class="tooltip">'
            + item.term +
            '</a>');
        });
    }

    })
}, 8000);
</script> 


<!----| Update Term Options |-->
<script type="text/javascript">
    $(document).on("click", ".remove-standard", function(){
    var overview = document.getElementById('not-selected-topics');
    htmlContent = overview.innerHTML,
    $("#not-selected-topics").empty(); 
    $.ajax(
    {
        type:"GET",
        url: "/remove-term-options/{{ lesson_match.id}}/{{ classroom_profile.id }}/",
        
        success: function(response) {
        $("#not-selected-topics").empty(); 
        $.each(response.data, function (i, item) {
    	$("#not-selected-topics").append(
            '<a class="btn btn-sm btn-outline-secondary selecttopic myDIV" id="like'
            + item.id +
            '" href="#" data-topid="'
            + item.id +
            '" data-lessid="{{ lesson_match.id }}" data-toggle="tooltip" data-placement="top" title="'
            + item.descriptions + 
            '" class="tooltip">'
            + item.term +
            '</a>');
        });
    }

    })
});
</script> 

<!----| Update Activity Options |-->
<script type="text/javascript">
    setInterval(function(){
    var overview = document.getElementById('not-selected-activities');
    htmlContent = overview.innerHTML,
    $.ajax(
    {
        type:"GET",
        url: "/updated-activity-options/{{ lesson_match.id}}/{{ classroom_profile.id }}/",
        
        success: function(response) {
        $("#not-selected-activities").empty(); 
        $.each(response.data, function (i, item) {
    	$("#not-selected-activities").append(
            '<a href="#" class="selectactivity" id="like'
            + item.id + 
            '"  data-actid='
            + item.id + 
            ' data-lessid="{{ lesson_match.id }}"><div class="card-body  border-button"><div class="row d-block d-xl-flex align-items-center"><div><p>'
            + item.activity + 
            '</p><div class="row"><div class="col-3"><h6 class="font-weight-normal text-gray"><span class="badge badge-md badge-' 
                + item.bl_color +
            ' badge-pill">'
            + item.bl_label + 
            '</span></h6></div><div class="col-3"><h6 class="font-weight-normal text-gray"><span class="icon w-20 icon-xs icon-'
            + item.mi_color +
            ' mr-1"><span class="fas fa-'
            + item.mi_icon +
            '"></span>  ' 
            + item.mi_label +
            '</span></h6></div><div class="col-6"><p class="font-weight-normal text-gray">Rentention: ' 
            + item.ret +
            '%</p></div></div></div></div></div></a>');
        });
    }

    })
}, 8002);
</script> 



<!----| Add Standards Reccs |-->
<script type="text/javascript">
    setInterval(function(){
        console.log( "ready!" );
        var overview = document.getElementById('standard-list');
        htmlContent = overview.innerHTML,
        $.ajax(
        {
            type:"GET",
            url: "/get-standard-recs/{{ lesson_match.id}}/{{ classroom_profile.id }}/",
            
            success: function(response) {
            $("#standard-list").empty(); 
            $.each(response.data, function (i, item) {
            
            $("#standard-list").append(
                '<li><a class="sel-standard" id="like'
                + item.id + 
                '" href="#" data-standid="'
                + item.id +
                '">'
                + item.standard + 
                '</a></li>');
            });
        }

    })
}, 8005);
</script> 

<!----| Update Activity Summary |-->
<script type="text/javascript">
    setInterval(function(){
    var overview = document.getElementById('activity-summary');
    htmlContent = overview.innerHTML,
    $.ajax(
    {
        type:"GET",
        url: "/get-activity-summary/{{ lesson_match.id}}",
        
        success: function(response) {
        $("#activity-summary").empty(); 
        $.each(response.data, function (i, item) {
        
    	$("#activity-summary").append(
            '<button type="button" class="btn btn-link" onclick="'
            + item.div + 
            '"><i class="fas fa-angle-left"></i> ' 
            + item.name + 
            '</button><br><div class="progress"> \
            <div class="progress-bar  '
            + item.color + 
            '" role="progressbar" style="width:' 
            + item.progress + 
            '%" aria-valuenow="'
            + item.progress + 
            '" aria-valuemin="0" aria-valuemax="100"></div></div>');
        });
    }

    })
}, 8007);
</script> 

<!----| Update Blooms |-->
<script type="text/javascript">
    setInterval(function(){
    var overview = document.getElementById('blooms-summ');
    htmlContent = overview.innerHTML,
    $.ajax(
    {
        type:"GET",
        url: "/get-blooms/{{ lesson_match.id}}",
        
        success: function(response) {
        $("#blooms-summ").empty(); 
        $.each(response.data, function (i, item) {
        
    	$("#blooms-summ").append(

            '<h6>' + item.name + '</h6> \
            <div class="progress"> \
                <div \
                    class="progress-bar ' + item.color + 
                    ' role="progressbar" \
                    style="width: ' + item.count + '%" \
                    aria-valuenow="' + item.count + '" \
                    aria-valuemin="0" \
                    aria-valuemax="100" \
                ></div> \
                </div>');
        
        });
    }

    })
}, 8010);
</script> 

<!----| Update MI |-->
<script type="text/javascript">
    setInterval(function(){
    var overview = document.getElementById('mi-summ');
    htmlContent = overview.innerHTML,
    $.ajax(
    {
        type:"GET",
        url: "/get-mi/{{ lesson_match.id}}",
        
        success: function(response) {
        $("#mi-summ").empty(); 
        $.each(response.data, function (i, item) {
        
    	$("#mi-summ").append(

            '<h6>' + item.name + '</h6> \
            <div class="progress"> \
                <div \
                    class="progress-bar ' + item.color + 
                    ' role="progressbar" \
                    style="width: ' + item.count + '%" \
                    aria-valuenow="' + item.count + '" \
                    aria-valuemin="0" \
                    aria-valuemax="100" \
                ></div> \
                </div>');
        
        });
    }

    })
}, 8012);
</script> 

<!----| Update Retention |-->
<script type="text/javascript">
    setInterval(function(){
    var overview = document.getElementById('retention-rate');
    htmlContent = overview.innerHTML,
    $.ajax(
    {
        type:"GET",
        url: "/get-retention/{{ lesson_match.id}}",
        
        success: function(response) {
        $("#retention-rate").empty(); 
        
    	$("#retention-rate").append(
            '<div class="card-body"> \
            <div class="row d-block d-xl-flex align-items-center"> \
                <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"> \
                    <div class="icon icon-shape icon-lg icon-shape-success rounded mr-4 mr-sm-0">'
                        + response.data.avg + '%</div> \
                    <div class="d-sm-none"> \
                        <h2 class="h5">Retention Rate</h2> \
                    </div> \
                </div> \
                <div class="col-12 col-xl-7 px-xl-0"> \
                    <div class="d-none d-sm-block"> \
                        <h2 class="h5">Retention Rate</h2> \
                    </div> \
                    <p>' + response.data.text + 
                '</p></div> \
            </div> \
        </div> \
        <div class="progress" style="height: 20px;"> \
            <div class="progress-bar bg-danger" role="progressbar" style="width: '
            + response.data.passive + '%" aria-valuenow="'
            + response.data.passive + '" aria-valuemin="0" aria-valuemax="100">Passive</div> \
            <div class="progress-bar bg-warning" role="progressbar" style="width: '
            + response.data.middle + '%" aria-valuenow="'
            + response.data.middle + '" aria-valuemin="0" aria-valuemax="100"></div> \
            <div class="progress-bar bg-success" role="progressbar" style="width:'
            + response.data.active + '%" aria-valuenow="' 
            + response.data.active + '" aria-valuemin="0" aria-valuemax="100">Active</div> \
        </div>');
        
        
    }

    })
}, 8015);
</script>


<!----| TinyMce Scripts |-->
 <script>

var dfreeHeaderConfig = {
  selector: '.dfree-header',
  menubar: false,
  inline: true,
  toolbar: false,
  plugins: [ 'quickbars', 'print' ],
  quickbars_insert_toolbar: 'undo redo',
  quickbars_selection_toolbar: 'italic underline',
};

var dfreeBodyConfig = {
  selector: '.dfree-body',
  menubar: false,
  inline: true,
  plugins: [
    'autolink',
    'codesample',
    'link',
    'lists',
    'media',
    'powerpaste',
    'table',
    'image',
    'quickbars',
    'codesample',
    'help',
    'print'
  ],
  toolbar: false,
  quickbars_insert_toolbar: 'quicktable image media codesample',
  quickbars_selection_toolbar: 'bold italic underline | formatselect | blockquote quicklink',
  contextmenu: 'undo redo | inserttable | cell row column deletetable | help print',
  powerpaste_word_import: 'clean',
  powerpaste_html_import: 'clean',
};

tinymce.init(dfreeHeaderConfig);
tinymce.init(dfreeBodyConfig);
tinymce.init({
  selector: '.dfree-body',  // change this value according to your HTML
  plugins: 'save print',
  toolbar: 'save print'
});
 </script>
 <!----| Show Divs |-->

  <script>
    function showDivDiff() {
        document.getElementById('diffDiv').style.display = "block";
        document.getElementById('diffDiv').scrollIntoView();
    }
    function hideDivDiff() {
        document.getElementById('diffDiv').style.display = "none";
    }
    function showDepthDiff() {
        document.getElementById('depthDiv').style.display = "block";
        document.getElementById('depthDiv').scrollIntoView();
    }
    function hideDepthDiff() {
        document.getElementById('depthDiv').style.display = "none";
    }
   function showRateDiff() {
        document.getElementById('rateDiv').style.display = "block";
        document.getElementById('rateDiv').scrollIntoView();
   }
   function hideRateDiff() {
        document.getElementById('rateDiv').style.display = "none";
    }
   function showStanDiff() {
        document.getElementById('stanDiv').style.display = "block";
        document.getElementById('stanDiv').scrollIntoView();
    }
    function hideStanDiff() {
        document.getElementById('stanDiv').style.display = "none";
    }

  </script>

<script src="{% static 'base/js/tinymce/tinymce.min.js' %}"></script> 
 <script src="{% static 'base/js/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'base/js/tinymce/custom.js' %}" ></script>
  <!-- Core -->
  <script src="{% static 'vendor/dashboard/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/headroom.js/dist/headroom.min.js' %}"></script>
  
  <!-- Vendor JS -->
  <script src="{% static 'vendor/dashboard/countup.js/dist/countUp.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/prismjs/prism.js' %}"></script>
  
  <!-- Chartist -->
  <script src="{% static 'vendor/dashboard/chartist/dist/chartist.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
  
  <!-- Vector Maps -->
  <script src="{% static 'vendor/dashboard/jqvmap/dist/jquery.vmap.min.js' %}"></script>
  <script src="{% static 'vendor/dashboard/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
  
  <!-- Rocket JS -->
  <script src="{% static 'js/dashboard/rocket.js' %}"></script>
      <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{% static 'forms_ajaxified/js/forms_ajaxified.js' %}"></script>

</body>
</html>