{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}          
    <main class="content">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar">
                
            </div>
        </div>
        <div class="form-group mb-0 mr-3">
            <a type="button" class="btn btn-primary" href="{% url 'standard_tracker' %}" style="color: white">
                <i class="fas fa-angle-left lg"></i> Choose another subject or classroom
            </a>
        </div>
        <br>
        <div class="form-group mb-0 mr-3">
            <a type="button" class="btn btn-primary" href="{% url 'narrow_standard_tracker' subject_id=current_subject.id classroom_id=current_classroom.id %}" style="color: white">
                <i class="fas fa-angle-left lg"></i> Back to all {{ current_subject }} standards
            </a>
        </div>
        <br>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <h2 class="h4 mb-4"><center>Viewing Standard:</center></h2><br>
                        <h4 class="h5 mb-4"><center>{{ current_standard.standard_objective }}</center></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0 rounded">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-0" style="width: 60%">Students are expected to:</th>
                                        <th class="border-0" style="width: 14%">Lessons</th>
                                        <th class="border-0" style="width: 14%">Worksheets</th>
                                        <th class="border-0" style="width: 12%">Overall Performance</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for each_info in competency_info %}
                                    {% ifchanged each_info.0 %}
                                    <tr>
                                        <td>
                                            <p>{{ each_info.0 }}</p>
                                        </td>
                                        <td>
                                            <p><a href="{% url 'Dashboard' week_of='Current' subject_id=subject_id classroom_id=classroom_id standard_id=each_info.2 %}">{{ each_info.1 }}</a></p>
                                        </td>
                                        
                                        <td>
                                            <p><a href="{% url 'student_performance' user_id=user_profile.id class_id=current_classroom.id week_of='Current' standard_id=each_info.2 %}">{{ each_info.3 }}</a></p>  
                                        </td>
                                        <td>
                                            <p><a href="{% url 'classroom_single' user_id=user_profile.id class_id=current_classroom.id standard_id=each_info.2 %}">{{ each_info.4 }}</a></p> 
                                            
                                        </td>
                                    </tr>
                                    {% endifchanged %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    </main>
{% endblock %}