{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}          
    <main class="content">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar">
                
            </div>
        </div>
        <h2 class="h4 mb-4"><center>Standards Tracking</center></h2>

        <div class="row">
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-6">
                <br>
                <div class="card border-light shadow-sm">
                        
                    <div class="card-body">
                    <h3 class="h5"><center>What Standards Would You Like to View?</center></h3>
                    <hr>          
                    <form  method="POST"> 
                        {% csrf_token %} 
                        <div class="form-group">
                            <label for="track_subject">Select Your Subject:</label>
                            <select class="form-control" name='track_subject' id="track_subject">
                                {% for sub in subject_results %}
                                    <option value='{{ sub.0 }}'>{{ sub.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="track_classroom">Select Your Classroom:</label>
                            <select class="form-control" name='track_classroom' id="track_classroom">
                                {% for classroom in classroom_results %}
                                    <option value='{{ classroom.0 }}'>{{ classroom.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <br>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            
                            <div>
                                <button type="submit" class="btn  btn-secondary btn-block">Next</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
               
                
            </div>
            <div class="col-lg-3">
        
              
            </div>
        </div>    
        


    </main>
{% endblock %}