{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}          
    <main class="content">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar">
                
            </div>
        </div>
        <div class="form-group mb-0 mr-3">
            <a type="button" class="btn btn-primary" href="{% url 'standard_tracker' %}" style="color: white">
                <i class="fas fa-angle-left lg"></i> Choose another subject or classroom
            </a>
        </div>
        <br>
        <div class="form-group mb-0 mr-3">
            <a type="button" class="btn btn-primary" href="{% url 'narrow_standard_tracker' subject_id=current_subject.id classroom_id=current_classroom.id %}" style="color: white">
                <i class="fas fa-angle-left lg"></i> Back to all {{ current_subject }} standards
            </a>
        </div>
        <br>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <h2 class="h4 mb-4"><center>Viewing Standard:</center></h2><br>
                        <h4 class="h5 mb-4"><center>{{ current_standard.standard_objective }}</center></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0 rounded">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-0" style="width: 60%">Students are expected to:</th>
                                        <th class="border-0" style="width: 14%">Lessons</th>
                                        <th class="border-0" style="width: 14%">Worksheets</th>
                                        <th class="border-0" style="width: 12%">Overall Performance</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for each_info in competency_info %}
                                    <tr>
                                        <td>
                                            <p>{{ each_info.0 }}</p>
                                        </td>
                                        <td>
                                            <p><a href="{% url 'Dashboard' week_of='Current' subject_id=subject_id classroom_id=classroom_id standard_id=each_info.2 %}">{{ each_info.1 }}</a></p>
                                        </td>
                                        <td>
                                            <p></p> 
                                        </td>
                                        <td>
                                            <p></p>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer section py-5">
<div class="container-fluid">
<div class="row">
<div class="col-12 col-lg-6 mb-4 mb-lg-0">
<p class="mb-0 text-center text-xl-left">Copyright © 2019-<span class="current-year"></span> <a class="text-primary font-weight-normal" href="https://themesberg.com" target="_blank">Themesberg</a></p>
</div>

<div class="col-12 col-lg-6">
<!-- List -->
<ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
    <li class="list-inline-item px-0 px-sm-2">
        <a href="https://themesberg.com/about">About</a>
    </li>
    <li class="list-inline-item px-0 px-sm-2">
        <a href="https://themesberg.com/themes">Themes</a>
    </li>
    <li class="list-inline-item px-0 px-sm-2">
        <a href="https://themesberg.com/blog">Blog</a>
    </li>
    <li class="list-inline-item px-0 px-sm-2">
        <a href="https://themesberg.com/contact">Contact</a>
    </li>
</ul>
<!-- End List -->
</div>
</div>
</div>
</footer>
    </main>
{% endblock %}