
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
            
<main class="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  

        <div class="btn-group">
            <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-outline-secondary">New Worksheet</button>
           
        </div>
   
    </div>
    <div class="row">
        <div class="col-12 col-xl-6 mb-4">
            <div class="card border-light shadow-sm">
               
                <div class="card-body p-2">
                    <div id="container-2"></div>
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script>
                        Highcharts.chart('container-2', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Performance by Week'
                            },
                            colors: ['#ED561B', '#50B432', '#058DC7'],
                            xAxis: {
                                categories: {{ week_breakdown.weeks|safe }},
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                text: 'Student Count'
                                }
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            plotOptions: {
                                column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                                }
                            },
                            series: [{
                                name: 'Low',
                                data: {{ week_breakdown.low|safe }}

                            }, {
                                name: 'Mid',
                                data: {{ week_breakdown.mid|safe }}

                            }, {
                                name: 'High',
                                data: {{ week_breakdown.high|safe }}
                            }]
                            });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6 mb-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                             <div class="row d-block d-md-flex align-items-center">

                                    <div class="col-12">
                                        <h5>Completion Level for Worksheets</h5>
                                        <div class="row d-flex align-items-center mb-1">
                                            <div class="col-4 text-gray font-weight-bold px-0 small">
                                                Social Studies Week 26
                                            </div>
                                            <div class="col-8 px-0">
                                                <div class="progress progress-lg rounded mb-0">
                                                    <div class="progress-bar bg-success rounded" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row d-flex align-items-center mb-1">
                                            <div class="col-4 text-gray font-weight-bold px-0 small">
                                                English Week 26
                                            </div>
                                            <div class="col-8 px-0">
                                                <div class="progress progress-lg rounded mb-0">
                                                    <div class="progress-bar bg-success rounded" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row d-flex align-items-center mb-1">
                                            <div class="col-4 text-gray font-weight-bold px-0 small">
                                                Social Studies Week 27
                                            </div>
                                            <div class="col-8 px-0">
                                                <div class="progress progress-lg rounded mb-0">
                                                    <div class="progress-bar bg-success rounded" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row d-flex align-items-center mb-1">
                                            <div class="col-4 text-gray font-weight-bold px-0 small">
                                                English Week 27
                                            </div>
                                            <div class="col-8 px-0">
                                                <div class="progress progress-lg rounded mb-0">
                                                    <div class="progress-bar bg-success rounded" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--
                                        {% for item in top_lessons %}
                                        <div class="row d-flex align-items-center mb-1">
                                            <div class="col-4 text-gray font-weight-bold px-0 small">
                                                {{ item.title }}
                                            </div>
                                            <div class="col-8 px-0">
                                                <div class="progress progress-lg rounded mb-0">
                                                    <div class="progress-bar bg-success rounded" role="progressbar" aria-valuenow="{{ item.avg }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.avg }}%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                      
                                      {% endfor %%}
                                        -->
                                    </div>

                             </div>
                        </div>
                     </div>
                </div>
                
                
                <div class="col-12 col-sm-6 mb-4 mb-md-0">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <h2 class="h5">Top Students:</h2>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">Bart Simpson - 85% <i class="fas fa-pull-right fa-thumbs-up"></i></li>
     
                            </ul>
                        </div>
                     </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <h2 class="h5">Most Improved:</h2>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">Bart Simpson - 30% <i class="fas fa-pull-right fa-thumbs-up"></i></li>
     
                            </ul>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-light">
                                <tr>
                                    <th class="border-0" style="width: 33%">Worksheet Title:</th>
                                    <th class="border-0" style="width: 33%">Lesson Plan:</th>
                                    <th class="border-0" style="width: 33%">Assignment:</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>

                              
                                {% for each_info in worksheet_results %}
                                <tr>
                                    <td>
                                        
                                        <p>
                                            <a href="{% url 'new_digital_activities' user_id=user_profile.id worksheet_id=each_info.worksheet_id question_id=0 page='Preview' %}">
                                                {{ each_info.worksheet }}
                                            </a>
                                        </p>
                                    </td>
                                    <td>
                                        
                                        <p>
                                            <a href="{% url 'activity_builder' user_id=user_profile.id class_id=0 lesson_id=each_info.lesson_match.id subject='All' page=0 %}#heading">
                                                {{ each_info.lesson_match.teacher_objective|slice:":40" }}...
                                            </a>
                                        </p>
                                    </td>
                                    <td>
                                        {% for classroom_info in each_info.classroom_assignments %}
                                        <p>{{ classroom_info.classroom_match }} <br><small>Due Date: {{ classroom_info.due_date }} | Completion: {{ classroom_info.completion }}% | Average: {{ classroom_info.performance }}%</small></p>
                                        {% endfor %}
                                        
                                        {% if each_info.worksheet_link %}
                                        <a href="{{ each_info.worksheet_link }}">Assignment Link: <br>{{each_info.worksheet_link}}</a>
                                        {% endif %}
                                    </td>
                                   
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create a New Worksheet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Worksheet Title</label>
                        <input type="text" class="form-control" id="title" name='title'>
                      </div>
                      <div class="form-group">
                        <label for="title">Descriptions</label>
                        <input type="text" class="form-control" id="ws_description" name='ws_description'>
                      </div>
                      <div class="form-group">
                        <label for="grade_level">Grade Level</label>
                        <select class="form-control" id="grade_level" name='grade_level'>
                          {% for gl in grade_options %}
                            <option value={{ gl.id }}>{{ gl }}</option>
                        {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="subject">Subject</label>
                        <select class="form-control" id="subject" name='subject'>
                          {% for sl in subject_options %}
                            <option value={{ sl.id }}>{{ sl }}</option>
                        {% endfor %}
                        </select>
                      </div>
                    <input type="submit" value="Let's Planit" class="btn btn-info">
                </form>
            
            </div>
    
        </div>
        </div>
    </div>
{% endblock %}