{% load static %}
{% load tailwind_tags %}
<!--

=========================================================
* Rocket - SaaS Bootstrap Template
=========================================================

* Product Page: https://themesberg.com/product/bootstrap-themes/rocket-saas-bootstrap-template
* Copyright 2020 Themesberg (https://www.themesberg.com)
* License (https://themesberg.com/licensing)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">

    <head> 
        <!-- Primary Meta Tags -->
    <title>Class Planit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Helping teachers create, share, and assess more engaging lessons">
    <meta name="author" content="Class Planit">
    <meta name="description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
    <meta name="keywords" content="lesson plans, teacher pay teachers, worksheets" />
    <link rel="canonical" href="www.classplanit.co">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.classplanit.co">
    <meta property="og:title" content="Class Planit - helping teachers create, share, and assess more engaging lessons.">
    <meta property="og:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
    <meta property="og:image" content="www.classplanit.co">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="www.classplanit.co">
    <meta property="twitter:title" content="Class Planit - helping teachers create, share, and assess more engaging lessons.">
    <meta property="twitter:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
    <meta property="twitter:image" content="{% static 'images/dashboard/twitter_image.png' %}">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/dashboard/icon_120.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mages/icon_40.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/dashboard/icon_40.png' %}">
    
    <link rel="mask-icon" href="{% static 'images/dashboard/icon.svg' %}" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Fontawesome -->
    <link type="text/css" href="{% static 'vendor/dashboard/fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    
    <!-- Prism -->
    <link type="text/css" href="{% static 'vendor/dashboard/prismjs/themes/prism.css' %}" rel="stylesheet">
    
    <!-- VectorMap -->
    <link rel="stylesheet" href="{% static 'vendor/dashboard/jqvmap/dist/jqvmap.min.css' %}">
    
    <!-- Rocket CSS -->
    <link type="text/css" href="{% static 'css/dashboard/rocket.css' %}" rel="stylesheet">
    
    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
    {% tailwind_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'forms_ajaxified/js/forms_ajaxified.js' %}"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
    </head>

<body style="background-color:#f3f7fa;">

  
        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
    <img class="loader-element" src="{% static 'images/dashboard/icon_120.png' %}" height="20" alt="Rocket logo">
        </div>

        <nav class="navbar navbar-dark navbar-theme-primary col-12 d-md-none">
    <a class="navbar-brand mr-lg-5" href="../../index.html">
        <img class="navbar-brand-dark" src="../../assets/img/brand/light.svg" alt="Pixel logo" /> <img class="navbar-brand-light" src="../../assets/img/brand/dark.svg" alt="Pixel Logo Dark" />
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
          </nav>

        <div class="container-fluid bg-soft">
            <div class="row">
                <div class="col-12">

                    <!-- <nav id="sidebarMenu" class="sidebar col-md-4 col-lg-3 col-xl-2 d-md-block bg-primary text-white collapse"> -->
                        <nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
                            <div class="sidebar-sticky pt-4 mx-auto">
                              <div class="user-card d-flex align-items-center justify-content-between justify-content-md-center pb-4">
                                <div class="d-flex align-items-center">
                                  <div class="user-avatar lg-avatar mr-4">
                                    <img src="{% static 'images/dashboard/user_default.png' %}" class="card-img-top rounded-circle border-white" alt="user">
                                  </div>
                                  <div class="d-block">
                                    <h2 class="h6">Hi, Audrey</h2>
                                    <a href="../sign-in.html" class="btn btn-secondary btn-xs"><span class="mr-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
                                  </div>
                                </div>
                                <div class="collapse-close d-md-none">
                                    <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse"
                                        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                                        aria-label="Toggle navigation"></a>
                                </div>
                              </div>
                              <ul class="nav flex-column mt-4">
                                  {% if 'Overview' in page %}
                                <li class="nav-item  active ">
                                    {% else %}
                                    <li class="nav-item">
                                    {% endif %}
                                  <a href="{% url 'Dashboard' week_of='Current' subject_id='All' classroom_id='All' %}" class="nav-link">
                                      <span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span>
                                      <span>Overview</span>
                                  </a>
                                </li>
                                {% if 'Classrooms' in page %}
                                <li class="nav-item  active ">
                                    {% else %}
                                    <li class="nav-item">
                                    {% endif %}
                                  <a href="{% url 'classroom_list' %}" class="nav-link d-flex align-items-center justify-content-between">
                                      <span>
                                        <span class="sidebar-icon"><i class="fa fa-chalkboard-teacher"></i></span>
                                        Classrooms
                                      </span>
                                      
                                  </a>
                                </li>
                                {% if 'Assignments' in page %}
                                <li class="nav-item  active ">
                                    {% else %}
                                    <li class="nav-item">
                                    {% endif %}
                                  <a href="{% url 'student_performance' user_id=user_profile.id class_id=0 week_of='Current' %}" class="nav-link">
                                      <span class="sidebar-icon"><span class="fas fa-clipboard-list"></span></span>
                                      <span>Assignments</span>
                                  </a>
                                </li>
                                {% if user_profile.is_demo %}
                                <li role="separator" class="dropdown-divider mt-4 mb-3 border-blue"></li>
                                <p><center>DEMO VERSION</center></p>
                                <li role="separator" class="dropdown-divider mt-4 mb-3 border-blue"></li>
                                {% else %}
                                {% if 'Standards' in page %}
                                <li class="nav-item  active ">
                                    {% else %}
                                    <li class="nav-item">
                                    {% endif %}
                                  <a href="{% url 'standard_tracker' %}" class="nav-link">
                                      <span class="sidebar-icon"><span class="fas fa-chart-bar"></span></span>
                                      <span>Standards Tracking</span>
                                  </a>
                                </li>
                               
                          
                                

                                <li role="separator" class="dropdown-divider mt-4 mb-3 border-blue"></li>
                                <li class="nav-item">
                                  <a href="https://themesberg.com/docs/rocket/getting-started/quick-start/" target="_blank" class="nav-link">
                                    <span class="sidebar-icon"><span class="fas fa-book"></span></span>
                                    <span>Tutorials</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="../../index.html" class="nav-link d-flex align-items-center">
                                    <span class="sidebar-icon">
                                      <img src="{% static 'images/dashboard/circle_logo.svg' %}" height="26" width="26" alt="Rocket Logo">
                                    </span>
                                    <span>Contact Us</span>
                                  </a>
                                </li>
                              
                           {% endif %}
                              </ul>
                            </div>
                          </nav>
                          
{% block content %}
{% endblock %}
</div>
    </div>
        </div>
        <div class="modal fade" id="newClassroom" tabindex="-1" role="dialog" aria-labelledby="newClassroomLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="newClassroomLabel">New Classroom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form  method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <!--classroom_title = text field--> 
                  <!--single_grade = single selection-->
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Classroom Title</label>
                    <input type="text" class="form-control" id="classroom_title" name='classroom_title' placeholder="Enter Classroom Title Here..">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Grade Level  </label>
                    <select class="form-control" id="single_grade" name='single_grade'>
                      {% for grade in grade_list %}
                      <option value={{ grade.id }}>{{ grade.grade_labels }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <!----------- | End Incorrect Three Answer | -->
                  <!-------------------------------------->
                  <button type="submit" class="btn btn-primary btn-block">Create classroom </button>
              </form>
              </div>
            </div>
          </div>
        </div>
<script>
$(document).ready(function() {
    $('[data-class="form_ajaxified"]').formsAjaxified();
});
</script>


<script src="https://cdn.tiny.cloud/1/0ak6ftt9ng9va9e98pl0iwxwwh0rb1tipwsg8it4mjmcbkjb/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="{% static 'base/js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/tinymce/custom.js' %}" ></script>
<!-- Core -->
<script src="{% static 'vendor/dashboard/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/dashboard/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendor/dashboard/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/dashboard/headroom.js/dist/headroom.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'vendor/dashboard/countup.js/dist/countUp.min.js' %}"></script>
<script src="{% static 'vendor/dashboard/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
<script src="{% static 'vendor/dashboard/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'vendor/dashboard/prismjs/prism.js' %}"></script>

<!-- Chartist -->
<script src="{% static 'vendor/dashboard/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'vendor/dashboard/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

<!-- Vector Maps -->
<script src="{% static 'vendor/dashboard/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendor/dashboard/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>

<!-- Rocket JS -->
<script src="{% static 'js/dashboard/rocket.js' %}"></script>



<script type="text/javascript">
function printDiv(divName) {
var printContents = document.getElementById(divName).innerHTML;
w=window.open();
w.document.write(printContents);
w.print();
w.close();
}
</script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
charset="utf-8"
></script>
<script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
<script type="text/javascript">
/* Sidebar - Side navigation menu on mobile/responsive mode */
function toggleNavbar(collapseID) {
  document.getElementById(collapseID).classList.toggle("hidden");
  document.getElementById(collapseID).classList.toggle("bg-white");
  document.getElementById(collapseID).classList.toggle("m-2");
  document.getElementById(collapseID).classList.toggle("py-3");
  document.getElementById(collapseID).classList.toggle("px-6");
}
/* Function for dropdowns */
function openDropdown(event, dropdownID) {
  let element = event.target;
  while (element.nodeName !== "A") {
    element = element.parentNode;
  }
  var popper = Popper.createPopper(element, document.getElementById(dropdownID), {
    placement: "bottom-end"
  });
  document.getElementById(dropdownID).classList.toggle("hidden");
  document.getElementById(dropdownID).classList.toggle("block");
}


(function() {
  /* Add current date to the footer */
  document.getElementById("javascript-date").innerHTML = new Date().getFullYear();
  /* Chart initialisations */
  /* Line Chart */
  var config = {
    type: "line",
    data: {
      labels: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July"
      ],
      datasets: [
        {
          label: new Date().getFullYear(),
          backgroundColor: "#4c51bf",
          borderColor: "#4c51bf",
          data: [65, 78, 66, 44, 56, 67, 75],
          fill: false
        },
        {
          label: new Date().getFullYear() - 1,
          fill: false,
          backgroundColor: "#ed64a6",
          borderColor: "#ed64a6",
          data: [40, 68, 86, 74, 56, 60, 87]
        }
      ]
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      title: {
        display: false,
        text: "Sales Charts",
        fontColor: "white"
      },
      legend: {
        labels: {
          fontColor: "white"
        },
        align: "end",
        position: "bottom"
      },
      tooltips: {
        mode: "index",
        intersect: false
      },
      hover: {
        mode: "nearest",
        intersect: true
      },
      scales: {
        xAxes: [
          {
            ticks: {
              fontColor: "rgba(255,255,255,.7)"
            },
            display: true,
            scaleLabel: {
              display: false,
              labelString: "Month",
              fontColor: "white"
            },
            gridLines: {
              display: false,
              borderDash: [2],
              borderDashOffset: [2],
              color: "rgba(33, 37, 41, 0.3)",
              zeroLineColor: "rgba(0, 0, 0, 0)",
              zeroLineBorderDash: [2],
              zeroLineBorderDashOffset: [2]
            }
          }
        ],
        yAxes: [
          {
            ticks: {
              fontColor: "rgba(255,255,255,.7)"
            },
            display: true,
            scaleLabel: {
              display: false,
              labelString: "Value",
              fontColor: "white"
            },
            gridLines: {
              borderDash: [3],
              borderDashOffset: [3],
              drawBorder: false,
              color: "rgba(255, 255, 255, 0.15)",
              zeroLineColor: "rgba(33, 37, 41, 0)",
              zeroLineBorderDash: [2],
              zeroLineBorderDashOffset: [2]
            }
          }
        ]
      }
    }
  };
  var ctx = document.getElementById("line-chart").getContext("2d");
  window.myLine = new Chart(ctx, config);

  /* Bar Chart */
  config = {
    type: "bar",
    data: {
      labels: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July"
      ],
      datasets: [
        {
          label: new Date().getFullYear(),
          backgroundColor: "#ed64a6",
          borderColor: "#ed64a6",
          data: [30, 78, 56, 34, 100, 45, 13],
          fill: false,
          barThickness: 8
        },
        {
          label: new Date().getFullYear() - 1,
          fill: false,
          backgroundColor: "#4c51bf",
          borderColor: "#4c51bf",
          data: [27, 68, 86, 74, 10, 4, 87],
          barThickness: 8
        }
      ]
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      title: {
        display: false,
        text: "Orders Chart"
      },
      tooltips: {
        mode: "index",
        intersect: false
      },
      hover: {
        mode: "nearest",
        intersect: true
      },
      legend: {
        labels: {
          fontColor: "rgba(0,0,0,.4)"
        },
        align: "end",
        position: "bottom"
      },
      scales: {
        xAxes: [
          {
            display: false,
            scaleLabel: {
              display: true,
              labelString: "Month"
            },
            gridLines: {
              borderDash: [2],
              borderDashOffset: [2],
              color: "rgba(33, 37, 41, 0.3)",
              zeroLineColor: "rgba(33, 37, 41, 0.3)",
              zeroLineBorderDash: [2],
              zeroLineBorderDashOffset: [2]
            }
          }
        ],
        yAxes: [
          {
            display: true,
            scaleLabel: {
              display: false,
              labelString: "Value"
            },
            gridLines: {
              borderDash: [2],
              drawBorder: false,
              borderDashOffset: [2],
              color: "rgba(33, 37, 41, 0.2)",
              zeroLineColor: "rgba(33, 37, 41, 0.15)",
              zeroLineBorderDash: [2],
              zeroLineBorderDashOffset: [2]
            }
          }
        ]
      }
    }
  };
  ctx = document.getElementById("bar-chart").getContext("2d");
  window.myBar = new Chart(ctx, config);
})();
</script>
<!----| Select Video |-->
<script type="text/javascript">
  $(document).on("click", ".createclassroom", function(){
  var elm = $(this);
  var id = elm.data('id');
  var classtitle;
  vidid = $(this).attr("data-classtitle");

  $.ajax(
  {
      type:"GET",
      url: "/create-classroom/",
      data:{
              class_title: classtitle,
      },
          
  }

  })
});
</script> 


<script>
  function showDivForm() {
      document.getElementById('showForm').style.display = "block";
      document.getElementById('showAddSubject').style.display = "none";
      document.getElementById('showForm').scrollIntoView();
  }
</script>
</body>
</html>







