{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
                
<main class="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar">
            <button class="btn btn-primary btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-plus mr-2"></span>New Item
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                <a class="dropdown-item font-weight-bold" href="#" data-toggle="modal" data-target="#exampleModal"><span class="fas fa-tasks mr-2"></span>New Classroom</a>
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-cloud-upload-alt mr-2"></span>New Student</a>

                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-danger mr-2"></span>New Co-Teacher</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
    <div class="table-settings mb-4">
        <div class="row justify-content-between align-items-center">
            <div class="form-group mb-0 mr-3">
                <div class="dropdown">
                    <!--
                        SUBJECT BUTTON NOT NEEDED ?

                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Subject
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All subjects</a>
                        {% for subject in subject_results %}
                        <a class="dropdown-item" href="#">{{ subject.1 }}</a>
                        {% endfor %}
                    </div>
                    -->
                </div>
            </div>
            <div class="form-group mb-0 mr-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Classroom
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for classroom in classroom_results %}
                        <a class="dropdown-item" href="{% url 'classroom_settings' user_id=user_profile.id classroom_id=classroom.0 view_ref='Students' confirmation=0 %}">{{ classroom.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col col-md-4 col-lg-3 col-xl-2 ml-auto">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><span class="fas fa-search"></span></span></div>
                    <input class="form-control" id="searchInputdashboard1" placeholder="Search" type="text" aria-label="Dashboard user search">
                </div>
            </div>
            <div class="col-2 pl-0 d-none d-lg-flex">
                <div class="form-group mb-0">
                    <select class="custom-select" id="inlineFormCustomSelectMesages2">
                        <option selected="selected">All</option>
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                        <option value="3">Pending</option>
                        <option value="3">Canceled</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            
        </div>
        <div class="col-lg-8">
            <h2 class="h4 mb-4"><center>{{ class_match.classroom_title|title }}</center></h2>
        </div>
        <div class="col-lg-2">
            
        </div>
    </div>

    <span style="text-align: center"><h2 class="h3">Editing Classroom: {{ class_profile }}</h2></span>
    <div class="container p-3 my-3 bg-white">
        <div class="row align-items-start">
            <div class="col-md-8">
                {% if view_ref == 'Students' %}
                    <h2 class="h5">Students settings options</h2>

                    <div class="container h-100 py-2">
                        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#edit" role="tab" aria-selected="true">Current Students</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#add" role="tab" aria-selected="false">Add Students</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-primary border-bottom-0" id="profile-tab" data-toggle="tab" href="#pending" role="tab" aria-selected="false">Pending Students</a>
                            </li>
                        </ul>
                    
                        <div class="tab-content h-75">
                            <div class="tab-pane h-100 p-3 active border border-primary" id="edit" role="tabpanel">
                                <h2>&nbsp</h2>
                                <h4 class="h6">Edit Current Students:</h4>
                                <table class="table table-borderless table-sm">
                                    <thead class="table-light">
                                      <tr>
                                        <th scope="col" class="h6">Student Name:</th>
                                        <th scope="col"> </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in class_profile.student.all %}
                                            <tr>
                                                <td>{{ student.first_name }} {{ student.last_name }}</td>
                                            <!--what href to use for Remove functionality?-->
                                            <td> <a href="#">Remove</a> </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                            <div class="tab-pane h-100 p-3 border border-primary" id="add" role="tabpanel">
                                {% if confirmation == 1 %}
                                <div class="card text-white bg-slack mb-3" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-text">Email Sent!</h5>
                                    </div>
                                </div>
                                <a class="btn btn-primary" href="{% url 'classroom_settings' user_id=user_profile.id classroom_id=class_profile.id view_ref='Students' confirmation=0 %}">Send Another Invite</a>
                                {% else %}
                                    <h2>&nbsp</h2>
                                    <h4 class="h6">Add New Students:</h4>
                                    <div class="card border-light shadow-sm">
                                        <div class="card-body flex-row align-items-center flex-0 border-bottom">
                                            <h5 class="card-title">Invite students to {{class_profile}}</h5>  
                                            <form  action="{% url 'add_student_to_classroom' user_id=user_profile.id class_id=class_profile.id %}" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <label for="name">Enter student's first and last name:</label>
                                                <div class="row">
                                                    <div class="col">
                                                    <input type="text" name='first_name' id='first_name' class="form-control" placeholder="First name">
                                                    </div>
                                                    <div class="col">
                                                    <input type="text" name='last_name' id='last_name' class="form-control" placeholder="Last name">
                                                    </div>
                                                </div>
                                                <h3>&nbsp</h3>
                                                <label for="name">Student's grade level:</label>
                                                <div class="input-group mb-3">
                                                    <select class="form-select" id="grade_level">
                                                        <option selected>Choose...</option>
                                                        <option value="1">{{ class_profile.single_grade }}</option>
                                                        {% for grade in class_profile.grade_level.all %}
                                                            {% if grade != class_profile.single_grade %}
                                                            <option value="#">{{ grade }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                  </div>
                                                <div class="form-group">
                                                    <label for="email">Enter student or guardian's email:</label>
                                                    <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Send Invite</button>
                                            </form>
                                            
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane h-100 p-3 border border-primary" id="pending" role="tabpanel">
                                <h2>&nbsp</h2>
                                <h4 class="h6">Pending Students:</h4>
                                <table class="table table-borderless table-sm">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="h6">Student Name:</th>
                                        <th scope="col"> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td>Lucy Smith</td>
                                        <td> <a href="#">Resend</a> </td>
                                    </tr>
                                    <tr>
                                        <td>Lilly Smith</td>
                                        <td> <a href="#">Resend</a> </td>
                                    </tr>
                                    </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                {% elif view_ref == 'Teachers' %}
                    <h2 class="h5">Teachers settings options</h2>

                    <div class="container h-100 py-2">
                        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#edit" role="tab" aria-selected="true">Current Teachers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#add" role="tab" aria-selected="false">Add Teachers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-primary border-bottom-0" id="profile-tab" data-toggle="tab" href="#pending" role="tab" aria-selected="false">Pending Teachers</a>
                            </li>
                        </ul>
                    
                        <div class="tab-content h-75">
                            <div class="tab-pane h-100 p-3 active border border-primary" id="edit" role="tabpanel">
                                <h2>&nbsp</h2>
                                <h4 class="h6">Edit Current Teachers:</h4>
                                <table class="table table-borderless table-sm">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="h6">Teacher Name:</th>
                                        <th scope="col"> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for teacher in class_profile.support_teachers.all %}
                                            <tr>
                                                <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
                                            <!--what href to use for Remove functionality?-->
                                            <td> <a href="#">Remove</a> </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane h-100 p-3 border border-primary" id="add" role="tabpanel">
                                {% if confirmation == 1 %}
                                <div class="card text-white bg-slack mb-3" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-text">Email Sent!</h5>
                                    </div>
                                </div>
                                <a class="btn btn-primary" href="{% url 'classroom_settings' user_id=user_profile.id classroom_id=class_profile.id view_ref='Teachers' confirmation=0 %}">Send Another Invite</a>
                                {% else %}
                                    <h2>&nbsp</h2>
                                    <h4 class="h6">Add New Teachers:</h4>
                                    <div class="card border-light shadow-sm">
                                        <div class="card-body flex-row align-items-center flex-0 border-bottom">
                                            <h5 class="card-title">Invite teachers to {{class_profile}}</h5>  
                                            <form  action="{% url 'add_teacher_to_classroom' user_id=user_profile.id class_id=class_profile.id %}" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <label for="name">Enter teacher's first and last name:</label>
                                                <div class="row">
                                                    <div class="col">
                                                    <input type="text" name='first_name' id='first_name' class="form-control" placeholder="First name">
                                                    </div>
                                                    <div class="col">
                                                    <input type="text" name='last_name' id='last_name' class="form-control" placeholder="Last name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Enter teacher's email:</label>
                                                    <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Send Invite</button>
                                            </form>
                                            
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane h-100 p-3 border border-primary" id="pending" role="tabpanel">
                                <h2>&nbsp</h2>
                                <h4 class="h6">Pending Teachers:</h4>
                                <table class="table table-borderless table-sm">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="h6">Teacher Name:</th>
                                        <th scope="col"> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td>Lucy Smith</td>
                                        <td> <a href="#">Resend</a> </td>
                                    </tr>
                                    <tr>
                                        <td>Lilly Smith</td>
                                        <td> <a href="#">Resend</a> </td>
                                    </tr>
                                    </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                {% elif view_ref == 'Subjects' %}
                    <h2 class="h5">Subjects settings options</h2>

                    <div class="container h-100 py-2">
                        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#edit" role="tab" aria-selected="true">Current Subjects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#add" role="tab" aria-selected="false">Add Subjects</a>
                            </li>
                        </ul>
                    
                        <div class="tab-content h-75">
                            <div class="tab-pane h-100 p-3 active border border-primary" id="edit" role="tabpanel">
                                <h2>&nbsp</h2>
                                <h4 class="h6">Edit Current Subjects:</h4>
                                <table class="table table-borderless table-sm">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="h6">Subject:</th>
                                        <th scope="col"> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for subject in class_profile.subjects.all %}
                                            <tr>
                                                <td>{{ subject.subject_title }}</td>
                                            <!--what href to use for Remove functionality?-->
                                            <td> <a href="#">Remove</a> </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane h-100 p-3 border border-primary" id="add" role="tabpanel">
                                <h2>&nbsp</h2>
                                <h4 class="h6">Add Subjects:</h4>
                                <table class="table table-borderless table-sm">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="h6">Subject:</th>
                                        <th scope="col"> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for subject in subject_list %}
                                            {% if subject not in current_subjects.all %}
                                                <tr>
                                                    <td>{{ subject }}</td>
                                                <!--what href to use for Add functionality?-->
                                                <td> <a href="#">Add</a> </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        <tr>
                                            <td>Other...</td>
                                            <!--what href to use for Add functionality?-->
                                            <td> <a href="#">Add</a> </td>
                                        </tr>
                                        <!--
                                            GET STANDARD SUBJECTS FOR THE STANDARDS THE TEAHCER IS USING
                                        {% for subject in class_profile.standards_set.all %}
                                            <tr>
                                                <td>{{ subject.subject_title }}</td>
                                            what href to use for Remove functionality?
                                            <td> <a href="#">Remove</a> </td>
                                            </tr>
                                        {% endfor %}
                                        -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                {% elif view_ref == 'Grade-Levels' %}
                    <h2 class="h5">Grade Levels settings options</h2>
                    <div class="container h-100 py-2">
                        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#edit" role="tab" aria-selected="true">Current Grade Levels</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#add" role="tab" aria-selected="false">Add Grade Levels</a>
                            </li>
                        </ul>
                    
                        <div class="tab-content h-75">
                            <div class="tab-pane h-100 p-3 active border border-primary" id="edit" role="tabpanel">
                                <h2>&nbsp</h2>
                                <h4 class="h6">Edit Current Grade Levels:</h4>
                                <table class="table table-borderless table-sm">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="h6">Grade Level:</th>
                                        <th scope="col"> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ class_profile.single_grade }} 
                                                <a href="#" data-toggle="tooltip" title="The grade that is primarily taught in the classroom">(default grade)</a>
                                            </td>
                                            <td> <a href="#">Change</a> </td>
                                        </tr>
                                        {% for grade in class_profile.grade_level.all %}
                                            {% if grade != class_profile.single_grade %}
                                                <tr>
                                                    <td>{{ grade }}</td>
                                                <!--what href to use for Remove functionality?-->
                                                <td> <a href="#">Remove</a> </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane h-100 p-3 border border-primary" id="add" role="tabpanel">
                                <h2>&nbsp</h2>
                                <h4 class="h6">Add Grade Levels:</h4>
                                <table class="table table-borderless table-sm">
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="h6">Grade Level:</th>
                                        <th scope="col"> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for grade in grade_list %}
                                            {% if grade not in current_grade_levels.all and grade != class_profile.single_grade %}
                                                <tr>
                                                    <td>{{ grade }}</td>
                                                <!--what href to use for Add functionality?-->
                                                <td> <a href="#">Add</a> </td>
                                                </tr>
                                            {% endif %}    
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                {% elif view_ref == 'Classroom-Title' %}
                    <h2 class="h5">Classroom Title settings options</h2>
                {% else %}
                    <h5>Default </h5>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle border-white btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage members
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'classroom_settings' user_id=user_profile.id classroom_id=class_profile.id view_ref='Students' confirmation=0 %}">Students</a>
                        <a class="dropdown-item" href="{% url 'classroom_settings' user_id=user_profile.id classroom_id=class_profile.id view_ref='Teachers' confirmation=0 %}">Teachers</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle border-white btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Update class aspects
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'classroom_settings' user_id=user_profile.id classroom_id=class_profile.id view_ref='Classroom-Title' confirmation=0 %}">Edit classroom title</a>
                        <a class="dropdown-item" href="{% url 'classroom_settings' user_id=user_profile.id classroom_id=class_profile.id view_ref='Subjects' confirmation=0 %}">Edit subjects</a>
                        <a class="dropdown-item" href="{% url 'classroom_settings' user_id=user_profile.id classroom_id=class_profile.id view_ref='Grade-Levels' confirmation=0 %}">Edit grade levels</a>
                    </div>
                </div>
            </div>
        </div>
    </div>     

    <footer class="footer section py-5">
<div class="container-fluid">
<div class="row">
<div class="col-12 col-lg-6 mb-4 mb-lg-0">
<p class="mb-0 text-center text-xl-left">Copyright © 2019-<span class="current-year"></span> <a class="text-primary font-weight-normal" href="https://www.classplanit.co">ClassPlanit</a></p>
</div>

 
</div>
</div>
</footer>
</main>

{% endblock %}