{% load static %}

<!--

=========================================================
* Rocket - SaaS Bootstrap Template
=========================================================

* Product Page: https://themesberg.com/product/bootstrap-themes/rocket-saas-bootstrap-template
* Copyright 2020 Themesberg (https://www.themesberg.com)
* License (https://themesberg.com/licensing)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">

    <head> 
        <!-- Primary Meta Tags -->
    <title>Class Planit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Helping teachers create, share, and assess more engaging lessons">
    <meta name="author" content="Class Planit">
    <meta name="description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
    <meta name="keywords" content="lesson plans, teacher pay teachers, worksheets" />
    <link rel="canonical" href="www.classplanit.co">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.classplanit.co">
    <meta property="og:title" content="Class Planit - helping teachers create, share, and assess more engaging lessons.">
    <meta property="og:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
    <meta property="og:image" content="www.classplanit.co">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="www.classplanit.co">
    <meta property="twitter:title" content="Class Planit - helping teachers create, share, and assess more engaging lessons.">
    <meta property="twitter:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
    <meta property="twitter:image" content="{% static 'images/dashboard/twitter_image.png' %}">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/dashboard/icon_120.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mages/icon_40.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/dashboard/icon_40.png' %}">
    
    <link rel="mask-icon" href="{% static 'images/dashboard/icon.svg' %}" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Fontawesome -->
    <link type="text/css" href="{% static 'vendor/dashboard/fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    
    <!-- Prism -->
    <link type="text/css" href="{% static 'vendor/dashboard/prismjs/themes/prism.css' %}" rel="stylesheet">
    
    <!-- VectorMap -->
    <link rel="stylesheet" href="{% static 'vendor/dashboard/jqvmap/dist/jqvmap.min.css' %}">
    
    <!-- Rocket CSS -->
    <link type="text/css" href="{% static 'css/dashboard/rocket.css' %}" rel="stylesheet">
    
    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
    
    </head>

<body>

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
    <img class="loader-element" src="{% static 'images/dashboard/circle_logo.svg' %}" height="50" alt="Rocket logo">
</div>

        <nav class="navbar navbar-dark navbar-theme-primary col-12 d-md-none">
    <a class="navbar-brand mr-lg-5" href="../../index.html">
        <img class="navbar-brand-dark" src="../../assets/img/brand/light.svg" alt="Pixel logo" /> <img class="navbar-brand-light" src="../../assets/img/brand/dark.svg" alt="Pixel Logo Dark" />
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

        <div class="container-fluid bg-soft">
            <div class="row">
                <div class="col-12">

                    <!-- <nav id="sidebarMenu" class="sidebar col-md-4 col-lg-3 col-xl-2 d-md-block bg-primary text-white collapse"> -->
<nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
  <div class="sidebar-sticky pt-4 mx-auto">
    <div class="user-card d-flex align-items-center justify-content-between justify-content-md-center pb-4">
      <div class="d-flex align-items-center">
        <div class="user-avatar lg-avatar mr-4">
          <img src="{% static 'images/user_default.png' %}" class="card-img-top rounded-circle border-white" alt="user">
        </div>
        <div class="d-block">
          <h2 class="h6">Hi, Audrey</h2>
          <a href="../sign-in.html" class="btn btn-secondary btn-xs"><span class="mr-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
        </div>
      </div>
      <div class="collapse-close d-md-none">
          <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse"
              data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
              aria-label="Toggle navigation"></a>
      </div>
    </div>
    <ul class="nav flex-column mt-4">
      <li class="nav-item  active ">
        <a href="../dashboard/dashboard.html" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span>
            <span>Overview</span>
        </a>
      </li>
      <li class="nav-item ">
        <a href="{% url 'classrooms' %}" class="nav-link d-flex align-items-center justify-content-between">
            <span>
              <span class="sidebar-icon"><i class="fa fa-chalkboard-teacher"></i></span>
              Classrooms
            </span>
            
        </a>
      </li>

      <li class="nav-item ">
        <a href="../dashboard/traffic-sources.html" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-chart-line"></span></span>
            <span>Standards Tracking</span>
        </a>
      </li>
     

      <li class="nav-item ">
        <a href="../dashboard/tasks.html" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-clipboard-list"></span></span>
            <span>Assignments</span>
        </a>
      </li>
      <li class="nav-item ">
        <a href="../dashboard/settings.html" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-cog"></span></span>
            <span>Settings</span>
        </a>
      </li>

      <li role="separator" class="dropdown-divider mt-4 mb-3 border-blue"></li>
      <li class="nav-item">
        <a href="https://themesberg.com/docs/rocket/getting-started/quick-start/" target="_blank" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-book"></span></span>
          <span>Tutorials</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="../../index.html" class="nav-link d-flex align-items-center">
          <span class="sidebar-icon">
            <img src="{% static 'images/circle_logo.svg' %}" height="26" width="26" alt="Rocket Logo">
          </span>
          <span>Contact Us</span>
        </a>
      </li>
    
 
    </ul>
  </div>
</nav>









<main class="content">

 
   
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fa fa-bars"></i> List</a>
            <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fa fa-th-large"></i> Grid</a>

        </div>
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
    <li>{{ results }}</li>
    <div class="row">
       
        <div class="col-lg-9 bg-white">
            {% if step == 1 %}
            <div class="container">
                <br>
                     <!---| Objectives Sections step == 1  |--->     
                     <div class="row">
                    <div class="col-lg-9">
                        
                        <h5>Objective:</h5>
                       
                        
                        <form  method="POST"> 
                            {% csrf_token %} 
                            <textarea class="form-control border border-light-gray mb-4" id="teacher_objective" name='teacher_objective' placeholder="The students will..." rows="6" maxlength="1000" required></textarea>
                            <div class="form-group">
                                <label for="subject">Subject:</label>
                                <select class="form-control" name='subject' id="subject">
                                    {% for subject in subjects %}
                                  <option value='{{ subject.id }}'>{{ subject }}</option>
                                    {% endfor %}
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="lesson_classroom">Classroom:</label>
                                <select class="form-control" name='lesson_classroom' id="lesson_classroom">
                                    {% for classroom in user_classrooms %}
                                  <option value='{{classroom.id }}'>{{ classroom.classroom_title }}</option>
                                    {% endfor %}
                                </select>
                              </div>
                          
                            <br>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                
                                <div>
                                    <button type="submit" class="btn btn-secondary">Next</button>
                                </div>
                            </div>
                        </form>
        
        
                    </div>
                    <div class="col-lg-3">
                        
                      
        
                    </div>
                    </div>
              
        
                </div>
           
            {% elif step == 2 %}
                <div class="container">
                    <br>
                         <!---| Objectives Sections step == 1  |--->     
                         <div class="row">
                        <div class="col-lg-9">
                            
                            <h5>Objective:</h5>
                           
                            
                            <h6>{{ lesson_match.teacher_objective }}</h6>
                      
            
            
                        </div>
                        <div class="col-lg-3">
                            
                          
            
                        </div>
                        </div>
                        <!---| end Objectives Sections |---> 
                        <hr>
                        <!---| Objectives Sections step == 2  |--->  
                        <h5>Standards:</h5>
                        {% if step == 2 %}
                    
                        
                            {% for item in recomendations %}
                                {% if item.is_selected %}
                                
                                <li><i class="fa fa-check"></i> | <a href="{% url 'edit_objective_standards' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id standard_id=item.objectives_standard_id action=1 %}#heading" >{{ item.objectives_standard }}</a></li>
                                
                                {% else %}
                                <li><a href="{% url 'edit_objective_standards' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id standard_id=item.objectives_standard_id action=0 %}#heading" >{{ item.objectives_standard }} </a></li>
                                {% endif %}
                           
                            {% endfor %}
                          
                            <div class="card-body">
                                <div class="tagcloud">
                                    {% for topic in topic_lists %}
                                       {% ifchanged topic.0 %}
                                            {% if topic.1 == 1 %}
                                            <a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=8 item_id=topic.0.id action=0 %}#heading" data-toggle="tooltip" data-placement="top" title="{{ topic.0 }} - {% for item in topic.0.description.all%}{{item }} ; {% endfor %}" class="btn btn-sm btn-outline-success">{{ topic.0 }}</a>
                                            {% else %}
                                            <a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=8 item_id=topic.0.id action=1 %}#heading" data-toggle="tooltip" data-placement="top" title="{{ topic.0 }} - {% for item in topic.0.description.all%}{{item }} ; {% endfor %}" class="btn btn-sm btn-outline-secondary">{{ topic.0 }}</a>
                                            {% endif %}
                                        {% endifchanged %}
                                    {% endfor %}
                
                                </div>
                            </div>
                        
                         
                        {% else %}
                            {% for standard in lesson_standards %}
                            <li>{{ standard }}</li>
                            {% endfor %}  
                        {% endif %}  
                    
                
                    
                        <div class="row">   
                        <div class="col-lg-7">
                            
                        </div>
                        <div class="col-lg-5">

                            <a href="{% url 'select_keywords' user_id=1 class_id=1 lesson_id=lesson_match.id subject=lesson_match.subject_id %}#heading" class="btn btn-success btn-block btn-has-icon" >Next: Lesson Builder </a>
                                         
                        </div>
                        </div>
            
                    </div>
            {% elif step == 3 %}
                <div class="container">
                    <br>
                        
                            
                            <h5>Related Topics:</h5>
                            {% for item in topics_selected %}
                      
                            <h6><li>{{ item.snippet }}</li></h6>
                            {% endfor %}
                            {% for item in questions_selected %}
                        
                            <h6><li>{{ item.question }}</li></h6>
                            {% endfor %}

                            {% for item in selected_wiki %}
                           
                            <h6><li>{{ item.topic }}</li></h6>
                            {% endfor %}
                            <hr>
                         
                            <hr>
                            {% if wiki_topics %}
                            
                           
                                {% for item in wiki_topics|slice:"5" %}

                                <div class="card">
                                    

                                    
                                    <td><a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=5 item_id=item.id action=0 %}#heading" class="btn btn-success btn-sm btn-has-icon"><i class="fa fa-check"></i> Relevant</a> </td>
                                            <td><a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=5 item_id=item.id action=2 %}#heading" class="btn btn-danger btn-sm btn-has-icon icon-right"><i class="fa fa-times"></i> Not Relevant</a></td>
                                    <br>
                                    <div class="card-body">
                                
                                      <p class="card-text">{{ item.topic }}</p>
                                     
                                    
                                    </div>
                                  </div>

                               {% endfor %}

                            {% endif %}
                            {% if related_topics %}
                           
                            <div class="table-responsive">
                                <table class="table table-bordered table-bordered__solid table-striped ">
                                
                                    <tbody>
                                        {% for item in related_topics|slice:"5" %}
                                        
                                        <tr>
                                            
                                            <td><a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=2 item_id=item.id action=0 %}#heading" class="btn btn-success btn-sm btn-has-icon"><i class="fa fa-check"></i> Relevant</a> </td>
                                            <td><a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=2 item_id=item.id action=2 %}#heading" class="btn btn-danger btn-sm btn-has-icon icon-right"><i class="fa fa-times"></i> Not Relevant</a></td>
                                        <td>{{ item.snippet }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-bordered__solid table-striped ">
                                
                                    <tbody>

                                        {% for item in related_question|slice:"5" %}
                        
                                        
                                        <tr>
                                            
                                            <td><a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=3 item_id=item.id action=0 %}#heading" class="btn btn-success btn-sm btn-has-icon"><i class="fa fa-check"></i> Relevant</a> </td>
                                            <td><a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=3 item_id=item.id action=2 %}#heading" class="btn btn-danger btn-sm btn-has-icon icon-right"><i class="fa fa-times"></i> Not Relevant</a></td>
                                        <td>{{ item.question }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}

                             <!---| Objectives Sections step == 1  |--->     
                        
                         
                         <!-- Effects Tab -->
                 
                         
                           
                           
            </div>
            <br>
            <br>
            <a name="youtube"></a>
                <div class="row justify-content-between align-items-center">
                    <div class="col-12">
                        <div class="row">
                            {% for vid in vid_id_list %}
                            <!--Card-->
                            <div class="col-lg-4">
                                <div class="card">
    
                                   
                                    <!--Card image-->
                                    <iframe
                                        src="https://www.youtube.com/embed/{{ vid.vid_id }}">
                                        </iframe>
                                    <!--Card content-->
                                    <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">{{ vid.title }}</h4>
                                    <!--Text-->
                                    <p class="card-text">{{ vid.description }}</p>
                                    {% if vid.is_selected %}
                                    <a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=7 item_id=vid.id action=1 %}" class="btn btn-secondary btn-sm btn-has-icon"><i class="fa fa-check"></i> Selected</a>
                                    {% else %}
                                    <a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=7 item_id=vid.id action=0 %}" class="btn btn-success btn-sm btn-has-icon"><i class="fa fa-check"></i> Relevant</a>
                                    {% endif %}
                                </div>
                                    </div>
                                </div>
                                <!--/.Card-->
                                {% endfor %}
                
        
                
                        </div>    
                    </div>
                 
                </div>
                <br>
                <br>
         <div class="row">   
            <div class="col-lg-9">
                
            </div>
            <div class="col-lg-3">

                <a href="{% url 'activity_builder' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id %}#heading" class="btn btn-success btn-block btn-has-icon" >Next: Identify Topics </a>
                             
            </div>
            </div>
 
            {% else %}
            <div class="container">
                <br>
                     <!---| Objectives Sections step == 1  |--->     
                     <div class="row">
                    <div class="col-lg-9">
                        
                 
        
                    </div>
                    <div class="col-lg-3">
                        
                      
        
                    </div>
                    </div>
                    <!---| end Objectives Sections |---> 
                    <hr>
                    <!---| Objectives Sections step == 2  |--->  
                
             
        
                </div>
            {% endif %}
        </div>
        <div class="col-lg-3">
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Objectives:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <li>{{ lesson_match.teacher_objective }}</li>
                            
                            </div>
                           
                        </div>
                     
                    </div>
                </div>
            </div>
         
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Standards:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for standard in lesson_standards %}
                        <li>{{ standard }}</li>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Key Terms:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    <div class="tagcloud">
                        {% for item in keywords_selected %}
                        <a href="#" class="btn btn-sm btn-outline-secondary">{{ item.word }}</a>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Main Questions:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">1. What is a Home</th>
                               
                                
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">
                                   <li>It's A Dwelling</li>
                                </td>
                        
                              
                            </tr>
                          
                            </tbody>
                        </table>
                    </div>
                   
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">2. What is a Cave</th>
                               
                                
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">
                                   <li>In the Mountain</li>
                                </td>
                        
                              
                            </tr>
                          
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
          
        </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Lesson</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

    <footer class="footer section py-5">
<div class="container-fluid">
<div class="row">
<div class="col-12 col-lg-6 mb-4 mb-lg-0">
<p class="mb-0 text-center text-xl-left">Copyright © 2019-<span class="current-year"></span> <a class="text-primary font-weight-normal" href="https://themesberg.com" target="_blank">Themesberg</a></p>
</div>

<div class="col-12 col-lg-6">
<!-- List -->
<ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/about">About</a>
</li>
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/themes">Themes</a>
</li>
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/blog">Blog</a>
</li>
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/contact">Contact</a>
</li>
</ul>
<!-- End List -->
</div>
</div>
</div>
</footer>
</main>
                </div>
            </div>
        </div>

    <!-- Core -->
    <script src="{% static 'vendor/dashboard/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/dashboard/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendor/dashboard/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/dashboard/headroom.js/dist/headroom.min.js' %}"></script>
    
    <!-- Vendor JS -->
    <script src="{% static 'vendor/dashboard/countup.js/dist/countUp.min.js' %}"></script>
    <script src="{% static 'vendor/dashboard/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'vendor/dashboard/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'vendor/dashboard/prismjs/prism.js' %}"></script>
    
    <!-- Chartist -->
    <script src="{% static 'vendor/dashboard/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'vendor/dashboard/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
    
    <!-- Vector Maps -->
    <script src="{% static 'vendor/dashboard/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendor/dashboard/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    
    <!-- Rocket JS -->
    <script src="{% static 'js/dashboard/rocket.js' %}"></script>
    
</body>

</html>
