
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<main class="content">

 
   
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fas fa-left"></i> Back to Class List</a>


        </div>
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
    
    <div class="row">
       {% if matched_subject %}
        <div class="col-lg-6 bg-white">
            <div class="container">
                <br>
                <h5>Classroom: {{ class_match.classroom_title }}</h5>
                <h6>Grade Levels:</h6>
                {% for grade in class_match.grade_level.all %}
                <li>{{ grade }}</li>
                {% endfor %}        
                
            </div>
        </div>
      
        <div class="col-lg-6">
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Subjects:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                
                                <p>Current Subjects</p>
                                {% for current in current_subject %}
                                <li><i class="fas fa-check"></i> {{ current }}</li>
                                {% endfor %}
                                <hr>
                                <p>Add Subjects:</p>
                                {% for subject in matched_subject %}

                            <li><a href="{% url 'add_subjects' user_id=user_profile.id class_id=class_match.id subject_id=subject.id %}#heading"> {{ subject }}</a>
                                </li>

                                {% endfor %}
                            
                            </div>
                           
                        </div>
                     
                    </div>
                </div>
            </div>

          
        </div>
        {% else %}
        <div class="col-lg-6 bg-white">
            <div class="container">
                <br>
                <h5>Classroom:</h5>
                       
                        
                <form  method="POST"> 
                    {% csrf_token %} 
                    <div class="form-group">
                    <label for="classroom_title">Classroom Name:</label>
                    <input type="text" class="form-control" name="classroom_title" id="classroom_title" >
                    </div>
                    <div class="form-group">
                        <label for="grade_levels">Grade Levels:</label>
                        <select class="form-control" name='grade_level' id="grade_level">
                            {% for grade in grade_levels %}
                          <option value='{{ grade.id }}'>{{ grade.grade_labels }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    <br>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        
                        <div>
                            <button type="submit" class="btn  btn-secondary btn-block">Next: Set Up Subjects</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      
        <div class="col-lg-6">
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Subjects:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                
                                <p>Current Subjects</p>
                                {% for current in current_subject %}
                                <li><i class="fas fa-check"></i> {{ current }}</li>
                                {% endfor %}
                                <hr>
                                <p>Add Subjects:</p>
                                {% for subject in matched_subject %}

                            <li><a href="{% url 'add_subjects' user_id=user_profile.id class_id=class_match.id subject_id=subject.id %}#heading"> {{ subject }}</a>
                                </li>

                                {% endfor %}
                            
                            </div>
                           
                        </div>
                     
                    </div>
                </div>
            </div>

          
        </div>
        {% endif %}
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Lesson</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

    <footer class="footer section py-5">
<div class="container-fluid">
<div class="row">
<div class="col-12 col-lg-6 mb-4 mb-lg-0">
<p class="mb-0 text-center text-xl-left">Copyright © 2019-<span class="current-year"></span> <a class="text-primary font-weight-normal" href="https://themesberg.com" target="_blank">Themesberg</a></p>
</div>

<div class="col-12 col-lg-6">
<!-- List -->
<ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/about">About</a>
</li>
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/themes">Themes</a>
</li>
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/blog">Blog</a>
</li>
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/contact">Contact</a>
</li>
</ul>
<!-- End List -->
</div>
</div>
</div>
</footer>
</main>

{% endblock %}