{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<main class="content">

 
   
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fa fa-bars"></i> List</a>
            <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fa fa-th-large"></i> Grid</a>

        </div>
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>

    <div class="row">
       
        <div class="col-lg-6 bg-white">
            {% if step == 1 %}
            <div class="container">
                <br>
                     <!---| Objectives Sections step == 1  |--->     
                     <div class="row">
                    <div class="col-lg-12">
                        
                        <h5>Objective:</h5>
                       
                        
                        <form  method="POST"> 
                            {% csrf_token %} 
                            <textarea class="form-control border border-light-gray mb-4" id="teacher_objective" name='teacher_objective' placeholder="The students will..." rows="6" maxlength="1000" required></textarea>
                            <div class="form-group">
                                <label for="subject">Subject:</label>
                                <select class="form-control" name='subject' id="subject">
                                    {% for subject in subjects %}
                                    {% for y in subject %}
                                  <option value='{{ y.id }}'>{{ y.subject_title }}</option>
                                    {% endfor %}
                                    {% endfor %}
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="lesson_classroom">Classroom:</label>
                                <select class="form-control" name='lesson_classroom' id="lesson_classroom">
                                    {% for classroom in user_classrooms %}
                                  <option value='{{ classroom.id }}'>{{ classroom.classroom_title }}</option>
                                    {% endfor %}
                                </select>
                              </div>
                          
                            <br>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                
                                <div>
                                    <button type="submit" class="btn  btn-secondary btn-block">LET'S PLANIT!</button>
                                </div>
                            </div>
                        </form>
        
        
                    </div>
                    <div class="col-lg-3">
                        
                      
        
                    </div>
                    </div>
              
        
                </div>
           
            {% elif step == 2 %}
                <div class="container">
                    <br>
                         <!---| Objectives Sections step == 1  |--->     
                         <div class="row">
                        <div class="col-lg-9">
                            
                            <h5>Objective:</h5>
                           
                            
                            <h6>{{ lesson_match.teacher_objective }}</h6>
                      
            
            
                        </div>
                        <div class="col-lg-3">
                            
                          
            
                        </div>
                        </div>
                        <!---| end Objectives Sections |---> 
                        <hr>
                        <!---| Objectives Sections step == 2  |--->  
                        <h5>Standards:</h5>
                        {% if step == 2 %}
                    
                        
                            {% for item in recomendations %}
                                {% if item.is_selected %}
                                
                                <li><i class="fa fa-check"></i> | <a href="{% url 'edit_objective_standards' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id standard_id=item.objectives_standard_id action=1 %}#heading" >{{ item.objectives_standard }}</a></li>
                                
                                {% else %}
                                <li><a href="{% url 'edit_objective_standards' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id standard_id=item.objectives_standard_id action=0 %}#heading" >{{ item.objectives_standard }} </a></li>
                                {% endif %}
                           
                            {% endfor %}
                          
                            <div class="card-body">
                                <div class="tagcloud">

                                    <a href="{% url 'select_standards' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id  select_all=True %}#heading" class="btn btn-sm btn-outline-primary"><i class="fas fa-check"></i> Select All</a>
                                        {% for topic in topic_lists %}
                                        {% ifchanged topic.0 %}
                                                {% if topic.1 == 1 %}
                                                <a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=8 item_id=topic.0.id action=0 %}#heading" data-toggle="tooltip" data-placement="top" title="{{ topic.0 }} - {% for item in topic.0.description.all %}{{item }} ; {% endfor %}" class="btn btn-sm btn-outline-success">{{ topic.0 }}</a>
                                                {% else %}
                                                <a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=8 item_id=topic.0.id action=1 %}#heading" data-toggle="tooltip" data-placement="top" title="{{ topic.0 }} - {% for item in topic.0.description.all %}{{item }} ; {% endfor %}" class="btn btn-sm btn-outline-secondary">{{ topic.0 }}</a>
                                                {% endif %}
                                            {% endifchanged %}
                                        {% endfor %}
                
                                </div>
                            </div>
                        
                         
                        {% else %}
                            {% for standard in lesson_standards %}
                            <li>{{ standard }}</li>
                            {% endfor %}  
                        {% endif %}  
                    
                            
                        <div class="row">   
                        <div class="col-lg-7">
                            
                        </div>
                        <div class="col-lg-5">

                            <a href="{% url 'select_keywords' user_id=1 class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id %}#heading" class="btn btn-success btn-block btn-has-icon" >Next: Lesson Builder </a>
                                         
                        </div>
                        </div>
            
                    </div>
            {% elif step == 3 %}
  
            <a name="youtube"></a>
                <div class="row justify-content-between align-items-center">
                    <div class="col-12">
                        <div class="row">
                            {% for vid in vid_id_list %}
                            <!--Card-->
                            <div class="col-lg-4">
                                <div class="card">
    
                                   
                                    <!--Card image-->
                                    <iframe
                                        src="https://www.youtube.com/embed/{{ vid.vid_id }}">
                                        </iframe>
                                    <!--Card content-->
                                    <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">{{ vid.title }}</h4>
                                    <!--Text-->
                                    <p class="card-text">{{ vid.description }}</p>
                                    {% if vid.is_selected %}
                                    <a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=7 item_id=vid.id action=1 %}" class="btn btn-secondary btn-sm btn-has-icon"><i class="fa fa-check"></i> Selected</a>
                                    {% else %}
                                    <a href="{% url 'select_related' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id type_id=7 item_id=vid.id action=0 %}" class="btn btn-success btn-sm btn-has-icon"><i class="fa fa-check"></i> Relevant</a>
                                    {% endif %}
                                </div>
                                    </div>
                                </div>
                                <!--/.Card-->
                                {% endfor %}
                
        
                
                        </div>    
                    </div>
                 
                </div>
                <br>
                <br>
         <div class="row">   
            <div class="col-lg-9">
                
            </div>
            <div class="col-lg-3">

                <a href="{% url 'activity_builder' user_id=user_profile.id class_id=classroom_profile.id lesson_id=lesson_match.id subject=lesson_match.subject_id %}#heading" class="btn btn-success btn-block btn-has-icon" >Next: Identify Topics </a>
                             
            </div>
            </div>
 
            {% else %}
            <div class="container">
                <br>
                     <!---| Objectives Sections step == 1  |--->     
                     <div class="row">
                    <div class="col-lg-9">
                        
                 
        
                    </div>
                    <div class="col-lg-3">
                        
                      
        
                    </div>
                    </div>
                    <!---| end Objectives Sections |---> 
                    <hr>
                    <!---| Objectives Sections step == 2  |--->  
                
             
        
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Objectives:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <li>{{ lesson_match.teacher_objective }}</li>
                            
                            </div>
                           
                        </div>
                     
                    </div>
                </div>
            </div>
         
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Standards:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for standard in lesson_standards %}
                        <li>{{ standard }}</li>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Key Terms:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    <div class="tagcloud">
                        {% for item in keywords_selected %}
                        <a href="#" class="btn btn-sm btn-outline-secondary">{{ item.word }}</a>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Main Questions:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">1. What is a Home</th>
                               
                                
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">
                                   <li>It's A Dwelling</li>
                                </td>
                        
                              
                            </tr>
                          
                            </tbody>
                        </table>
                    </div>
                   
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">2. What is a Cave</th>
                               
                                
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">
                                   <li>In the Mountain</li>
                                </td>
                        
                              
                            </tr>
                          
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
          
        </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Lesson</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

    <footer class="footer section py-5">
<div class="container-fluid">
<div class="row">
<div class="col-12 col-lg-6 mb-4 mb-lg-0">
<p class="mb-0 text-center text-xl-left">Copyright © 2019-<span class="current-year"></span> <a class="text-primary font-weight-normal" href="https://themesberg.com" target="_blank">Themesberg</a></p>
</div>

<div class="col-12 col-lg-6">
<!-- List -->
<ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/about">About</a>
</li>
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/themes">Themes</a>
</li>
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/blog">Blog</a>
</li>
<li class="list-inline-item px-0 px-sm-2">
    <a href="https://themesberg.com/contact">Contact</a>
</li>
</ul>
<!-- End List -->
</div>
</div>
</div>
</footer>
</main>
               
{% endblock %}