
 {% load static %}
 <!DOCTYPE html>
 <html>
 <head>
          <!-- Primary Meta Tags -->
          <title>Class Planit</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="title" content="Helping teachers create, share, and assess more engaging lessons">
          <meta name="author" content="Class Planit">
          <meta name="description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
          <meta name="keywords" content="lesson plans, teacher pay teachers, worksheets" />
          <link rel="canonical" href="www.classplanit.co">
          
          <!-- Open Graph / Facebook -->
          <meta property="og:type" content="website">
          <meta property="og:url" content="www.classplanit.co">
          <meta property="og:title" content="Class Planit - helping teachers create, share, and assess more engaging lessons.">
          <meta property="og:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
          <meta property="og:image" content="www.classplanit.co">
          
          <!-- Twitter -->
          <meta property="twitter:card" content="summary_large_image">
          <meta property="twitter:url" content="www.classplanit.co">
          <meta property="twitter:title" content="Class Planit - helping teachers create, share, and assess more engaging lessons.">
          <meta property="twitter:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better lessons in minutes.">
          <meta property="twitter:image" content="{% static 'images/dashboard/twitter_image.png' %}">
          
          <!-- Favicon -->
          <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/dashboard/icon_120.png' %}">
          <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mages/icon_40.png' %}">
          <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/dashboard/icon_40.png' %}">
          
          <link rel="mask-icon" href="{% static 'images/dashboard/icon.svg' %}" color="#ffffff">
          <meta name="msapplication-TileColor" content="#ffffff">
          <meta name="theme-color" content="#ffffff">
          
          <!-- Fontawesome -->
          <link type="text/css" href="{% static 'vendor/dashboard/fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
          
          <!-- Prism -->
          <link type="text/css" href="{% static 'vendor/dashboard/prismjs/themes/prism.css' %}" rel="stylesheet">
          
          <!-- VectorMap -->
          <link rel="stylesheet" href="{% static 'vendor/dashboard/jqvmap/dist/jqvmap.min.css' %}">
          
          <!-- Rocket CSS -->
          <link type="text/css" href="{% static 'css/dashboard/rocket.css' %}" rel="stylesheet">
      
   <script src="https://cdn.tiny.cloud/1/0ak6ftt9ng9va9e98pl0iwxwwh0rb1tipwsg8it4mjmcbkjb/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
 <style>
     a.hovertest:hover
 {
 text-decoration:underline;
 }
 </style>
 <style>
 .carousel .item {
     padding: @padding (@padding * 12) (@padding * 4) (@padding * 12);
     font-size: (@font-size * 1.5);
 }
 
 @media(max-width: 767px) {
     .carousel .item {	
         font-size: @base-font-size;
         padding:   @padding (@padding * 3) (@padding * 4) (@padding * 3);
     }
 }
 </style>
 </head>
 <body>
     <div class="preloader bg-soft flex-column justify-content-center align-items-center">
         <img class="loader-element" src="{% static 'images/dashboard/circle_logo.svg' %}" height="50" alt="Rocket logo">
     </div>
     
             <nav class="navbar navbar-dark navbar-theme-primary col-12 d-md-none">
         <a class="navbar-brand mr-lg-5" href="../../index.html">
             <img class="navbar-brand-dark" src="../../assets/img/brand/light.svg" alt="Pixel logo" /> <img class="navbar-brand-light" src="../../assets/img/brand/dark.svg" alt="Pixel Logo Dark" />
         </a>
         <div class="d-flex align-items-center">
             <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
         </div>
     </nav>
  
             <div class="container-fluid bg-soft">
                 <div class="row">
                     <div class="col-12">
     
     <div class="bg-white">
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
             <div class="btn-toolbar">
                 <a href="{% url 'Dashboard' week_of='Current' %}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-arrow-left"></i> Back to Dashboard</a>
     
     
             </div>
             <div class="btn-group mr-2">
                 
                 {% if user_profile %}
                 <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-sm btn-outline-secondary">My Profile</button>
                 {% else %}
                 <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-sm btn-outline-secondary">Login</button>
                 {% endif %}
     
             </div>
         </div>
         {% if user_profile %}
         <div class="row">
        
             <div class="col-lg-9">
 
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ current_per }}%" aria-valuenow="{{ current_per }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
             <div class='container'>
             <div class="row justify-content-between  align-items-center bg-white ">
                 <div class="col-12">
                     <div class="card border-light shadow-sm">
                         <div class="bd-example">
                             <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                     
                               <div class="carousel-inner">
                                   
                                  
                                     {% if 'multi_choice' in current_question.0 %}
                                     


                                     <div class="carousel-item active">
                                     <img src="{{ background_img.uploaded_image.url }}"  alt="...">
                                     
                                     <div class="carousel-caption" style='top: 20%;'>
                                         <h5 style="color:{{ worksheet_theme.primary }}">{{ current_question.1.Question }}</h5>
                                         <p style="color:{{ worksheet_theme.primary }}">Multiple Choice:</p>
                                         <hr>
                                         <div id="all-answers">
                                            {% if student_answer %}
                                            <h5>Your Answer: {{student_answer}}</h5>
                                            {% else %}
                                            <div class='row'>
                                                <div class='col'>
                                                
                                                    
                                                    <a class="mcselect" id="like{{current_question.1.id}}" data-questionid="{{current_question.1.id}}" href="#" data-question="{{ current_question.1 }}"  data-answer="{{ current_question.2.0 }}"> 
                                                        <p onMouseOver="this.style.color='{{ worksheet_theme.primary }}'" onMouseOut="this.style.color='{{ worksheet_theme.link }}'" style="color:{{ worksheet_theme.link }}">   
                                                        {{ current_question.2.0 }}
                                                        </p>
                                                    </a>
                                                </div>
                                                <div class='col'>
                                                    <a class="mcselect" id="like{{current_question.1.id}}" data-questionid="{{current_question.1.id}}" href="#" data-question="{{ current_question.1 }}"  data-answer="{{ current_question.2.1 }}">    
                                                        <p onMouseOver="this.style.color='{{ worksheet_theme.primary }}'" onMouseOut="this.style.color='{{ worksheet_theme.link }}'" style="color:{{ worksheet_theme.link }}"> 
                                                        {{ current_question.2.1 }}
                                                    </p>
                                                        </a>
                                                </div>
                                            </div>
                                            <div class='row'>
                                                <div class='col'>
                                                    <a class="mcselect" id="like{{current_question.1.id}}" data-questionid="{{current_question.1.id}}" href="#" data-question="{{ current_question.1 }}"  data-answer="{{ current_question.2.2 }}">
                                                        <p onMouseOver="this.style.color='{{ worksheet_theme.primary }}'" onMouseOut="this.style.color='{{ worksheet_theme.link }}'" style="color:{{ worksheet_theme.link }}">
                                                        {{ current_question.2.2 }}
                                                    </p> 
                                                        </a>
                                                </div>
                                                <div class='col'>
                                                    <a class="mcselect" id="like{{current_question.1.id}}" data-questionid="{{current_question.1.id}}" href="#" data-question="{{ current_question.1 }}"  data-answer="{{ current_question.2.3 }}">
                                                        <p onMouseOver="this.style.color='{{ worksheet_theme.primary }}'" onMouseOut="this.style.color='{{ worksheet_theme.link }}'" style="color:{{ worksheet_theme.link }}">
                                                        {{ current_question.2.3 }}
                                                    </p> 
                                                        </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                     </div>
                                 
                                     </div>
                                     {% elif 'fill_in_the_blank' in current_question.0 %}
                                     
                                     <div class="carousel-item active">
                                         <img src="{{ background_img.uploaded_image.url }}" alt="...">
                                         
                                         <div class="carousel-caption" style='top: 20%;'>
                                             <h5 style="color:{{ worksheet_theme.primary }}">{{ current_question.1.Question }}</h5>
                                             <p style="color:{{ worksheet_theme.primary }}">Fill in The Blank:</p>
                                             <hr>
                                             {% if student_answer %}
                                            <h5>Your Answer: {{student_answer}}</h5>
                                            {% else %}
                                             <div id="fib-answer">
                                                <form  method="GET" action="{% url 'student_fib_answer' user_id=user_profile.id lesson_id=lesson_id worksheet_id=worksheet_id question_id=current_question.1.id index_id=question_id %}" id="FIB-FORM">
                                                    {% csrf_token %}
                                                <div class="form-group">
                                                 <input type="text" class="form-control" name='fibanswer' id="fibanswer">
                                               </div>
                                               <button type="submit" class="btn btn-primary">Submit</button>
                                               </form>
                                             </div>
                                             {% endif %}
                                         </div>
                                     
                                     </div>
                                     {% else %}
                                     <div class="carousel-item active">
                                         <img src="{{ background_img.uploaded_image.url }}"  alt="...">
                                         
                                         <div class="carousel-caption" style='top: 20%;'>
                                             <h5 style="color:{{ worksheet_theme.primary }}">{{ current_question.1.Question }}</h5>
                                             <p style="color:{{ worksheet_theme.primary }}">Short Answer:</p>
                                             <hr>
                                             {% if student_answer %}
                                            <h5>Your Answer: {{student_answer}}</h5>
                                            {% else %}
                                             <div id="sa-answer">
                                                <form  method="GET" action="{% url 'student_sa_answer' user_id=user_profile.id lesson_id=lesson_id worksheet_id=worksheet_id question_id=current_question.1.id index_id=question_id %}" id="SA-FORM">
                                                    {% csrf_token %}
                                                <div class="form-group">
                                                    <textarea class="form-control" name='saanswer' id="saanswer" rows="3"></textarea>

                                               </div>
                                               <button type="submit" class="btn btn-primary">Submit</button>
                                               </form>
                                             </div>
                                             {% endif %}
                                             
                                         </div>
                                     
                                     </div>
                                     {% endif %}
                               </div>
                               
                               {% if previous_q == 0 %}
                               {% else %}
                               <a class="carousel-control-prev" href="{% url 'student_dashboard' lesson_id=lesson_id worksheet_id=worksheet_match.id question_id=previous_q %}" role="button" data-slide="prev">
                                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                 <span class="sr-only">Previous</span>
                               </a>
                               {% endif %}
                               {% if next_q == question_count %}
                               
                               <a class="carousel-control-next" href="{% url 'student_submit' user_id=user_profile.id lesson_id=lesson_id worksheet_id=worksheet_match.id submit='False' %}" role="button" data-slide="next">
                                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                 <span class="sr-only">End</span>
                               </a>
                               {% else %}
                               <a class="carousel-control-next" href="{% url 'student_dashboard' lesson_id=lesson_id worksheet_id=worksheet_match.id question_id=next_q %}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                              {% endif %}
                             </div>
                           </div>
                     </div>
                 </div>
                 
             </div>
             </div>  
                        
   
             </div>
 
             <div class="col-lg-3">
                 <div class="col-12 px-0 mb-4">
                     <div class="card border-light shadow-sm">
                        
                         <div class="card-body">
                             <h2 class="h5">Assignments:</h2>
   
                             <li><a href="#" class="card-link">Worksheet</a></li>
 
                         </div>
                     </div>
                    
                 </div>
                 <div class="col-12 px-0 mb-4">
                     <div class="card border-light shadow-sm">
 
                             <div class="card border-light shadow-sm">
                        
                                 <div class="card-body">
                                     <h2 class="h5">Study Guides:</h2>
           
                                     <li><a href="#" class="card-link">Flashcards</a></li>
                                     <li><a href="#" class="card-link">Spelling Practice</a></li>
             
                                 </div>
                             </div>
 
                     </div>
                 </div>
                
              
             </div>
         </div>
         {% endif %}
       <br>
 
     </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
           <form action="{% url 'student_login' lesson_id=lesson_id worksheet_id=worksheet_id %}" method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="form-group">
               <div class="input-group">
                   <div class="input-group-prepend">
                       <span class="input-group-text"><i class="far fa-user"></i></span>
                   </div>
                   <input type="username" name='username' class="form-control" id="username"
                       placeholder="Enter username" required>
               </div>
           </div>
           <div class="form-group">
               <div class="input-group">
                   <div class="input-group-prepend">
                       <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                   </div>
                   <input class="form-control" placeholder="Password" id="password" name='password' type="password" required>
                   <div class="input-group-append">
                       
                       <span class="input-group-text">
                           <a onclick="revealPassword()">
                           <i class="far fa-eye"></i>
                           </a>
                       </span>
                       
                   </div>
               </div>
               </div>
               <button type="submit" class="btn btn-outline-primary">Login</button>
             </form>
        </div>
        <div class="modal-footer">
            <h5>Do you need to Register instead?</h5>
           <button data-toggle="modal" data-target="#exampleModal2" type="button" class="btn btn-sm btn-outline-secondary">Sign Up</button>
        </div>
    </div>
    </div>
</div>
 <!-- Modal -->
 <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'student_registration' lesson_id=lesson_id worksheet_id=worksheet_id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                {% endfor %}

                <p>{{ field.label_tag }}<br>
                {{ field }}</p>
                    <hr>
                    
                  
                {% endfor %}
                
                <button type="submit" class="btn btn-outline-primary">Sign Up</button>
              </form>
            </div>
    </div>
    </div>
</div>
<script>
    function revealPassword() {
       var x = document.getElementById("password");
       if (x.type === "password") {
           x.type = "text";
       } else {
           x.type = "password";
       }
       }
</script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 
 <script type="text/javascript">
     $('.mcselect').click(function(){
     var elm = $(this);
     var id = elm.data('id');
     var questionid;
     questionid = $(this).attr("data-questionid");
     var question;
     question = $(this).attr("data-question");
     var answer;
     answer = $(this).attr("data-answer");
     $.ajax(
     {
         type:"GET",
         url: "/mc-student-select/{{ user_profile.id }}/{{ lesson_id }}/{{worksheet_id }}/",
         data:{
 
             question : question,
             answer: answer,
             question_id: questionid
 
         },
         success: function(response) {
         $('#all-answers').empty();
         $("#all-answers").append("<h5> Your Answer: " + response.data + "</h5>");
     }
 
 })
 });
 
 </script> 


<script type="text/javascript">
    var frm = $('#FIB-FORM');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
        success: function(response) {
         $('#fib-answer').empty();
         $("#fib-answer").append("<h5> Your Answer: " + response.data + "</h5>");
     }
 
 })
 });
</script>
<script type="text/javascript">
    var frm = $('#SA-FORM');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
        success: function(response) {
         $('#sa-answer').empty();
         $("#sa-answer").append("<h5> Your Answer: " + response.data + "</h5>");
     }
 
 })
 });
</script>
  <script src="{% static 'base/js/tinymce/tinymce.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'base/js/tinymce/custom.js' %}" ></script>
   <!-- Core -->
   <script src="{% static 'vendor/dashboard/jquery/dist/jquery.min.js' %}"></script>
   <script src="{% static 'vendor/dashboard/popper.js/dist/umd/popper.min.js' %}"></script>
   <script src="{% static 'vendor/dashboard/bootstrap/dist/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'vendor/dashboard/headroom.js/dist/headroom.min.js' %}"></script>
   
   <!-- Vendor JS -->
   <script src="{% static 'vendor/dashboard/countup.js/dist/countUp.min.js' %}"></script>
   <script src="{% static 'vendor/dashboard/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
   <script src="{% static 'vendor/dashboard/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
   <script src="{% static 'vendor/dashboard/prismjs/prism.js' %}"></script>
   
   <!-- Chartist -->
   <script src="{% static 'vendor/dashboard/chartist/dist/chartist.min.js' %}"></script>
   <script src="{% static 'vendor/dashboard/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
   
   <!-- Vector Maps -->
   <script src="{% static 'vendor/dashboard/jqvmap/dist/jquery.vmap.min.js' %}"></script>
   <script src="{% static 'vendor/dashboard/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
   
   <!-- Rocket JS -->
   <script src="{% static 'js/dashboard/rocket.js' %}"></script>
       <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="{% static 'forms_ajaxified/js/forms_ajaxified.js' %}"></script>
 
 </body>
 </html>
