
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
            
<main class="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar">
            <button class="btn btn-primary btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-plus mr-2"></span>New Task
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-tasks mr-2"></span>New Task</a>
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-cloud-upload-alt mr-2"></span>Upload Files</a>
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-user-shield mr-2"></span>Preview Security</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-danger mr-2"></span>Upgrade to Pro</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-6 mb-4">
            <div class="card border-light shadow-sm">
               
                <div class="card-body p-2">
                    <div id="container-2"></div>
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script>
                        Highcharts.chart('container-2', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Performance by Week'
                            },
                            colors: ['#ED561B', '#50B432', '#058DC7'],
                            xAxis: {
                                categories: {{ week_breakdown.weeks|safe }},
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                text: 'Student Count'
                                }
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            plotOptions: {
                                column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                                }
                            },
                            series: [{
                                name: 'Low',
                                data: {{ week_breakdown.low|safe }}

                            }, {
                                name: 'Mid',
                                data: {{ week_breakdown.mid|safe }}

                            }, {
                                name: 'High',
                                data: {{ week_breakdown.high|safe }}

                            }]
                            });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6 mb-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                             <div class="row d-block d-md-flex align-items-center">

                                    <div class="col-12">
                                        {% for item in top_lessons %}
                                        <div class="row d-flex align-items-center mb-1">
                                            <div class="col-4 text-gray font-weight-bold px-0 small">
                                                {{ item.title }}
                                            </div>
                                            <div class="col-8 px-0">
                                                <div class="progress progress-lg rounded mb-0">
                                                    <div class="progress-bar bg-success rounded" role="progressbar" aria-valuenow="{{ item.avg }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.avg }}%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                      
                                      {% endfor %%}
                                    </div>

                             </div>
                        </div>
                     </div>
                </div>
                <div class="col-12 col-sm-6 mb-4 mb-md-0">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <h2 class="h5">Top Students:</h2>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">Student One - 80% <i class="fas fa-pull-right fa-thumbs-up"></i></li>
     
                            </ul>
                        </div>
                     </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <h2 class="h5">Most Improved:</h2>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">Student One - 80% <i class="fas fa-pull-right fa-thumbs-up"></i></li>
     
                            </ul>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-light">
                                <tr>
                                    <th class="border-0">Student</th>
                                    <th class="border-0">Stickers</th>
                                    <th class="border-0">Avg</th>
                                    <th class="border-0">Trend</th>
                                    <th class="border-0">Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in student_results %}
                                    {% ifchanged student.student_id %}
                                    <!-- Item -->
                                    <tr>
                                        <td class="border-0 font-weight-bold">{{ student.student_name }}</td>
                                        <td class="border-0">   
                                            <a href="#" class="d-flex align-items-center">      
                                            {% for item in student.student_praise %}                                       
                                                {% for theme in all_themes %}
                                                {% if theme.id == item.theme_id %}
                                                <img class="mr-2 image rounded-circle" alt="Image placeholder" src="{{ theme.user_image.url }}">
                                                <div><span class="h6">{{ item.c }}</span></div>
                                                {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </a>
                                        </td>
                                        <td class="border-0 font-weight-bold">
                                            {{ student.student_avg }}%
                                        </td>
                                        
                                    
                                            {% if student.student_trend > 0 %}
                                            <td class="border-0 text-success">
                                                <span class="fas fa-angle-up"></span>                                   
                                                <span class="font-weight-bold">{{ student.student_trend}}</span>
                                                </td>
                                            {% elif student.student_trend < 0 %}
                                            <td class="border-0 text-danger">
                                            <span class="fas fa-angle-down"></span>                                   
                                            <span class="font-weight-bold">{{ student.student_trend }}</span>
                                            </td>
                                            {% else %}
                                            <td class="border-0 text-primary">
                                                                                
                                                <span class="font-weight-bold">{{ student.student_trend }}</span>
                                                </td>
                                            {% endif %}
                                    
                                    
                                        <td class="border-0">
                                            {{ student.as_complete }}/{{student.as_total}}
                                        </td>

                                    </tr>
                                    <!-- End of Item -->
                                    {% endifchanged %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}