{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<main class="content">

 
   
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fa fa-bars"></i> List</a>
            <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fa fa-th-large"></i> Grid</a>

        </div>
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
    <div class="row">
       
        <div class="col-lg-9">
            {% for item in generated_questions %}
            <li>{{ forloop.counter }}. {{ item.0 }} | <span style="color:blue">{{ item.1 }}</span></li>
            {% endfor %}
            <hr>

        </div>
        <div class="col-lg-3">
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Objectives:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <li>{{ lesson_match.teacher_objective }}</li>
                            
                            </div>
                           
                        </div>
                     
                    </div>
                </div>
            </div>
         
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Standards:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      
                        {% for standard in lesson_standards %}
                        <li>{{ standard }}</li>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Key Terms:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    <div class="tagcloud">
                        {% for item in topic_list %}
                        <a href="#" class="btn btn-sm btn-outline-secondary">{{ item.item }}</a>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Main Questions:</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                {% for item in questions_selected %}
                            <tr>
                                <th scope="col">{{ forloop.counter }}. {{ item.question|title }}</th>
                               
                                
                            </tr>
                            {% endfor %}
                            </thead>
                      
                        </table>
                    </div>
              
                </div>
                </div>
            </div>
          
        </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Lesson</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

    <footer class="footer section py-5">
<div class="container-fluid">
<div class="row">
<div class="col-12 col-lg-6 mb-4 mb-lg-0">
<p class="mb-0 text-center text-xl-left">Copyright © 2019-<span class="current-year"></span> <a class="text-primary font-weight-normal" href="https://www.classplanit.co">ClassPlanit</a></p>
</div>

 
</div>
</div>
</footer>
</main>

{% endblock %}