{% extends 'dashboard/base.html' %}
{% block content %}

<main class="content">
   
<div class="container-fluid" >
    <div class="row p-t-b-10 ">
        <div class="col">
            <h4>
                <h5>Password Reset:</h5>
           </h4>
        </div>
    </div>

   
<h5>Username: {{ user_profile.username }}</h5>
<h6>Enter Your New Password.</h6>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Change Password</button>
  </form>

 <br>
</div>
<p><small>ref:10001</small></p>
</main>
  {% endblock %} 