{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Class Planit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Class Planit - More engaging lessons, in less time">
    <meta name="author" content="Class Planit">
    <meta name="description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better individualized lessons in minutes.">
    <meta name="keywords" content="lesson plans, teacher pay teachers, worksheets" />
    <link rel="canonical" href="www.classplanit.co">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.classplanit.co">
    <meta property="og:title" content="Class Planit - More engaging lessons, in less time">
    <meta property="og:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better individualized lessons in minutes.">
    <meta property="og:image" content="www.classplanit.co">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="www.classplanit.co">
    <meta property="twitter:title" content="Class Planit - More engaging lessons, in less time">
    <meta property="twitter:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better individualized lessons in minutes.">
    <meta property="twitter:image" content="{% static 'images/dashboard/twitter_image.png' %}">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/dashboard/icon_120.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mages/icon_40.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/dashboard/icon_40.png' %}">
    <!-- Stylesheets -->
    <link href="{% static 'css/homepage/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/homepage/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" href="{% static 'vendor/dashboard/fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
        
    <link href="{% static 'css/homepage/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    
    </style>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5Q1SQHYG0R"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-5Q1SQHYG0R');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-188513321-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-188513321-1');
    </script>
    </head>
    

<body>
  <div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
    	
        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="{% url 'homepage' %}"><img src="{% static 'images/homepage/cp_rounded (6).png' %}" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                        
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse scroll-nav clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current"><a href="{% url 'homepage' %}">Back to Home</a>
                                    </li>
                                                                 
                                 </ul>
                            </div>
                            
                        </nav>
                        <!-- Main Menu End-->
                        
                  
                        
                    </div>
                    <!--Nav Outer End-->
                    
            	</div>    
            </div>
        </div>
    
    </header>


    <section>
      <div class="container">
        <h2 style="text-align: center; padding-bottom:4rem;">Meet the Team</h2>
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false"
              data-items="4" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1"
              data-margin="30">
              <div class="items">
                <div class="iq-team">
                  <div class="iq-team-img">
                    <img src="{% static 'img/team_img_7.png' %}" class="img-fluid center-block" alt="#0">
                    <div class="iq-team-info text-center">
                      <h5>Audrey</h5>
                      <span class="team-post iq-tw-5">Founder</span>
                    </div>
                    <div class="share">
                      <ul>
                        <li><a href="https://twitter.com/audreyakwenye"><i class="fa fa-twitter"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="items">
                <div class="iq-team">
                  <div class="iq-team-img">
                    <img src="{% static 'img/team_img_10.png' %}" class="img-fluid center-block" alt="#0">
                    <div class="iq-team-info text-center">
                      <h5>Counney Kemp</h5>
                      <span class="team-post iq-tw-5">Sales & Marketing Manager</span>
                      <span>Counney has been in administration for over 7 years with exceptional experience in
                        communication.</span>
                    </div>
                    <div class="share">
                      <ul>
                        <li><a href="https://www.linkedin.com/in/counney-kemp-1a3b1a9b/"><i
                              class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="items">
                <div class="iq-team">
                  <div class="iq-team-img">
                    <img src="{% static 'img/team_img_4.png' %}" class="img-fluid center-block" alt="#0">
                    <div class="iq-team-info text-center">
                      <h5>Anna Shimuni</h5>
                      <span class="team-post iq-tw-5">UX Designer</span>
                      <span>Anna creates the best user experience, by exploring many different approaches to solve
                        end-user problems.</span>
                    </div>
                    <div class="share">
                      <ul>
                        <li><a href="www.linkedin.com/in/anna-shimuni-970b871b1"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/annarich.shimuni.3"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/AnnaShimuni"><i class="fa fa-twitter"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="items">
                <div class="iq-team">
                  <div class="iq-team-img">
                    <img src="{% static 'img/team_img_1.png' %}" class="img-fluid center-block" alt="#0">
                    <div class="iq-team-info text-center">
                      <h5>Diana Zilberstein</h5>
                      <span class="team-post iq-tw-5" style="font-size: .75rem;">Head of Curriculum
                        Implementation</span>
                      <span style="line-height: 1.5rem;">Diana has many years working overseeing Curriculum
                        Implementation
                        for private schools in
                        Southern Africa. She works to
                        ensure educators using Schoolio have access to academic resources and training materials.</span>
                    </div>
                    <div class="share">
                      <ul>
                        <li><a href="https://www.linkedin.com/in/diana-zilberstein-304027150/"><i
                              class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/zilberdiana/"><i class="fa fa-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="items">
                <div class="iq-team">
                  <div class="iq-team-img">
                    <img src="{% static 'img/team_img_8.png' %}" class="img-fluid center-block" alt="#0">
                    <div class="iq-team-info text-center">
                      <h5>Bella Francisco</h5>
                      <span class="team-post iq-tw-5">Accounts Executive</span>
                      <span>Bella manages day to day affairs and ensures customer satisfaction.</span>
                    </div>
                    <div class="share">
                      <ul>
                        <li><a href="https://www.linkedin.com/in/judite-louis-9bab871b1/"><i
                              class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/bella.francisco.77"><i class="fa fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-12">
            <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false"
              data-items="4" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1"
              data-margin="30">
              <div class="items">
                <div class="iq-team">
                  <div class="iq-team-img">
                    <img src="{% static 'img/team_img_3.png' %}" class="img-fluid center-block" alt="#0">
                    <div class="iq-team-info text-center">
                      <h5>Tatyana Katjirua</h5>
                      <span class="team-post iq-tw-5">Accounts Executive</span>
                      <span>Tatyana ensures that the needs and expectations of clients are met.</span>
                    </div>
                    <div class="share">
                      <ul>
                        <li><a href="https://www.linkedin.com/in/tatyana-katjirua-72a6881ba/"><i
                              class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/vii_09/"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="items">
                <div class="iq-team">
                  <div class="iq-team-img">
                    <img src="{% static 'img/team_img_2.png' %}" class="img-fluid center-block" alt="#0">
                    <div class="iq-team-info text-center">
                      <h5>Elzanh Gaes</h5>
                      <span class="team-post iq-tw-5">Head of Content</span>
                      <span>Creates an editorial mission, vision and voice for Schoolio. Oversees the content strategy,
                        production, and
                        distribution.</span>
                    </div>
                    <div class="share">
                      <ul>
                        <li><a href="https://www.linkedin.com/in/elzahn-gaes-0985751b1/"><i
                              class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/gg_elzahn?s=20"><i class="fa fa-twitter"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="items">
                <div class="iq-team">
                  <div class="iq-team-img">
                    <img src="{% static 'img/team_img_6.png' %}" class="img-fluid center-block" alt="#0">
                    <div class="iq-team-info text-center">
                      <h5>Lettisia</h5>
                      <span class="team-post iq-tw-5">Accounts Manager</span>
                      <span>Oversees clients and builds structures.</span>
                    </div>
                    <div class="share">
                      <ul>
                        <!-- <li><a href="https://www.linkedin.com/in/elzahn-gaes-0985751b1/"><i
                              class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/gg_elzahn?s=20"><i class="fa fa-twitter"></i></a></li> -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="items">
                <div class="iq-team">
                  <div class="iq-team-img">
                    <img src="{% static 'img/team_img_5.png' %}" class="img-fluid center-block" alt="#0">
                    <div class="iq-team-info text-center">
                      <h5>Tsubasa Morita</h5>
                      <span class="team-post iq-tw-5">Full Stack Engineer Intern</span>
                      <span>Tsubasa maintains the displays and site that the administrators, teachers, parents, and
                        students use.</span>
                    </div>
                    <div class="share">
                      <ul>
                        <li><a href="https://www.linkedin.com/in/tsubasamorita3/"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://github.com/tsmorita3"><i class="fa fa-github"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="items">
                <div class="iq-team">
                  <div class="iq-team-img">
                    <img src="{% static 'img/team_img_9.png' %}" class="img-fluid center-block" alt="#0">
                    <div class="iq-team-info text-center">
                      <h5>Alondra Albarran</h5>
                      <span class="team-post iq-tw-5">Digital Marketing Intern</span>
                      <span>Creates an editorial mission, vision and voice for Schoolio. Oversees the content strategy,
                        production, and
                        distribution.</span>
                    </div>
                    <div class="share">
                      <ul>
                        <li><a href="https://www.linkedin.com/in/alondraalbarran/"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/alondra.albarran.395/"><i class="fa fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
	

<!--Footer Style One-->
<footer class="footer-style-one">
    <!--Footer Upper-->
    <div class="footer-upper">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Big Column-->
                <div class="big-column col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-column">
                        <div class="footer-widget about-widget">
                            <div class="widget-inner">
                                <div class="logo"><img src="{% static 'images/homepage/cp_rounded (6).png' %}" alt=""></div>
                                <div class="copyright">&copy; 2020 All Rights Reserved</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Big Column-->
                <div class="big-column col-lg-9 col-md-12 col-sm-12 col-xs-12">    
                    <div class="row clearfix">
                      <!--Footer Column-->
                        <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <div class="widget-inner">
                                    <h3>Company</h3>
                                    <div class="links">
                                        <ul>
                                            <li><a href="#">About us</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    
                        <!--Footer Column-->
                        <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget follow-widget">
                                <div class="widget-inner">
                                  <h3>Follow</h3>
                                    <div class="social-links">
                                        <ul class="clearfix">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</footer>



<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>


<script src="{% static 'js/homepage/jquery.js' %}"></script> 
<script src="{% static 'js/homepage/bootstrap.min.js' %}"></script>
<script src="{% static 'js/homepage/pagenav.js' %}"></script>
<script src="{% static 'js/homepage/jquery.scrollTo.js' %}"></script>
<script src="{% static 'js/homepage/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/homepage/owl.js' %}"></script>
<script src="{% static 'js/homepage/wow.js' %}"></script>
<script src="{% static 'js/homepage/validate.js' %}"></script>
<script src="{% static 'js/homepage/script.js' %}"></script>



</body>

</html>