{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Class Planit</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="title" content="Class Planit - More engaging lessons, in less time">
        <meta name="author" content="Class Planit">
        <meta name="description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better individualized lessons in minutes.">
        <meta name="keywords" content="lesson plans, teacher pay teachers, worksheets" />
        <link rel="canonical" href="www.classplanit.co">
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="www.classplanit.co">
        <meta property="og:title" content="Class Planit - More engaging lessons, in less time">
        <meta property="og:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better individualized lessons in minutes.">
        <meta property="og:image" content="www.classplanit.co">
        
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="www.classplanit.co">
        <meta property="twitter:title" content="Class Planit - More engaging lessons, in less time">
        <meta property="twitter:description" content="Plan More Engaging Lessons - Generate Resources from Your Lessons - Start creating better individualized lessons in minutes.">
        <meta property="twitter:image" content="{% static 'images/dashboard/twitter_image.png' %}">
        
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/dashboard/icon_120.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mages/icon_40.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/dashboard/icon_40.png' %}">
        <!-- Stylesheets -->
        <link href="{% static 'css/homepage/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/homepage/style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="icon" href="images/favicon.png" type="image/x-icon">
        <!-- Responsive -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link type="text/css" href="{% static 'vendor/dashboard/fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
            
        <link href="{% static 'css/homepage/responsive.css' %}" rel="stylesheet">
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
        <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
        
        </style>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5Q1SQHYG0R"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-5Q1SQHYG0R');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-188513321-1">
        </script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-188513321-1');
        </script>
        </head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
    	
        <!-- Main Box -->
    	<div class="main-box">
              <!--Page Title-->
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="{% url 'homepage' %}"><img src="{% static 'images/homepage/class_planit.png' %}" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                        
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse scroll-nav clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'homepage' %}">Back to Home</a>
                                    </li>
                                                                 
                                 </ul>
                            </div>
                            
                        </nav>
                        <!-- Main Menu End-->
                        
                  
                        
                    </div>
                    <!--Nav Outer End-->
                    
            	</div>    
            </div>
        </div>
    
    </header>
    <!--End Main Header -->
  
    <!--Main Banner / Banner One-->
    <section class="main-banner banner-one" id="banner" >

    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Text Column-->
                <div class="text-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner">
                    	
                        <h2>Enter an Objective and Align to Standards</h2>
                        <p>Simply type your learning objective and get a list of aligned standards as well as key topics.</p>
                        
                    </div>
                </div>
                
                <!--Image Column-->
                <div class="text-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner">
                    	
                        <figure class="image"><img src="{% static 'images/homepage/product/1.png' %}" alt=""></figure>
                    </div>
                </div>

                
            </div>
        </div>
        <hr>
        <div class="auto-container">
        	<div class="row clearfix">
                   
            	<!--Text Column-->
                <div class="text-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner">
                    	
                        <h2>Select from Recommended Activities</h2>
                        <p>Based on your key topics, receive a personalized list of activities that match to your classrooms learning styles and level of understanding.</p>
                    </div>
                </div>
                  <!--Image Column-->
                  <div class="text-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner">
                        <figure class="image"><img src="{% static 'images/homepage/product/2.png' %}" alt=""></figure>
                    </div>
                </div>
           
                
            </div>
        </div>
        <hr>
        <div class="auto-container">
        	<div class="row clearfix">
            	<!--Text Column-->
                <div class="text-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner">
                    	
                        <h2>Data Driven Analytics</h2>
                        <p>Gain insight on how your planning aligns to your state standards as well as differentiation and engagement goals.</p>

                    </div>
                </div>
                
                <!--Image Column-->
                <div class="text-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner">
                    	<figure class="image"><img src="{% static 'images/homepage/product/3.png' %}" alt=""></figure>
                    </div>
                </div>
                
            </div>
        </div>
        <hr>
        <div class="auto-container">
        	<div class="row clearfix">
                  
            	<!--Text Column-->
                <div class="text-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner">
                    	
                        <h2>Track Student Improvement</h2>
                        <p>Assign generated digital worksheets related to your lesson planning to gauge your planning effectiveness.</p>

                    </div>
                </div>
                   <!--Image Column-->
                   <div class="text-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner">
                        <figure class="image"><img src="{% static 'images/homepage/product/4.png' %}" alt=""></figure>
                    </div>
                </div>
           
                
            </div>
        </div>
        <hr>
    </section>
  	<!--End Main Banner-->

	
	
</div><!-- container -->
    <!--Footer Style One-->
    <footer class="footer-style-one">
        <!--Footer Upper-->
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Big Column-->
                    <div class="big-column col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-column">
                            <div class="footer-widget about-widget">
                                <div class="widget-inner">
                                    <div class="logo"><img src="{% static 'images/homepage/class_planit.png' %}" alt=""></div>
                                    <div class="copyright">&copy; 2020 All Rights Reserved</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Big Column-->
                    <div class="big-column col-lg-9 col-md-12 col-sm-12 col-xs-12">    
                        <div class="row clearfix">
                        	<!--Footer Column-->
                            <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <div class="widget-inner">
                                        <h3>Company</h3>
                                        <div class="links">
                                            <ul>
                                                <li><a href="{% url 'about_us' %}">About us</a></li>
  
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="footer-widget follow-widget">
                                    <div class="widget-inner">
                                    	<h3>Follow</h3>
                                        <div class="social-links">
                                            <ul class="clearfix">
                                                <li><a href="https://www.facebook.com/classplanit/"><span class="fab fa-facebook-f"></span></a></li>
                                                <li><a href="https://twitter.com/classplanit"><span class="fab fa-twitter"></span></a></li>
                                                <li><a href="https://www.instagram.com/classplanit"><span class="fab fa-instagram"></span></a></li>
                                                <li><a href="https://www.linkedin.com/company/class-planit/"><span class="fab fa-linkedin-in"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>


<script src="{% static 'js/homepage/jquery.js' %}"></script> 
<script src="{% static 'js/homepage/bootstrap.min.js' %}"></script>
<script src="{% static 'js/homepage/pagenav.js' %}"></script>
<script src="{% static 'js/homepage/jquery.scrollTo.js' %}"></script>
<script src="{% static 'js/homepage/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/homepage/owl.js' %}"></script>
<script src="{% static 'js/homepage/wow.js' %}"></script>
<script src="{% static 'js/homepage/validate.js' %}"></script>
<script src="{% static 'js/homepage/script.js' %}"></script>


</body>
</html>