{% extends 'base.html' %}

{% load static %}
{% block content %}


		<div class="top-wrapper top-wrapper__bg1" id="top">

			<!-- Header -->
			<header class="header header__fixed">
				<!-- Top Bar -->
				<div id="header-top-bar" class="h-top-bar h-top-bar__layout1 h-top-bar__color1 h-top-bar__border-between-items h-top-bar__border-between-items__dashed">
					<div class="container">
						<div class="h-top-bar_item h-top-bar_item__phone"> +1-512-822-6290</div>
						<div class="h-top-bar_item h-top-bar_item__email">
							<a href="mailto:sales@dan-fisher.com">planning@classplanit.co</a>
						</div>
						<div class="h-top-bar_item h-top-bar_item__login">
							<a href="#" title="Login" class="h-top-bar_link h-top-bar_link__sign-in">Login</a>
							<span class="h-top-bar_item__login-txt">or</span>
							<a href="#" title="Register" class="h-top-bar_link h-top-bar_link__sign-up"> Register </a>
						</div>
					</div>
				</div>
				<!-- Top Bar / End -->
				<div class="header-main">
					<div class="container">

						<!-- Navigation -->
						<nav class="navbar navbar-default fhmm" role="navigation">

							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<i class="fa fa-bars"></i>
								</button>
								<!-- Logo -->
								<div class="logo scroll-local">
									<a href="#top"><img src="{% static 'images/planit_logo.png' %}" alt="Rocket"></a> 
									<!-- <h1><a href="index.html">Rocket</a></h1> -->
								</div>
								<!-- Logo / End -->
							</div><!-- end navbar-header -->

							<div id="main-nav" class="navbar-collapse collapse">
								<ul class="nav navbar-nav scroll-local">
									<li><a href="#top">Home</a></li>
									<li><a href="#section-about">About</a></li>
									
									<li><a href="#section-blog">Blog</a></li>
									<li><a href="#section-contacts">Contact</a></li>
								
								</ul><!-- end nav navbar-nav -->
							</div><!-- end #main-nav -->

						</nav><!-- end navbar navbar-default fhmm -->
						<!-- Navigation / End -->
					</div>
				</div>
				
			</header>
			<!-- Header / End -->


			<!-- Slider
			================================================== -->
			<div class="tp-banner-holder container">
				<div class="tp-banner-container">
					<div class="tp-banner">
						<ul>
							<!-- SLIDE #1  -->
							<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-delay="6000" >

								<!-- MAIN IMAGE -->
								<img src="{% static 'images/transparent.png' %}" height="10" width="10" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

								<!-- LAYERS -->
						
								<!-- LAYER NR. 1 -->
								<div class="tp-caption rocket_large_white customin ltl tp-resizeme"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="-197"
									data-customin="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="500"
									data-start="500"
									data-easing="Power4.easeIn"
									data-splitin="chars"
                  data-splitout="none"
									data-elementdelay="0.1"
                  data-endelementdelay="0.1"
									data-endspeed="1000"
									style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Less Time Planning 
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption rocket_medium_white text-center customin ltl tp-resizeme"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="-80"
									data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="800"
									data-start="1800"
									data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
									data-elementdelay="0.01"
                  data-endelementdelay="0.1"
									data-endspeed="1000"
									data-endeasing="Power4.easeIn"
									style="z-index: 10; max-width: 770px; max-height: auto; white-space: nowrap;">More Time Engaging Students 
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
									data-x="center" data-hoffset="-130"
									data-y="center" data-voffset="39"
									data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="800"
									data-start="2000"
									data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
									data-elementdelay="0.01"
                  data-endelementdelay="0.1"
									data-endspeed="1300"
									data-endeasing="Power4.easeIn"
									style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
									<a href="#" class="btn btn-primary"> Learn More</a>
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
									data-x="center" data-hoffset="130"
									data-y="center" data-voffset="39"
									data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="800"
									data-start="2100"
									data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
									data-elementdelay="0.01"
                  data-endelementdelay="0.1"
									data-endspeed="1300"
									data-endeasing="Power4.easeIn"
									style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
									<a href="#" class="btn btn-primary">Sign Up</a>
								</div>
						
							</li>


							<!-- SLIDE #2  -->
							<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-delay="6000" >

								<!-- MAIN IMAGE -->
								<img src="{% static 'images/transparent.png' %}" height="10" width="10" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

								<!-- LAYERS -->
						
								<!-- LAYER NR. 1 -->
								<div class="tp-caption rocket_large_white customin ltl tp-resizeme"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="-197"
									data-customin="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="500"
									data-start="500"
									data-easing="Power4.easeIn"
									data-splitin="chars"
                  data-splitout="none"
									data-elementdelay="0.1"
                  data-endelementdelay="0.1"
									data-endspeed="1000"
									style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Data-Driven
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption rocket_medium_white text-center customin ltl tp-resizeme"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="-80"
									data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="800"
									data-start="1800"
									data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
									data-elementdelay="0.01"
                  data-endelementdelay="0.1"
									data-endspeed="1000"
									data-endeasing="Power4.easeIn"
									style="z-index: 10; max-width: 770px; max-height: auto; white-space: nowrap;">Planning Based on Your Students
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
									data-x="center" data-hoffset="-130"
									data-y="center" data-voffset="39"
									data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="800"
									data-start="2000"
									data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
									data-elementdelay="0.01"
                  data-endelementdelay="0.1"
									data-endspeed="1300"
									data-endeasing="Power4.easeIn"
									style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
									<a href="#" class="btn btn-primary btn-has-icon"><i class="fa fa-trophy"></i> View about us</a>
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
									data-x="center" data-hoffset="130"
									data-y="center" data-voffset="39"
									data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="800"
									data-start="2100"
									data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
									data-elementdelay="0.01"
                  data-endelementdelay="0.1"
									data-endspeed="1300"
									data-endeasing="Power4.easeIn"
									style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
									<a href="#" class="btn btn-primary btn-has-icon icon-right"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
								</div>
						
							</li>


							<!-- SLIDE #1  -->
							<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-delay="6000" >

								<!-- MAIN IMAGE -->
								<img src="{% static 'images/transparent.png' %}" height="10" width="10" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

								<!-- LAYERS -->
						
								<!-- LAYER NR. 1 -->
								<div class="tp-caption rocket_large_white customin ltl tp-resizeme"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="-197"
									data-customin="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="500"
									data-start="500"
									data-easing="Power4.easeIn"
									data-splitin="chars"
                  data-splitout="none"
									data-elementdelay="0.1"
                  data-endelementdelay="0.1"
									data-endspeed="1000"
									style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Diffrentiated Planning 
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption rocket_medium_white text-center customin ltl tp-resizeme"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="-80"
									data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="800"
									data-start="1800"
									data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
									data-elementdelay="0.01"
                  data-endelementdelay="0.1"
									data-endspeed="1000"
									data-endeasing="Power4.easeIn"
									style="z-index: 10; max-width: 770px; max-height: auto; white-space: nowrap;">No More One Lesson First All 
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
									data-x="center" data-hoffset="-130"
									data-y="center" data-voffset="39"
									data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="800"
									data-start="2000"
									data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
									data-elementdelay="0.01"
                  data-endelementdelay="0.1"
									data-endspeed="1300"
									data-endeasing="Power4.easeIn"
									style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
									<a href="#" class="btn btn-primary btn-has-icon"><i class="fa fa-trophy"></i> View about us</a>
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
									data-x="center" data-hoffset="130"
									data-y="center" data-voffset="39"
									data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="800"
									data-start="2100"
									data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
									data-elementdelay="0.01"
                  data-endelementdelay="0.1"
									data-endspeed="1300"
									data-endeasing="Power4.easeIn"
									style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
									<a href="#" class="btn btn-primary btn-has-icon icon-right"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
								</div>
						
							</li>

						</ul>
					</div>
				</div>
			</div>
			<!-- Slider / End -->

		</div>
		
		<!-- Content -->
		<div class="content-wrapper">
			
			<!-- Page Section (About) -->
			<section class="page-section" id="section-about">
				<div class="container">
					
					<div class="section-title-wrapper">
						<div class="section-title-inner">
							<h1 class="section-title section-title__lg"><a href="#">Let's Planit!</a></h1>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-lg-5">
							<!-- Vertical Slider -->
							<div class="owl-carousel owl-theme vertical-slider js_vertical-slider">
								<div class="item">
									<figure class="thumbnail">
										<img src="{% static 'images/samples/content-slider-img1.jpg' %}" alt="">
									</figure>
								</div>
								<div class="item">
									<figure class="thumbnail">
										<img src="{% static 'images/samples/content-slider-img2.jpg' %}" alt="">
									</figure>
								</div>
								<div class="item">
									<figure class="thumbnail">
										<img src="{% static 'images/samples/content-slider-img3.jpg' %}" alt="">
									</figure>
								</div>
								<div class="item">
									<figure class="thumbnail">
										<img src="{% static 'images/samples/content-slider-img1.jpg' %}" alt="">
									</figure>
								</div>
								<div class="item">
									<figure class="thumbnail">
										<img src="{% static 'images/samples/content-slider-img2.jpg' %}" alt="">
									</figure>
								</div>
								<div class="item">
									<figure class="thumbnail">
										<img src="{% static 'images/samples/content-slider-img3.jpg' %}" alt="">
									</figure>
								</div>
							</div>
							<!-- Vertical Slider / End -->
						</div>
						<div class="col-md-6 col-lg-7">
							<div class="pl-20">
								<div class="title-with-icon">
									<h3>What is Data-Driven Instruction?</h3>
								</div>
								<!-- Testimonials Slider -->
								<div class="owl-carousel owl-theme testi-slider js_testi-slider">
									<div class="item">
										<div class="testimonial">
											
											<div class="testimonial-body">
												<h5>Tracking Standards and Objectives</h5>
												<p>Tell us what your weekly objective is and we will match it to teh standards for your classroom even with mixed grade levels. Now you can see what standrds you've addressed, when, and how well your students performed. </p>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial">
										
											<div class="testimonial-body">
												<h5>Tracking Student Performance</h5>
												<p>Class Planit generated digital quizzes and worksheets based on your lesson plans. Easily assign these to your students as homework or manually enter assessment grades in your Class Planit gradebook.</p>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial">
											
											<div class="testimonial-body">
												<h5>Tracking Student Learning Styles</h5>
												<p>Using Ai, Class Planit gives you valuable insights into the levels of Blooms Taxonomy as well as the Learning Styles you address in your planning and the are most engaging to your students.</p>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial">
											
											<div class="testimonial-body">
												<h5>Streamline Data Collection</h5>
												<p>Import/Export Gradebooks or connect to Google Sheets, Class Planit allows you to gather insights in one place.</p>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial">
											
											<div class="testimonial-body">
												<h5>Allow Student and Teacher Reflection</h5>
												<p>With Student Self-Reflection and Teacher notes, Class Planit combines Quantitative and Qualitative Data to gather a full picture of your classroom.</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Testimonials Slider / End -->
								
								<p>Implementing best teaching practices can be time consuming and overwelming. With Class Planit, we collect all the data to empower you to engage your students more effectively. Our Activity Recomendations and AI Generated Worksheets, will save you time and and give you peace of mind knowing the lessons you choose are relavent to you standards and Weekly Objectives.</p>
								
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- Page Section (About) / End -->

	<!-- Page Section (Event) -->
	<section class="page-section page-section__darkest" id="section-event">
		<div class="container">
			
			<div class="section-title-wrapper">
				<div class="section-title-inner">
					<h1 class="section-title">Join Our Waitlist</h1>
					<span class="section-desc">Class Planit is currently invite-only for Teachers in Texas</span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<!-- Countdown -->
					<h5>Sign Up</h5>
					<!-- Countdown / End -->
				</div>
				<div class="col-md-4">
					<p>If you have a 6-digit inivite code, please enter below:</p>

					<hr class="hr__dashed">

					<a href="#" class="btn btn-primary btn-has-icon"><i class="fa fa-hand-o-right"></i> Get Started</a>
				</div>
			</div>

		</div>
	</section>
	<!-- Page Section (Event) / End -->

	

			<!-- Page Section (Features) -->
			<section class="page-section" id="section-features">
				<div class="container">
					
					<!-- Accordion (Features) -->
					<div class="panel-group panel-group__features panel-icon__effect2" id="accordion4" role="tablist" aria-multiselectable="true">
						<!-- Panel #1 -->
						<div class="panel panel-default">
							<!-- Panel Heading -->
							<div class="panel-heading" role="tab" id="heading4-1">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion4" href="#collapse4-1" aria-expanded="false" aria-controls="collapse4-1">
										<div class="row">
											<div class="col-md-2 col-sm-1 col-xs-1 panel-title__number"> </div>
											<div class="col-md-3 col-sm-8 col-xs-9 panel-title__heading">
												<div class="v-center">
													<div class="v-center-inner">
														<div class="hgroup-panel">
															<h3>Create</h3>
															<h6>personalized lesson plans instantly</h6>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 hidden-xs">
												<i class="circled-icon icon-color2 fa fa-magic"></i>
											</div>
											<div class="col-md-3 col-xs-12 panel-title__desc">
												<div class="v-center">
													<div class="v-center-inner">
														Simply answer a few questions and we'll generate a ready-to-use plan tailored to your needs
													</div>
												</div>
											</div>
											<div class="col-md-2 panel-title__close">
												<span class="panel-icon"></span>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- Panel Heading / End -->
							<!-- Panel Content -->
							<div id="collapse4-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-1">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<p>Create</p>
											<!-- Need Wording 
											<ul>
												<li>Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam.</li>
												<li>Phasellus tempus. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien</li>
												<li>Vivamus consectetuer hendrerit lacus. Cras non dolor</li>
											</ul>
											<p class="text-center">Phasellus magna. In hac habitasse dictumst. Curabitur at lacus ac velit ornare lobortis. Curabitur a felis in nunc fringilla tristique. Morbi mattis velit. <a href="#">Phasellus gravida semper nisi</a>. Nullam vel sem. Pellentesque tincidunt et, tincidunt eget, semper nec, quam.</p>
										-->
										</div>
									</div>
								</div>
							</div>
							<!-- Panel Content / End -->
						</div>
						<!-- Panel #1 / End -->

						<!-- Panel #2 -->
						<div class="panel panel-default">
							<!-- Panel Heading -->
							<div class="panel-heading" role="tab" id="heading4-2">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion4" href="#collapse4-2" aria-expanded="false" aria-controls="collapse4-2">
										<div class="row">
											<div class="col-md-2 col-sm-1 col-xs-1 panel-title__number"> </div>
											<div class="col-md-3 col-sm-8 col-xs-9 panel-title__heading">
												<div class="v-center">
													<div class="v-center-inner">
														<div class="hgroup-panel">
															<h3>Measure</h3>
															<h5>student progress and standards addressed</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 hidden-xs">
												<i class="circled-icon icon-color4 fa fa-bar-chart"></i>
											</div>
											<div class="col-md-3 col-xs-12 panel-title__desc">
												<div class="v-center">
													<div class="v-center-inner">
														We'll track how your plans are meeting local education standards and learning styles 
													</div>
												</div>
											</div>
											<div class="col-md-2 panel-title__close">
												<span class="panel-icon"></span>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- Panel Heading / End -->
							<!-- Panel Content -->
							<div id="collapse4-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-2">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<p>Measure</p>
											<!-- Need Content 
											<ul>
												<li>Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam.</li>
												<li>Phasellus tempus. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien</li>
												<li>Vivamus consectetuer hendrerit lacus. Cras non dolor</li>
											</ul>
											<p class="text-center">Phasellus magna. In hac habitasse dictumst. Curabitur at lacus ac velit ornare lobortis. Curabitur a felis in nunc fringilla tristique. Morbi mattis velit. <a href="#">Phasellus gravida semper nisi</a>. Nullam vel sem. Pellentesque tincidunt et, tincidunt eget, semper nec, quam.</p>
											-->
										</div>
									</div>
								</div>
							</div>
							<!-- Panel Content / End -->
						</div>
						<!-- Panel #2 / End -->

						<!-- Panel #3 -->
						<div class="panel panel-default">
							<!-- Panel Heading -->
							<div class="panel-heading" role="tab" id="heading4-3">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion4" href="#collapse4-3" aria-expanded="false" aria-controls="collapse4-3">
										<div class="row">
											<div class="col-md-2 col-sm-1 col-xs-1 panel-title__number"> </div>
											<div class="col-md-3 col-sm-8 col-xs-9 panel-title__heading">
												<div class="v-center">
													<div class="v-center-inner">
														<div class="hgroup-panel">
															<h3>Engage</h3>
															<h5>students by connecting them to your lessons</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 hidden-xs">
												<i class="circled-icon icon-color3 fa fa-group"></i>
											</div>
											<div class="col-md-3 col-xs-12 panel-title__desc">
												<div class="v-center">
													<div class="v-center-inner">
														Easily invite students to complete your lessons and keep track of their progress
													</div>
												</div>
											</div>
											<div class="col-md-2 panel-title__close">
												<span class="panel-icon"></span>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- Panel Heading / End -->
							<!-- Panel Content -->
							<div id="collapse4-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-3">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<p>Engage</p>
											<!-- Need More Content 
											<ul>
												<li>Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam.</li>
												<li>Phasellus tempus. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien</li>
												<li>Vivamus consectetuer hendrerit lacus. Cras non dolor</li>
											</ul>
											<p class="text-center">Phasellus magna. In hac habitasse dictumst. Curabitur at lacus ac velit ornare lobortis. Curabitur a felis in nunc fringilla tristique. Morbi mattis velit. <a href="#">Phasellus gravida semper nisi</a>. Nullam vel sem. Pellentesque tincidunt et, tincidunt eget, semper nec, quam.</p>
											-->
										</div>
									</div>
								</div>
							</div>
							<!-- Panel Content / End -->
						</div>
						<!-- Panel #3 / End -->
						
					</div>
					<!-- Accordion (Features) / End -->

				</div>
			</section>
			<!-- Page Section (Features) / End -->

	

	<!-- Page Section (Pricing) -->
	<section class="page-section page-section__dark" id="section-pricing">
		<div class="container">

			<div class="section-title-wrapper section-title-wrapper__sm">
				<div class="section-title-inner">
					<h1 class="section-title">Pricing Table</h1>
					<span class="section-desc">Example of work process</span>
				</div>
			</div>
		

			<div class="gap-10"></div>

			<div class="row">
				<div class="col-md-4">
					<!-- Plan -->
					<div class="pricing-plan">
						<header class="pricing-plan-header">
							<div class="pricing-plan-info">
								<div class="meta">
									<span class="number">0</span>
									<span class="desc">Free Forever</span>
								</div>
								<span class="currency">$</span>
								<img src="images/samples/pricing-img1.jpg" alt="" class="pricing-image">
								<span class="status" data-toggle="tooltip" data-placement="top" title="Popular Offer"><i class="fa fa-circle-o"></i></span>
							</div>
							<h3 class="pricing-plan-title">One Classroom</h3>
						</header>
						<div class="pricing-plan-body">
							<ul>
								<li>Unlimited Students</li>
								<li> </li>
								<li> </li>
							</ul>
						</div>
						<footer class="pricing-plan-footer">
							<a href="#" class="btn btn-primary btn-block btn-has-icon icon-right">Sign Up <i class="fa fa-arrow-circle-o-right"></i></a>
						</footer>
					</div>
					<!-- Plan / End -->
				</div>
				<div class="col-md-4">
					<!-- Plan -->
					<div class="pricing-plan pricing-plan__featured">
						<header class="pricing-plan-header">
							<div class="pricing-plan-info">
								<div class="meta">
									<span class="number">10</span>
									<span class="desc">Per Month</span>
								</div>
								<span class="currency">$</span>
								
							</div>
							<span class="pricing-plan-label">First Term Free</span>
							<h3 class="pricing-plan-title">Unlimited Classroom</h3>
						</header>
						<div class="pricing-plan-body">
							<ul>
								<li>Private Lesson Plans</li>
								<li>Invite Teacher Collaborators</li>
								<li>Sms/Email Class Communication</li>
							</ul>
						</div>
						<footer class="pricing-plan-footer">
							<a href="#" class="btn btn-primary btn-block btn-has-icon icon-right">Sign Up <i class="fa fa-arrow-circle-o-right"></i></a>
						</footer>
					</div>
					<!-- Plan / End -->
				</div>
				<div class="col-md-4">
					<!-- Plan -->
					<div class="pricing-plan">
						<header class="pricing-plan-header">
							<div class="pricing-plan-info">
								<div class="meta">
									<span class="number">-</span>
									<span class="desc">School-Wide</span>
								</div>
								<span class="currency">$</span>
								
							</div>
							<h3 class="pricing-plan-title">Admin Dashboards</h3>
						</header>
						<div class="pricing-plan-body">
							<ul>
								<li>Manage Multiple Teachers</li>
								<li>Teacher Training Workshops</li>
								<li>Free Client Support</li>
							</ul>
						</div>
						<footer class="pricing-plan-footer">
							<a href="#" class="btn btn-primary btn-block btn-has-icon icon-right">Request Demo <i class="fa fa-arrow-circle-o-right"></i></a>
						</footer>
					</div>
					<!-- Plan / End -->
				</div>
			</div>

		</div>
	</section>
	<!-- Page Section (Pricing) / End -->
	


			<!-- Page Section (Team) -->
			<section class="page-section  page-section__no-top-padding" id="section-team">
				<div class="container">
					
					<div class="section-title-wrapper section-title-wrapper__sm">
						<div class="section-title-inner">
							<h1 class="section-title">Our Team</h1>
							
						</div>
					</div>

					<!-- Team Slider -->
					<div class="owl-holder">
						<div class="owl-carousel owl-theme team-slider js_team-slider">
							<div class="item">
								<!-- Person -->
								<div class="person-info">
									<figure class="person-info-thumb">
										<a href="#" class="thumbnail thumbnail-circle person-info-link">
											<img src="images/samples/person2.png" alt="" class="person-info-img img-responsive img-circle">
											<span class="thumbnail-overlay thumbnail-single-link"><i class="fa fa-plus"></i></span>
										</a>
										<figcaption>
											<h3 class="person-info-title">Therry Josen</h3>
											<h5 class="person-info-desc">Development &amp; Code</h5>
										</figcaption>
									</figure>
									<div class="person-info-content">
										<p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus.</p>
										<a href="#" class="btn btn-default btn-block btn-has-icon"><i class="fa fa-envelope"></i> Send Message</a>
									</div>
									<footer class="person-info-footer">
										<ul class="social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-vk"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</footer>
								</div>
								<!-- Person / End -->
							</div>
							<div class="item">
								<!-- Person -->
								<div class="person-info">
									<figure class="person-info-thumb">
										<a href="#" class="thumbnail thumbnail-circle person-info-link">
											<img src="images/samples/person3.png" alt="" class="person-info-img img-responsive img-circle">
											<span class="thumbnail-overlay thumbnail-single-link"><i class="fa fa-plus"></i></span>
										</a>
										<figcaption>
											<h3 class="person-info-title">Tomily Jakson</h3>
											<h5 class="person-info-desc">Art Director</h5>
										</figcaption>
									</figure>
									<div class="person-info-content">
										<p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus.</p>
										<a href="#" class="btn btn-default btn-block btn-has-icon"><i class="fa fa-envelope"></i> Send Message</a>
									</div>
									<footer class="person-info-footer">
										<ul class="social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-vk"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</footer>
								</div>
								<!-- Person / End -->
							</div>
							<div class="item">
								<!-- Person -->
								<div class="person-info">
									<figure class="person-info-thumb">
										<a href="#" class="thumbnail thumbnail-circle person-info-link">
											<img src="images/samples/person2.png" alt="" class="person-info-img img-responsive img-circle">
											<span class="thumbnail-overlay thumbnail-single-link"><i class="fa fa-plus"></i></span>
										</a>
										<figcaption>
											<h3 class="person-info-title">Therry Josen</h3>
											<h5 class="person-info-desc">Development &amp; Code</h5>
										</figcaption>
									</figure>
									<div class="person-info-content">
										<p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus.</p>
										<a href="#" class="btn btn-default btn-block btn-has-icon"><i class="fa fa-envelope"></i> Send Message</a>
									</div>
									<footer class="person-info-footer">
										<ul class="social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-vk"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</footer>
								</div>
								<!-- Person / End -->
							</div>
							<div class="item">
								<!-- Person -->
								<div class="person-info">
									<figure class="person-info-thumb">
										<a href="#" class="thumbnail thumbnail-circle person-info-link">
											<img src="images/samples/person3.png" alt="" class="person-info-img img-responsive img-circle">
											<span class="thumbnail-overlay thumbnail-single-link"><i class="fa fa-plus"></i></span>
										</a>
										<figcaption>
											<h3 class="person-info-title">Tomily Jakson</h3>
											<h5 class="person-info-desc">Art Director</h5>
										</figcaption>
									</figure>
									<div class="person-info-content">
										<p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus.</p>
										<a href="#" class="btn btn-default btn-block btn-has-icon"><i class="fa fa-envelope"></i> Send Message</a>
									</div>
									<footer class="person-info-footer">
										<ul class="social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-vk"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</footer>
								</div>
								<!-- Person / End -->
							</div>
							<div class="item">
								<!-- Person -->
								<div class="person-info">
									<figure class="person-info-thumb">
										<a href="#" class="thumbnail thumbnail-circle person-info-link">
											<img src="images/samples/person2.png" alt="" class="person-info-img img-responsive img-circle">
											<span class="thumbnail-overlay thumbnail-single-link"><i class="fa fa-plus"></i></span>
										</a>
										<figcaption>
											<h3 class="person-info-title">Therry Josen</h3>
											<h5 class="person-info-desc">Development &amp; Code</h5>
										</figcaption>
									</figure>
									<div class="person-info-content">
										<p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus.</p>
										<a href="#" class="btn btn-default btn-block btn-has-icon"><i class="fa fa-envelope"></i> Send Message</a>
									</div>
									<footer class="person-info-footer">
										<ul class="social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-vk"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</footer>
								</div>
								<!-- Person / End -->
							</div>
							<div class="item">
								<!-- Person -->
								<div class="person-info">
									<figure class="person-info-thumb">
										<a href="#" class="thumbnail thumbnail-circle person-info-link">
											<img src="images/samples/person3.png" alt="" class="person-info-img img-responsive img-circle">
											<span class="thumbnail-overlay thumbnail-single-link"><i class="fa fa-plus"></i></span>
										</a>
										<figcaption>
											<h3 class="person-info-title">Tomily Jakson</h3>
											<h5 class="person-info-desc">Art Director</h5>
										</figcaption>
									</figure>
									<div class="person-info-content">
										<p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus.</p>
										<a href="#" class="btn btn-default btn-block btn-has-icon"><i class="fa fa-envelope"></i> Send Message</a>
									</div>
									<footer class="person-info-footer">
										<ul class="social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-vk"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</footer>
								</div>
								<!-- Person / End -->
							</div>
						</div>
					</div>
					<!-- Team Slider / End -->

				</div>
			</section>
			<!-- Page Section (Team) / End -->





			<!-- Page Section (Blog) -->
			<section class="page-section page-section__darkest" id="section-blog">
				<div class="container">
					
					<div class="section-title-wrapper">
						<div class="section-title-inner">
							<h1 class="section-title">Our Blog</h1>
							
						</div>
					</div>

					<!-- Masonry Feed -->
					<div class="masonry-feed row">
						<div class="masonry-item col-md-4 web-design">
							<!-- Post (Standard Format) -->
							<article class="entry wow fadeInUp" data-wow-duration="1.5s">
								<figure class="entry-thumbnail">
									<a href="#"><img src="images/samples/blog-masonry-img-1.jpg" alt=""></a>
								</figure>
								<ul class="entry-cats">
									<li><a href="#"><span>Development</span></a></li>
									<li><a href="#"><span>Web Design</span></a></li>
									<li><a href="#"><span>HTML/CSS</span></a></li>
									<li><a href="#"><span>Seo and Rating</span></a></li>
								</ul>
								<div class="entry-body">
									<div class="entry-date">
										<span class="entry-day">28</span>
										<span class="entry-month">Nov</span>
									</div>
									<header class="entry-header">
										<div class="title-bordered border__solid">
											<h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </a></h4>
										</div>
									</header>
									<div class="entry-excerpt">
										Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. In ac dui quis mi consectetuer.
									</div>
								</div>
								<footer class="entry-footer">
									<div class="pull-left">
										Posted by <a href="#" class="dotted-link1">Bershadsky</a>
									</div>
									<div class="pull-right">
										<a href="#" class="dotted-link2"><span>Read More</span> <i class="fa fa-chevron-right"></i></a>
									</div>
								</footer>
							</article>
							<!-- Post (Standard Format) / End -->
						</div>
						
						
					</div>
					<!-- Masonry Feed / End -->

					<div class="hr-scroll-to__alt">
						<a href="#">Visit our Blog</a>
					</div>

				</div>
			</section>
			<!-- Page Section (Blog) / End -->


			<!-- Page Section (Contacts) -->
			<section class="page-section page-section__no-bottom-padding" id="section-contacts">
				<div class="container">

					<div class="section-title-wrapper">
						<div class="section-title-inner">
							<h1 class="section-title">Contact Us</h1>
						
						</div>
					</div>
					
					<!-- Contact Form -->
					<form action="php/contact-form.php" id="contact-form" class="contact-form">

						<div class="alert alert-success hidden" id="contact-alert-success">
							<strong>Success!</strong> Thank you for your message. Reply will be in a while!
						</div>
						<div class="alert alert-danger hidden" id="contact-alert-error">
							<strong>Error!</strong> Something went wrong sending your message.
						</div>

						<div class="row">
							<div class="col-md-4">
								<!-- Field: Name -->
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-user"></i></div>
										<input type="text"
										value=""
										data-msg-required="Please enter your name."
										class="form-control"
										name="name" id="name"
										placeholder="Your Name">
									</div>
								</div>
								<!-- Field: Name / End -->
							</div>
							<div class="col-md-4">
								<!-- Field: Email -->
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
										<input type="email" 
										value=""
										data-msg-required="Please enter your email address."
										data-msg-email="Please enter a valid email address."
										class="form-control"
										name="email"
										id="email"
										placeholder="Email Address">
									</div>
								</div>
								<!-- Field: Email / End -->
							</div>
							<div class="col-md-4">
								<!-- Field: Site -->
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-desktop"></i></div>
										<input type="url" 
										class="form-control" 
										name="url"
										id="url"
										placeholder="Your School">
									</div>
								</div>
								<!-- Field: Site / End -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<!-- Field: Textarea / End -->
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-pencil"></i></div>
										<textarea
										data-msg-required="Please enter your message."
										rows="8"
										class="form-control"
										name="message"
										id="message"
										placeholder="Your Message"></textarea>
									</div>
								</div>
								<!-- Field: Textarea / End -->
							</div>
							<div class="col-md-4">
								
								<strong>We will reply as soon as possible. Thank you!</strong>

								<hr class="hr__dashed">

								<button class="btn btn-primary btn-has-icon btn-block" data-loading-text="Loading...">
									<i class="fa fa-envelope"></i> 
									Send Message
								</button>
							</div>
						</div>
					</form>
					<!-- Contact Form / End -->

				</div>
				
			</section>
			<!-- Page Section (Contacts) / End -->
<br>


		</div>
		<!-- Content / End -->



{% endblock %}