{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<html>
 <head>
   <title>Test</title>

 </head>
 <body>
    <img src="{% static 'images/logo.png' %}" alt="Rocket">
   <h1>List of people</h1>
   <table>
     <thead>
       <tr>
         <th>Last Name</th>
         <th>First Name</th>
         <th>Email</th>
       </tr>
     </thead>
     <tbody>
      
         <tr>
           <td>{{ person }}</td>
        
         </tr>
      
     </tbody>
   </table>
<!-- end #main-nav -->

 </body>
</html>