{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 4px solid #f00;
}
</style>
		<div class="top-wrapper top-wrapper__bg1" id="top">
			<!-- Header -->
			<header class="header header__fixed">
				<div class="header-main">
					<div class="container">

						<!-- Navigation -->
						<nav class="navbar navbar-default fhmm" role="navigation">

							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<i class="fa fa-bars"></i>
								</button>
								<!-- Logo -->
								<div class="logo">
									<a href="index.html"><img src="{% static 'images/planit_logo.png' %}" alt="Rocket"></a> 
									<!-- <h1><a href="index.html">Rocket</a></h1> -->
								</div>
								<!-- Logo / End -->
							</div><!-- end navbar-header -->

							<div id="main-nav" class="navbar-collapse collapse">
								<ul class="nav navbar-nav">

									<li><a href="index.html">Home</a></li>

									<!-- Elements (Mega Menu) -->
									<li class="dropdown fhmm-fw">
										<a href="index.html" data-toggle="dropdown" class="dropdown-toggle disabled dropdown-toggle__caret-holder">Features</a>
										<a class="dropdown-toggle dropdown-toggle__caret"><b class="caret"></b></a>

										<ul class="dropdown-menu fullwidth">
											<li class="fhmm-content withoutdesc">
												<div class="row">
													<div class="col-sm-6">
														<h3 class="title">Elements</h3>
														<div class="row">
															<div class="col-sm-6">
																<ul>
																	<li><a href="elements-accordions.html"><i class="fa fa-plus-square"></i> Accordions</a></li>
																	<li><a href="elements-alerts.html"><i class="fa fa-exclamation-triangle"></i> Alerts</a></li>
																	<li><a href="elements-buttons.html"><i class="fa fa-chevron-circle-right"></i> Buttons</a></li>
																	<li><a href="elements-fa-icons.html"><i class="fa fa-star"></i> FontAwesome Icons</a></li>
																	<li><a href="elements-features.html"><i class="fa fa-lightbulb-o"></i> Features</a></li>
																	<li><a href="elements-forms.html"><i class="fa fa-align-justify"></i> Forms</a></li>
																	<li><a href="elements-grid.html"><i class="fa fa-th"></i> Grid</a></li>
																	<li><a href="elements-images.html"><i class="fa fa-picture-o"></i> Images</a></li>
																</ul>
															</div>
															<div class="col-sm-6">
																<ul>
																	<li><a href="elements-pricing.html"><i class="fa fa-th-large"></i> Pricing</a></li>
																	<li><a href="elements-progress.html"><i class="fa fa-tasks"></i> Progress Bars</a></li>
																	<li><a href="elements-sections.html"><i class="fa fa-square-o"></i> Sections</a></li>
																	<li><a href="elements-sliders.html"><i class="fa fa-random"></i> Sliders</a></li>
																	<li><a href="elements-tables.html"><i class="fa fa-table"></i> Tables</a></li>
																	<li><a href="elements-tabs.html"><i class="fa fa-columns"></i> Tabs</a></li>
																	<li><a href="elements-testimonials.html"><i class="fa fa-quote-left"></i> Testimonials</a></li>
																	<li><a href="elements-typography.html"><i class="fa fa-font"></i> Typography</a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<h3 class="title">Pages</h3>
														<ul role="menu">
															<li><a href="404.html">404 Error</a></li>
															<li><a href="coming-soon.html">Coming Soon</a></li>
															<li><a href="under-construction.html">Under Construction</a></li>
														</ul><!-- end drop down menu -->
													</div>
													<div class="col-sm-3">
														<h3 class="title">Text</h3>
														<div class="fhmm-content-inner">
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ante arcu, malesuada et ex vitae, pulvinar dictum eros. Nullam imperdiet sagittis.</p>

															<p>Cras ultricies nisl ac velit vehicula, a euismod magna cursus. Quisque a felis ut felis malesuada dignissim.</p>
														</div>
													</div>
												</div><!-- end row -->
											</li><!-- end grid demo -->
										</ul><!-- end drop down menu -->
									</li>
									<!-- Elements (Mega Menu) / End -->

									<li><a href="gallery-main.html">Our Work</a></li>

									<li class="dropdown active">
										<a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-toggle__caret-holder">Blog</a>
										<a class="dropdown-toggle dropdown-toggle__caret"><b class="caret"></b></a>
										<ul class="dropdown-menu" role="menu">
											<li class="active"><a href="blog-right-sidebar.html">Blog - Right Sidebar</a></li>
											<li><a href="blog-left-sidebar.html">Blog - Left Sidebar</a></li>
											<li><a href="blog-masonry.html">Blog - Masonry</a></li>
											<li><a href="blog-single-full-width.html">Post - Full Width</a></li>
											<li><a href="blog-single-right-sidebar.html">Post - Right Sidebar</a></li>
											<li><a href="blog-single-left-sidebar.html">Post - Left Sidebar</a></li>
										</ul><!-- end drop down menu -->
									</li>

									<!-- Shop (Mega Menu) -->
									<li class="dropdown fhmm-fw">
										<a href="index.html" data-toggle="dropdown" class="dropdown-toggle disabled dropdown-toggle__caret-holder">Shop</a>
										<a class="dropdown-toggle dropdown-toggle__caret"><b class="caret"></b></a>

										<ul class="dropdown-menu fullwidth">
											<li class="fhmm-content withoutdesc">
												<div class="row">
													<div class="col-sm-4">
														<h3 class="title">Pages</h3>
														<ul>
															<li><a href="shop-right-sidebar.html">Shop - Right Sidebar</a></li>
															<li><a href="shop-left-sidebar.html">Shop - Left Sidebar</a></li>
															<li><a href="shop-fullwidth.html">Shop - Full Width</a></li>
															<li><a href="shop-single-product.html">Shop - Product</a></li>
															<li><a href="shop-checkout.html">Shop - Checkout</a></li>
														</ul>
													</div>
													<div class="col-sm-4">
														<h3 class="title">Products</h3>
														<ul>
															<li><a href="shop-single-product.html">Product Name #1</a></li>
															<li><a href="shop-single-product.html">Product Name #2</a></li>
															<li><a href="shop-single-product.html">Product Name #3</a></li>
															<li><a href="shop-single-product.html">Product Name #4</a></li>
															<li><a href="shop-single-product.html">Product Name #5</a></li>
															<li><a href="shop-single-product.html">Product Name #6</a></li>
															<li><a href="shop-single-product.html">Product Name #7</a></li>
														</ul>
													</div>
													<div class="col-sm-4">
														<h3 class="title">Featured</h3>
														<!-- Product -->
														<div class="product-item">
															<figure class="product-thumbnail">
																<img src="images/samples/product-img1-cart.jpg" alt="" class="thumbnail img-responsive">
																<span class="product-btn-group">
																	<a href="images/samples/gallery-l-img2.jpg" title="T-shirt with logo" class="btn btn-primary btn-single-icon product-popup magnific-popup-link"><i class="fa fa-plus"></i></a>
																	<a href="shop-single-product.html" class="btn btn-primary btn-single-icon product-link"><i class="fa fa-link"></i></a>
																</span>
															</figure>
															<div class="product-info">
																<h3 class="product-name">T-shirt with logo</h3>
																<span class="product-brand">Company T-shirts</span>
																<a href="#" class="btn btn-primary btn-has-icon icon-right btn-shopping-cart">
																	<i class="fa fa-shopping-cart"></i>
																	<span>Add to Cart</span>
																</a>
															</div>
															<div class="product-footer">
																<div class="price">
																	<ins><span class="amount">£44.80</span></ins>
																	<del><span class="amount">£56.00</span></del>
																</div>
																<div class="star-rating">
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</div>
															</div>
														</div>
														<!-- Product / End -->
													</div>
												</div><!-- end row -->
											</li><!-- end grid demo -->
										</ul><!-- end drop down menu -->
									</li>
									<!-- Shop (Mega Menu) / End -->
									<li class="item-has-search">
										<form class="form-inline form-search__nav">
											<input type="text" value="" class="nav-search-txt">
											<i class="fa fa-search"></i>
										</form>
									</li>
									<li class="item-has-cart dropdown dropdown-right fhmm-fw">
										<div class="shopping-cart">

											<span class="cart-total">$ 526.00</span>
											<a href="#" data-toggle="dropdown" class="cart-icon dropdown-toggle dropdown-toggle__caret-holder"><i class="fa fa-shopping-cart"></i></a>
											<span class="cart-number">3</span>

											<ul class="dropdown-menu half half-right">
												<li class="fhmm-content withoutdesc">
													<!-- Shopping Cart -->
													<table class="table">
														<tbody>
															<tr>
																<td>
																	<a href="#" class="product-thumb-holder"><img src="images/samples/product-thumb-sm-1.jpg" alt="" class="product-thumb"></a>
																	<h4 class="product-name"><span class="product-count">1x</span> - T-shirt with logo.</h4>
																	<span class="product-desc-alt">Etiam rhoncus. Maecenas tempus.</span>
																</td>
																<td class="product-price">$284.00</td>
															</tr>
															<tr>
																<td>
																	<a href="#" class="product-thumb-holder"><img src="images/samples/product-thumb-sm-2.jpg" alt="" class="product-thumb"></a>
																	<h4 class="product-name"><span class="product-count">2x</span> - T-shirt with logo.</h4>
																	<span class="product-desc-alt">Etiam rhoncus. Maecenas tempus.</span>
																</td>
																<td class="product-price">$121.00</td>
															</tr>
															<tr>
																<td class="product-subtotal-txt">Subtotal</td>
																<td class="product-subtotal">$526.00</td>
															</tr>
															<tr>
																<td class="product-checkout">
																	<button type="submit" class="btn btn-primary btn-has-icon btn-confirm"><i class="fa fa-shopping-cart"></i> Checkout</button>
																</td>
																<td class="product-close">
																	<a href="#" class="btn btn-default btn-single-icon btn-cancel"><i class="fa fa-times"></i></a>
																</td>
															</tr>
														</tbody>
													</table>
													<!-- Shopping Cart / End -->
												</li><!-- end grid demo -->
											</ul><!-- end drop down menu -->

										</div>
									</li>
								</ul><!-- end nav navbar-nav -->
							</div><!-- end #main-nav -->

						</nav><!-- end navbar navbar-default fhmm -->
						<!-- Navigation / End -->
					</div>
				</div>
				
			</header>
			<!-- Header / End -->
		</div>
		
		<!-- Page Section -->
		
			
		
		<!-- Page Section / End -->
		<div class="content-wrapper">
			<!-- Post Nav -->
			
			<!-- Post Nav / End -->
			<a name="heading"></a>
			<!-- Page Section -->
			<section class="page-section">
				
				<div class="container">

					<div class="section-title-wrapper">
						<div class="section-title-inner">
							<h1 class="section-title section-title__lg">{{ user_profile.username }} Profile</h1>
							<ol class="breadcrumb">
								<li><a href="index.html">Home</a></li>
								<li class="active">My Profile</li>
							</ol>
						</div>
					</div>
					
					<div class="gap-10"></div>
					<nav class="post-nav">
						<ul class="pager-custom">
							<li class="previous">
								<!-- For mobile device -->
								<a href="blog-right-sidebar.html" class="btn btn-default btn-single-icon visible-xs-inline-block"><i class="fa fa-long-arrow-left"></i></a>
								<!-- For desktop -->
								<a href="blog-right-sidebar.html" class="btn btn-default btn-has-icon hidden-xs"><i class="fa fa-long-arrow-left"></i> Back to Profile</a>
							</li>
							<li class="next">
								<a href="#" class="btn btn-primary btn-has-icon icon-right"><i class="fa fa-chevron-right"></i><span>Next Week</span></a>
								<a href="#" class="btn btn-primary btn-has-icon"><i class="fa fa-calendar"></i><span>Today</span></a>
								<a href="#" class="btn btn-primary btn-has-icon"><i class="fa fa-chevron-left"></i><span>Last Week</span></a>
							</li>
						</ul>
					</nav>
					<!-- Filter Trigger -->
					<button class="btn btn-link filter-trigger" id="filterTrigger" data-toggle="collapse" data-target="#filterWrapper" aria-expanded="false" aria-controls="filterWrapper">
						<i class="fa fa-toggle-off"></i><span>Filter Planbook</span>
					</button>
					
					<!-- Filter Trigger / End -->

					<!-- Filter -->
					<div class="filter-wrapper collapse" id="filterWrapper">
						<div class="gap-30"></div>
							<div class="row">
								<div class="col-md-3">
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-has-icon icon-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fa fa-chevron-down"></i> Month
										</button>
										<div class="dropdown-menu">
										<li><a class="dropdown-item" href="#">Jan</a></li>
										<li><a class="dropdown-item" href="#">Feb</a></li>
										<li><a class="dropdown-item" href="#">Mar</a></li>
										
										</div>
									</div>
								
								</div>
								<div class="col-md-9 col-bordered__left">
									<div class="row">
										<div class="col-md-2">
											<strong class="filter-label">Grade:</strong>
										</div>
										<div class="col-md-10">
											<!-- Tags Filter -->
											<ul class="tags-filter tags-filter__with-label filter-group list-unstyled list-inline" data-filter-group="tags">
												<li><a href="#" class="btn btn-default btn-primary" data-filter="*">All</a></li>
												{% for grade in grade_list %}
												<li><a href="#" class="btn btn-default btn-primary" data-filter="*">{{ grade }}</a></li>
												{% endfor %}
											</ul>
											<!-- Tags Filter / End -->
										</div>
									</div>
								</div>
							</div>
								<br>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-1">
										<strong class="filter-label">Subject:</strong>
									</div>
									<div class="col-md-11">
										<!-- Tags Filter -->
										<ul class="tags-filter tags-filter__with-label filter-group list-unstyled list-inline" data-filter-group="tags">
											<li><a href="#" class="btn btn-default btn-primary" data-filter="*">All</a></li>
											{% for subject in subjects_list %}
											<li><a href="#" class="btn btn-default btn-primary" data-filter="*">{{ subject }}</a></li>
											{% endfor %}
										</ul>
										<!-- Tags Filter / End -->
									</div>
								</div>
							</div>
						
					</div>
					
					<!-- Filter / End -->
					
					
					<!----| We still need to edit add your own subject |-->
					<button type="button" class="btn btn-default btn-has-icon" style="float: right;" data-toggle="modal" data-target="#exampleModalCenter">
						<i class="fa fa-plus"></i> Create New Objective
					</button>
					
					<!-- Modal -->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">What are you planning this week?</h5>
						
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<form method="POST">
									{% csrf_token %}
									<div class="form-group">
										<label for="subject">Select Subject</label>
										<select class="form-control" name='subject' id="subject">
											{% for item in subject_matches %}
										  <option value='{{ item.id }}'>{{ item }}</option>
											{% endfor %}
										</select>
									  </div>
										<div class="form-group">
											
										  <textarea class="form-control" name='teacher_objective' id="teacher_objective" rows="4" placeholder='This week the students will learn .....'></textarea>
										</div>
										<label>Is this Objective teaching a Skill or a Topic</label>
										<br>
										<label>
											<input type="radio" name="is_skill" value=True checked>
											<img src="{% static 'images/skill.png' %}">
										  </label>
										  
										  <label>
											<input type="radio" name="is_skill" value=False>
											<img src="{% static 'images/topic.png' %}">
										  </label>
										<br>
									<input type="submit" value="Let's PlanIt!" class="btn btn-info">
								</form>

							</div>
							<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
						</div>
					</div>
					<div class="gap-20"></div>

						<!-- Posts -->
						<main class="col-md-">

					
							<br>
							<!-- Tabs -->
							{% for objective in class_objectives %}
							
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#tab1-1{{ objective.id}}" aria-controls="tab1-1" role="tab" data-toggle="tab">Objectives</a></li>
									<li role="presentation" ><a href="#tab1-2{{ objective.id}}" aria-controls="tab1-2{{ objective.id}}" role="tab" data-toggle="tab">Lessons</a></li>
									<li role="presentation"><a href="#tab1-3{{ objective.id}}" aria-controls="tab1-3{{ objective.id}}" role="tab" data-toggle="tab">Resources</a></li>
									<li role="presentation"><a href="#tab1-4{{ objective.id}}" aria-controls="tab1-4{{ objective.id}}" role="tab" data-toggle="tab">Reports</a></li>
								</ul>
								<!-- Tab panes -->
								
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="tab1-1{{ objective.id}}">
										<div class="title-bordered border__solid">
											<h5>{{ objective.subject }} - Week: {{ current_week }}</h5>
										</div>
										<ol>
											
											<li><a href="#" style="color:black;">{{objective.teacher_objective }}</a>
												<ul class="children">
													{% for standard in objective.objectives_standards.all %}
														{% ifchanged standard.standard_objective%}
														<h6>{{ standard.grade_level }}. {{standard.standard_objective }} </h6>
														{% endifchanged %}
													<p> - {{standard.competency }}</p>
													
													{% endfor %}
															
												</ul>
											</li>
											
											
										
										</ol>
									
									
										<div class='row'>
											<div class="col-sm-4">
												<h6>Grade Level(s): 
													<span class="badge badge-secondary">6th Grade</span>
													<span class="badge badge-secondary">7th Grade</span>
													<span class="badge badge-secondary">8th Grade</span>
												</h6>
											</div>
											<div class="col-sm-4">
												<h5>Blooms Level: 
													<span class="badge" style="background-color:#360167;">Remember</span>
													<span class="badge" style="background-color:#6B0772;">Understand</span>
													<span class="badge" style="background-color:#AF1281;">Apply</span>
													<span class="badge" style="background-color:#CF268A;">Analyze</span>
													<span class="badge" style="background-color:#E65C9C;">Evaluate</span>
													<span class="badge" style="background-color:#FB8CAB;">Create</span>
												</h5>
											</div>
											<div class="col-sm-4">
												<h5>Learning Styles: 
													<span class="badge btn-success"><i class="fa fa-leaf" title="Nature"></i></span>
													<span class="badge btn-success"><i class="fa fa-music" title="Musical"></i></span>
													<span class="badge btn-success"><i class="fa fa-child" title="Movement"></i></span>
													<span class="badge btn-success"><i class="fa fa-users" title="Groups"></i></span>
													<span class="badge btn-success"><i class="fa fa-user" title="Independent"></i></span>
													<span class="badge btn-success"><i class="fa fa-puzzle-piece" title="Logical"></i></span>
													<span class="badge btn-success"><i class="fa fa-paint-brush" title="Visual"></i></span>
												
												</h5>
											</div>
			
			
										</div>
										
								
										
									</div>
									<div role="tabpanel" class="tab-pane fade" id="tab1-2{{ objective.id}}">
										<div class="title-bordered border__solid">
											<h5><a href="{% url 'classroom_lesson' user_id=user_profile.id class_id=classroom_profile.id lesson_id=objective.id %}#heading">Lesson Overview</a></h5>
											
										</div>
									
										<div class='row'>

										
										<div class="col-sm-8">

										
										<div class="products-holder row">
										{% for lesson in lesson_activities %}
										{% if lesson.lesson_overview_id == objective.id %}
											<!-- Product -->
											<div class="product-item col-md-6 col-lg-6">
												
												<div class="product-info">
													<h3 class="product-name">{{ lesson.subject }} </h3>
													<span class="product-brand">{{ lesson.title }}</span>
													<a href="{% url 'classroom_lesson' user_id=user_profile.id class_id=classroom_profile.id lesson_id=objective.id %}#heading" class="btn btn-primary btn-has-icon icon-right btn-shopping-cart">
														<i class="fa fa-edit"></i>
														<span>View Activity</span>
													</a>
												</div>
												<footer class="product-footer">
													<div>
														<span class="badge" style="background-color:#360167;">Remember</span>
														<span class="badge" style="background-color:#6B0772;">Understand</span>
														<span class="badge btn-success"><i class="fa fa-leaf" title="Nature"></i></span>
														<span class="badge btn-success"><i class="fa fa-music" title="Musical"></i></span>
													</div>
												
												</footer>
											</div>
											<!-- Product / End -->
										{% endif %}
										{% endfor %}
										</div>
										</div>
										<div class="col-sm-4">
											<h5><a href="{% url 'classroom_vocabulary' user_id=user_profile.id class_id=classroom_profile.id lesson_id=objective.id %}#heading" style="color:black;">Vocabulary Words:</a></h5>
										
											
											
											<ul>
												{% for v_list in vocab_list %}
													{% if v_list.lesson_plan_id == objective.id %}
														{% for word in v_list.vocab_words.all %}
														<li><a href="#" style="color:black;">{{ word.word }}</a><br>
															{{ word.definition }}<br>
															{% if word.sentence %}
																
																{{ word.sentence }}
															
															{% endif %}
														</li>
														{% endfor %}
													{% endif %}
												{% endfor %}
											</ul>
											<h5>Main Questions:</h5>
											<ul>
												<li><a href="#" style="color:black;">What is a House</a><br>
													A dwelling</li>
												<li><a href="#" style="color:black;">Home</a></li>
											</ul>
									
											

										</div>
									</div>
									
										<br>
										<div class="title-bordered border__solid">
											<h5>Reccomended Activities</h5>
										</div>
										<!-- Products List -->
										<div class="products-holder row">
										
											<!-- Product -->
											<div class="product-item col-md-6 col-lg-6" style="background-color: lightgrey">
												
												<div class="product-info">
													<h3 class="product-name">English </h3>
													<span class="product-brand">This is teh activity for this oen </span>
													<a href="#" class="btn btn-primary btn-has-icon icon-right btn-shopping-cart">
														<i class="fa fa-plus"></i>
														<span>Add to My Planbook</span>
													</a>
												</div>
												<footer class="product-footer">
													<div>
														<span class="badge" style="background-color:#360167;">Remember</span>
														<span class="badge" style="background-color:#6B0772;">Understand</span>
														<span class="badge btn-success"><i class="fa fa-leaf" title="Nature"></i></span>
														<span class="badge btn-success"><i class="fa fa-music" title="Musical"></i></span>
													</div>
												
												</footer>
											</div>
											<!-- Product / End -->
											
										</div>
										<!-- Products List / End -->
									</div>
									<div role="tabpanel" class="tab-pane fade" id="tab1-3{{ objective.id}}">
										<div class="title-bordered border__solid">
											<h5>Item Characteristics #3</h5>
										</div>
										Phasellus dolor. Maecenas vestibulum mollis diam. Pellentesque ut neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Aenean viverra rhoncus pede. 
									</div>
									<div role="tabpanel" class="tab-pane fade" id="tab1-4{{ objective.id}}">
										<div class="title-bordered border__solid">
											<h5>Item Characteristics #4</h5>
										</div>
										Phasellus dolor. Maecenas vestibulum mollis diam. Pellentesque ut neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Aenean viverra rhoncus pede. 
									</div>
								</div>
								
								
								
							</div>
							<br>
						
								{% endfor %}
							<!-- Tabs / End -->
						</main>
						<!-- Posts / End -->


						
	

				</div>
			</section>
			<!-- Page Section / End -->

		</div>

{% endblock %}