{% extends 'base.html' %}
{% load static %}
{% block content %}

		<div class="top-wrapper top-wrapper__bg1" id="top">
			<!-- Header -->
			<header class="header header__fixed">
				<div class="header-main">
					<div class="container">

						<!-- Navigation -->
						<nav class="navbar navbar-default fhmm" role="navigation">

							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<i class="fa fa-bars"></i>
								</button>
								<!-- Logo -->
								<div class="logo">
									<a href="index.html"><img src="{% static 'images/planit_logo.png' %}" alt="Rocket"></a> 
									<!-- <h1><a href="index.html">Rocket</a></h1> -->
								</div>
								<!-- Logo / End -->
							</div><!-- end navbar-header -->

							<div id="main-nav" class="navbar-collapse collapse">
								<ul class="nav navbar-nav">

									<li><a href="index.html">Home</a></li>

									<!-- Elements (Mega Menu) -->
									<li class="dropdown fhmm-fw">
										<a href="index.html" data-toggle="dropdown" class="dropdown-toggle disabled dropdown-toggle__caret-holder">Features</a>
										<a class="dropdown-toggle dropdown-toggle__caret"><b class="caret"></b></a>

										<ul class="dropdown-menu fullwidth">
											<li class="fhmm-content withoutdesc">
												<div class="row">
													<div class="col-sm-6">
														<h3 class="title">Elements</h3>
														<div class="row">
															<div class="col-sm-6">
																<ul>
																	<li><a href="elements-accordions.html"><i class="fa fa-plus-square"></i> Accordions</a></li>
																	<li><a href="elements-alerts.html"><i class="fa fa-exclamation-triangle"></i> Alerts</a></li>
																	<li><a href="elements-buttons.html"><i class="fa fa-chevron-circle-right"></i> Buttons</a></li>
																	<li><a href="elements-fa-icons.html"><i class="fa fa-star"></i> FontAwesome Icons</a></li>
																	<li><a href="elements-features.html"><i class="fa fa-lightbulb-o"></i> Features</a></li>
																	<li><a href="elements-forms.html"><i class="fa fa-align-justify"></i> Forms</a></li>
																	<li><a href="elements-grid.html"><i class="fa fa-th"></i> Grid</a></li>
																	<li><a href="elements-images.html"><i class="fa fa-picture-o"></i> Images</a></li>
																</ul>
															</div>
															<div class="col-sm-6">
																<ul>
																	<li><a href="elements-pricing.html"><i class="fa fa-th-large"></i> Pricing</a></li>
																	<li><a href="elements-progress.html"><i class="fa fa-tasks"></i> Progress Bars</a></li>
																	<li><a href="elements-sections.html"><i class="fa fa-square-o"></i> Sections</a></li>
																	<li><a href="elements-sliders.html"><i class="fa fa-random"></i> Sliders</a></li>
																	<li><a href="elements-tables.html"><i class="fa fa-table"></i> Tables</a></li>
																	<li><a href="elements-tabs.html"><i class="fa fa-columns"></i> Tabs</a></li>
																	<li><a href="elements-testimonials.html"><i class="fa fa-quote-left"></i> Testimonials</a></li>
																	<li><a href="elements-typography.html"><i class="fa fa-font"></i> Typography</a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<h3 class="title">Pages</h3>
														<ul role="menu">
															<li><a href="404.html">404 Error</a></li>
															<li><a href="coming-soon.html">Coming Soon</a></li>
															<li><a href="under-construction.html">Under Construction</a></li>
														</ul><!-- end drop down menu -->
													</div>
													<div class="col-sm-3">
														<h3 class="title">Text</h3>
														<div class="fhmm-content-inner">
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ante arcu, malesuada et ex vitae, pulvinar dictum eros. Nullam imperdiet sagittis.</p>

															<p>Cras ultricies nisl ac velit vehicula, a euismod magna cursus. Quisque a felis ut felis malesuada dignissim.</p>
														</div>
													</div>
												</div><!-- end row -->
											</li><!-- end grid demo -->
										</ul><!-- end drop down menu -->
									</li>
									<!-- Elements (Mega Menu) / End -->

									<li><a href="gallery-main.html">Our Work</a></li>

									<li class="dropdown active">
										<a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-toggle__caret-holder">Blog</a>
										<a class="dropdown-toggle dropdown-toggle__caret"><b class="caret"></b></a>
										<ul class="dropdown-menu" role="menu">
											<li class="active"><a href="blog-right-sidebar.html">Blog - Right Sidebar</a></li>
											<li><a href="blog-left-sidebar.html">Blog - Left Sidebar</a></li>
											<li><a href="blog-masonry.html">Blog - Masonry</a></li>
											<li><a href="blog-single-full-width.html">Post - Full Width</a></li>
											<li><a href="blog-single-right-sidebar.html">Post - Right Sidebar</a></li>
											<li><a href="blog-single-left-sidebar.html">Post - Left Sidebar</a></li>
										</ul><!-- end drop down menu -->
									</li>

									<!-- Shop (Mega Menu) -->
									<li class="dropdown fhmm-fw">
										<a href="index.html" data-toggle="dropdown" class="dropdown-toggle disabled dropdown-toggle__caret-holder">Shop</a>
										<a class="dropdown-toggle dropdown-toggle__caret"><b class="caret"></b></a>

										<ul class="dropdown-menu fullwidth">
											<li class="fhmm-content withoutdesc">
												<div class="row">
													<div class="col-sm-4">
														<h3 class="title">Pages</h3>
														<ul>
															<li><a href="shop-right-sidebar.html">Shop - Right Sidebar</a></li>
															<li><a href="shop-left-sidebar.html">Shop - Left Sidebar</a></li>
															<li><a href="shop-fullwidth.html">Shop - Full Width</a></li>
															<li><a href="shop-single-product.html">Shop - Product</a></li>
															<li><a href="shop-checkout.html">Shop - Checkout</a></li>
														</ul>
													</div>
													<div class="col-sm-4">
														<h3 class="title">Products</h3>
														<ul>
															<li><a href="shop-single-product.html">Product Name #1</a></li>
															<li><a href="shop-single-product.html">Product Name #2</a></li>
															<li><a href="shop-single-product.html">Product Name #3</a></li>
															<li><a href="shop-single-product.html">Product Name #4</a></li>
															<li><a href="shop-single-product.html">Product Name #5</a></li>
															<li><a href="shop-single-product.html">Product Name #6</a></li>
															<li><a href="shop-single-product.html">Product Name #7</a></li>
														</ul>
													</div>
													<div class="col-sm-4">
														<h3 class="title">Featured</h3>
														<!-- Product -->
														<div class="product-item">
															<figure class="product-thumbnail">
																<img src="images/samples/product-img1-cart.jpg" alt="" class="thumbnail img-responsive">
																<span class="product-btn-group">
																	<a href="images/samples/gallery-l-img2.jpg" title="T-shirt with logo" class="btn btn-primary btn-single-icon product-popup magnific-popup-link"><i class="fa fa-plus"></i></a>
																	<a href="shop-single-product.html" class="btn btn-primary btn-single-icon product-link"><i class="fa fa-link"></i></a>
																</span>
															</figure>
															<div class="product-info">
																<h3 class="product-name">T-shirt with logo</h3>
																<span class="product-brand">Company T-shirts</span>
																<a href="#" class="btn btn-primary btn-has-icon icon-right btn-shopping-cart">
																	<i class="fa fa-shopping-cart"></i>
																	<span>Add to Cart</span>
																</a>
															</div>
															<div class="product-footer">
																<div class="price">
																	<ins><span class="amount">£44.80</span></ins>
																	<del><span class="amount">£56.00</span></del>
																</div>
																<div class="star-rating">
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																</div>
															</div>
														</div>
														<!-- Product / End -->
													</div>
												</div><!-- end row -->
											</li><!-- end grid demo -->
										</ul><!-- end drop down menu -->
									</li>
									<!-- Shop (Mega Menu) / End -->
									<li class="item-has-search">
										<form class="form-inline form-search__nav">
											<input type="text" value="" class="nav-search-txt">
											<i class="fa fa-search"></i>
										</form>
									</li>
									<li class="item-has-cart dropdown dropdown-right fhmm-fw">
										<div class="shopping-cart">

											<span class="cart-total">$ 526.00</span>
											<a href="#" data-toggle="dropdown" class="cart-icon dropdown-toggle dropdown-toggle__caret-holder"><i class="fa fa-shopping-cart"></i></a>
											<span class="cart-number">3</span>

											<ul class="dropdown-menu half half-right">
												<li class="fhmm-content withoutdesc">
													<!-- Shopping Cart -->
													<table class="table">
														<tbody>
															<tr>
																<td>
																	<a href="#" class="product-thumb-holder"><img src="images/samples/product-thumb-sm-1.jpg" alt="" class="product-thumb"></a>
																	<h4 class="product-name"><span class="product-count">1x</span> - T-shirt with logo.</h4>
																	<span class="product-desc-alt">Etiam rhoncus. Maecenas tempus.</span>
																</td>
																<td class="product-price">$284.00</td>
															</tr>
															<tr>
																<td>
																	<a href="#" class="product-thumb-holder"><img src="images/samples/product-thumb-sm-2.jpg" alt="" class="product-thumb"></a>
																	<h4 class="product-name"><span class="product-count">2x</span> - T-shirt with logo.</h4>
																	<span class="product-desc-alt">Etiam rhoncus. Maecenas tempus.</span>
																</td>
																<td class="product-price">$121.00</td>
															</tr>
															<tr>
																<td class="product-subtotal-txt">Subtotal</td>
																<td class="product-subtotal">$526.00</td>
															</tr>
															<tr>
																<td class="product-checkout">
																	<button type="submit" class="btn btn-primary btn-has-icon btn-confirm"><i class="fa fa-shopping-cart"></i> Checkout</button>
																</td>
																<td class="product-close">
																	<a href="#" class="btn btn-default btn-single-icon btn-cancel"><i class="fa fa-times"></i></a>
																</td>
															</tr>
														</tbody>
													</table>
													<!-- Shopping Cart / End -->
												</li><!-- end grid demo -->
											</ul><!-- end drop down menu -->

										</div>
									</li>
								</ul><!-- end nav navbar-nav -->
							</div><!-- end #main-nav -->

						</nav><!-- end navbar navbar-default fhmm -->
						<!-- Navigation / End -->
					</div>
				</div>
				
			</header>
			<!-- Header / End -->
		</div>
		
		
		<div class="content-wrapper">
			<a name="heading"></a>
			<!-- Page Section -->
			<section class="page-section">
				<div class="container">

					<div class="section-title-wrapper">
						<div class="section-title-inner">
							<h1 class="section-title section-title__lg">{{ user_profile.username }} Profile</h1>
							<ol class="breadcrumb">
								<li><a href="index.html">Home</a></li>
								<li class="active">My Profile</li>
							</ol>
						</div>
					</div>
					<a href="{% url 'classroom_settings' user_id=user_profile.id class_id='New' edit=0 %}#heading" class="btn btn-primary btn-has-icon"><i class="fa fa-plus"></i>Add New Classroom</a>
					
					<div class="gap-10"></div>
					<div class="row">

						<!-- Posts -->
						<main class="col-md-9">
						
							<!-- Post (Standard Format) -->
							{% for classroom in classrooms_matches %}
							<article class="entry">
								<figure class="entry-thumbnail">
									<a href="#"><img  src="{% static 'images/samples/first_grade_sm.png' %}"  alt=""></a>
								</figure>
								<ul class="entry-cats">
									<li><a href="{% url 'classroom_planbook' user_id=user_profile.id class_id=classroom.id subject='All' %}#heading"><span>Planbook</span></a></li>
									<li><a href="{% url 'classroom_students' user_id=user_profile.id class_id=classroom.id student_id='All' %}#heading"><span>Students</span></a></li>
									<li><a href="{% url 'classroom_analytics' user_id=user_profile.id class_id=classroom.id subject='All' %}#heading"><span>Analytics</span></a></li>
									<li><a href="{% url 'classroom_assignments' user_id=user_profile.id class_id=classroom.id subject='All' %}#heading"><span>Assignments</span></a></li>
								</ul>
								<div class="entry-body">
								
									<header class="entry-header">
										<div class="title-bordered border__solid">
											<h4><a href="{% url 'classroom_settings' user_id=user_profile.id class_id=classroom.id edit=0 %}#heading">{{ classroom.classroom_title }}</a></h4>
										</div>
									</header>
									<div class="entry-excerpt">
										This planning period, You have created lessons for 20 Objectives in <a href="#">5 subjects</a> which matched to <a href="#">15 standards</a>, 50% of your lessons were on the <a href="#">Blooms Level: Define</a>, and the your major learning styles were: <a href="#">1. Visual/Spatial; 2. Verbal.</a><br>You created <a href="#">0 assignments</a> and there is <a href="#"> 0 student performance</a> data for this period.
									</div>
								</div>
								<footer class="entry-footer">
									<div class="pull-left">
										Main Teacher: <a href="#" class="dotted-link1">{{ classroom.main_teacher }}</a>
									</div>
									<div class="pull-right">
										<a href="#" class="dotted-link2"><span>View Summary</span> <i class="fa fa-chevron-right"></i></a>
									</div>
								</footer>
							</article>
							{% endfor %}
							<!-- Post (Standard Format) / End -->



							<!-- Pagination -->
							<ul class="pagination__custom list-unstyled list-inline">
								<li><a href="#" class="btn btn-default"><i class="fa fa-angle-left"></i></a></li>
								<li><a href="#" class="btn btn-primary">1</a></li>
								<li><a href="#" class="btn btn-default">2</a></li>
								<li><a href="#" class="btn btn-default">3</a></li>
								<li><a href="#" class="btn btn-default">4</a></li>
								<li><a href="#" class="btn btn-default"><i class="fa fa-angle-right"></i></a></li>
							</ul>
							<!-- Pagination / End -->


							<!-- Loading -->
							<!-- <div class="text-center">
								<button type="button" id="loading-btn" data-loading-text="Loading..." class="btn btn-link loading-btn" autocomplete="off">
									<span><i class="fa fa-refresh"></i> Load more</span>
								</button>
							</div> -->
							<!-- Loading / End -->

						</main>
						<!-- Posts / End -->


						<!-- Sidebar -->
						<div class="sidebar col-md-3">

							<!-- Widget :: Search -->
							<aside class="widget widget_search widget__sidebar">
								<form method="get" class="search-form clearfix" action="#">
									<div class="form-group">
										<input type="text" class="form-control" value="" placeholder="Search...">
										<button class="btn"><i class="fa fa-search"></i></button>
									</div>
								</form>
								
							</aside>
							<!-- /Widget :: Search -->

							<!-- Widget :: Categories -->
							<div class="widget_categories widget widget__sidebar">
								<ul>
									<li><a href="#">Planbook</a>
										<ul class="children">
											<li><a href="#">First Grade</a></li>
											<li><a href="#">Second Grade</a></li>
											<li><a href="#">Third Grade</a></li>		
										</ul>
									</li>
									<li><a href="#">Students</a></li>
									<li><a href="#">Assignments</a></li>
									<li><a href="#">Resource Library</a></li>
									<li><a href="#">Settings</a></li>
								</ul>
							</div>
					
							
						</div>
						<!-- Sidebar / End-->
					</div>

				</div>
			</section>
			<!-- Page Section / End -->

		</div>

{% endblock %}